html {
    font: 100% "微软雅黑", sans-serif;
}

body,
div,
img,
p,
span,
li,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: sans-serif;
}

li,
ul {
    list-style: none;
}
pre{
    width: 100%;
    white-space: pre-wrap;
    font-size: 1.2rem;
}
.f-big {
    font-size: 1.6rem;
}

.f-md {
    font-size: 1.1rem;
}

.f-sm {
    font-size: .9rem;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
}

.viewbox {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f386a2;
    padding: 1.2rem;
    overflow: hiden;
}

.rule {
    padding: 0 .4rem;
    background-color: rgba(250, 250, 250, .6);
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: .75rem;
}

.rule>span {
    display: inline-block;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin-top: .25rem;
    margin-left: .5rem;
}

.titlebox {
    width: 100%;
    height: auto;
    padding: 0 1rem 1rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 12.5vw;
    position: relative;
    overflow: hidden;
}

.tcenter {
    text-align: center
}

.f-black {
    color: #272727;
}

.f-grey {
    color: #575757;
}

.f-light {
    color: #f0f0f0;
}

.f-red {
    color: red;
}

.f-org {
    color: rgb(253, 219, 23);
    font-weight: 600;
}

.imghead {
    width: 25vw;
    height: 25vw;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    border-radius: 50%;
    background-color: cadetblue;
    z-index: 100;
}

.username {
    margin-top: 17vw;
}

.f-find {
    margin: 1rem 0;
}

.row {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.column{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.row>span {
    display: block;
}

.spb {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.goodsbox {
    background-color: rgba(200, 200, 200, .5);
    padding: .5rem;
    position: relative;
}

.goodsdtl {
    width: calc(100% - 20vw - .5rem);
    margin-left: .5rem;
    position: relative;
}

.goodsdtl>p:first-child {
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.goodsdtl>p:last-child {
    line-height: 1.2rem;
}

.goodsdtl>p {
    width: 100%;
}

.goods {
    width: 20vw;
    height: 20vw;
    background-color: rgb(36, 82, 60);
    display: block;
}

.d-bottom {
    position: absolute;
    bottom: .5rem;
}

.bargainbox {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    margin-top: 2.4rem;
}

.otherbargain,
mybargain {
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0;
}

.btn-barg {
    
    width: 45%;
    /* border-radius: 5px;
    background: burlywood; */
    /* color: brown; */
}
.btn-barg img{
    width: 100%;
    height: auto;
}
.btn-invite {
    width: 100%;
}

.barglist {
    margin: 1rem 0;
}

.list-img {
    width: 3rem;
    height: 3rem;
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    margin-right: .5rem;
}

.right-box {
    width: calc(100% - 3.5rem);
    justify-content: space-between;
    line-height: 3rem;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, .5);
}

.dialog-bg .dialog-info {
    width: 90%;
    min-width: 250px !important;
}

.d-login {
    width: 100%;
    margin: 1rem 0;
}

.d-login>* {
    display: block;
    height: 2rem;
}

.d-login span {
    width: 20vw;
    line-height: 2rem;
    color: #575757;
}

.d-login input {
    width: 80vw;
    padding: .2rem;
    line-height: 1.6rem;
    border: 1px solid #979797;
    border-radius: 4px;
    font-size: 1rem;
}

.a-ok {
    width: 100%;
}
.bg-white{
    background-color: #fff;
}