.mui-preview-image.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto 4;
				width: 70px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-size: 16px;
			}
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
			}
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			.mui-preview-loading.mui-active {
				display: block;
			}
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
			@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			#main {
				background-color: white!important;
			}
			
			img {
				width: 100%;
			}
			
			.txtinfo {
				background-color: white;
				padding: 5px 10px;
				line-height: 1.4;
				letter-spacing: 1px;
			}
			
			.mark {
				color: coral;
				margin: 0 2px;
			}
			
			.view {
				padding: 5px 15px;
				color: gray;
			}
			
			.view span {
				color: lightgray;
				font-size: 20px;
			}
			
			.looker {
				overflow: hidden;
				padding: 8px;
				white-space: nowrap;
			}
			
			.looker li {
				display: inline-block;
				border: 1px solid lightgray;
				border-radius: 50%;
				padding: 1px;
				overflow: hidden;
				width: 0.38rem;
				height: 0.38rem;
				margin: 4px;
				text-align: center;
			}
			
			.looker li:last-child {
				color: white;
				line-height: 0.35rem;
				background: lightgray;
			}
			
			.looker li img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
			
			.noComment {
				margin: auto;
				width: 1rem;
				text-align: center;
			}
			
			.noComment p {
				padding: 0.1rem 0 0.2rem;
				font-size: 12px;
			}
			
			.commentNums {
				padding: 15px 0;
				text-align: center;
				background: #EEEEEE;
			}
			
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
			
			.oa-contact-avatar {
				width: 35px;
				height: 35px!important;
			}
			
			.oa-contact-avatar img {
				border-radius: 50%;
				height: 35px;
			}
			
			.oa-contact-content {
				width: 100%;
			}
			
			.oa-contact-name {
				font-size: 14px;
				margin-right: 20px;
			}
			
			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
			
			.comment .mui-table-view-cell:after {
				height: 0px!important;
				-webkit-transform: none;
				background-color: none;
			}
			
			.cheader {
				position: relative;
			}
			
			.cheader img {
				position: absolute;
				top: 5%;
			}
			
			.oaright {
				position: relative;
				left: 15px;
			}
			
			.oaright:after {
				position: absolute;
				right: 0;
				bottom: 0;
				content: '';
				left: 0;
				height: 1px!important;
				-webkit-transform: scaleY(0.3);
				background-color: #eee;
			}
			.oaright p {
				word-break: break-all;
				color: rgba(0, 0, 0, 0.6);
				font-size: 13px;
				/*padding-top: 5px;*/
				line-height: 1.5;
			}
			
			.ifcmt {
				padding-bottom: 40px;
			}
			
			.cocmt {
				width: 97%;
				background-color: whitesmoke;
				padding: 5px;
				border-radius: 5px;
				margin: 10px 0;
			}
			
			.cocmt span {
				color: skyblue;
			}
			
			.cocmt p:last-child {
				color: skyblue;
			}
			
			.ctime {
				font-size: 10px;
				color: #C0C0C0;
				margin-top: 5px;
			}
			
			.mui-table-view-cell.mui-active {
				background-color: none!important;
			}
			
			.cmtinput {
				position: fixed;
				bottom: 0;
				left: 0;
				height: 40px;
				display: table;
				width: 100%;
				background-color: whitesmoke;
			}
			
			.cmtinput>div {
				display: table-cell;
			}
			
			.inputmn {
				position: relative;
				background-color: white;
				color: gray;
				width: 80%;
			}
			
			.innerInput {
				margin: 10px!important;
				line-height: 20px;
				border-left: 2px solid palevioletred;
			}
			.inputmn img{
				position: absolute;
				width: 30px;
				top: 50%;
				margin-top: -15px;
				right: 0;
				height: 30px;
			}
			@media (max-width: 340px) {
				.looker li {
					width: 0.32rem;
					height: 0.32rem;
				}
				.looker li:last-child {
					line-height: 0.32rem;
				}
			}
			
			@media (min-width: 400px) {
				.looker li {
					width: 0.42rem;
					height: 0.42rem;
				}
				.looker li:last-child {
					line-height: 0.42rem;
				}
			}
			
			.heart:hover,
			.heart:focus {
				background-position: right;
			}
			
			@-webkit-keyframes heartBlast {
				0% {
					background-position: left;
				}
				100% {
					background-position: right;
				}
			}
			
			@keyframes heartBlast {
				0% {
					background-position: left;
				}
				100% {
					background-position: right;
				}
			}
			
			.heartAnimation {
				display: inline-block;
				-webkit-animation-name: heartBlast;
				animation-name: heartBlast;
				-webkit-animation-duration: .8s;
				animation-duration: .8s;
				-webkit-animation-iteration-count: 1;
				animation-iteration-count: 1;
				-webkit-animation-timing-function: steps(28);
				animation-timing-function: steps(28);
				background-position: right;
			}
			
			.feed p {
				font-family: "Microsoft YaHei", 'Georgia', Times, Times New Roman, serif;
				font-size: 25px;
			}
			
			.feed {
				margin-bottom: : 20px;
				position: relative;
			}
			
			.likeCount {
				font-size: 12px;
				display: inline-block;
				color: #999999;
				vertical-align: middle1!important;
			}
			.tiec{
				background: #f2f1ee;padding: 10px;margin-top: 10px;color: black;
				margin-right: 15px;
			}
			.tiec img{
				width: 0.5rem;vertical-align: middle;
			}
			.tiename{
				color: black;
				font-size: 0.12rem!important;
			}
.tiename span{
	
	color: #34b0b9;
}
