.mui-content{background: none !important;}
.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content{height: 100%;}
.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 25px;
}
.mui-btn {
	padding: 10px;
}
.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}
.spliter {
	color: #bbb;
	padding: 0px 8px;
}
.oauth-area {
	position: absolute;
	bottom: 20px;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.oauth-area .oauth-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 20px;
	/*-webkit-filter: grayscale(100%); */
	border: solid 1px #ddd;
	border-radius: 25px;
}
.oauth-area .oauth-btn:active {
	border: solid 1px #aaa;
}
.oauth-area .oauth-btn.disabled {
	background-color: #ddd;
}
.mui-bar{
	height: 50px;
	background-color: #f53c42;
}
.mui-title,.mui-icon{
	line-height: 50px;
}
.mui-bar .mui-icon{
	padding: 0;
}
.mui-bar-nav.mui-bar .mui-icon,.mui-title,.mui-icon{
	color: #fff;
}
.mui-bar-nav.mui-bar .mui-icon{margin-left: 0 !important;}
.mui-bar-nav{
	box-shadow: none;
}
.mui-icon{
	line-height: 50px;
}
.mui-icon .iconfont{
	font-size: 18px;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	background-color: #ff5248 !important;
}
.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech{
	top:0px;
}
.mui-icon-clear{
	display: none !important;
}
#goSign, #forgetPassword{
	color: #777;
}
.cannotbtn{
	background-color: rgba(255, 82, 72, 0.47) !important
}
.mui-input-group .mui-input-row {height: 50px !important;
}
.mui-input-row label {padding: 16px 15px !important;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	height: 50px;
}
.ui-page-login, body {height: auto;
}
::-webkit-input-placeholder{
	font-size: 14px;
}
.mui-content{background: none !important;}
			.ui-page-login,
			body {
				width: 100%;
				height: 100%;
				margin: 0px;
				padding: 0px;
			}
			.mui-content{height: 100%;}
			.area {
				margin: 20px auto 0px auto;
			}
			.mui-input-group {
				margin-top: 10px;
			}
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			.mui-input-group label {
				width: 22%;
			}
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 78%;
			}
			.mui-checkbox input[type=checkbox],
			.mui-radio input[type=radio] {
				top: 6px;
			}
			.mui-content-padded {
				margin-top: 3px;
			}
			.mui-btn {
				padding: 10px;
			}
			.link-area {
				display: block;
				margin-top: 25px;
				text-align: center;
			}
			.spliter {
				color: #bbb;
				padding: 0px 8px;
			}
			.oauth-area {
				position: absolute;
				bottom: 20px;
				left: 0px;
				text-align: center;
				width: 100%;
				padding: 0px;
				margin: 0px;
			}
			.oauth-area .oauth-btn {
				display: inline-block;
				width: 50px;
				height: 50px;
				background-size: 30px 30px;
				background-position: center center;
				background-repeat: no-repeat;
				margin: 0px 20px;
				/*-webkit-filter: grayscale(100%); */
				border: solid 1px #ddd;
				border-radius: 25px;
			}
			.oauth-area .oauth-btn:active {border: solid 1px #aaa;
			}
			.oauth-area .oauth-btn.disabled {background-color: #ddd;
			}
			.mui-bar{height: 50px;
				background-color: #f53c42;
			}
			.mui-title,.mui-icon{line-height: 50px;
			}
			.mui-bar .mui-icon{padding: 0;
			}
			.mui-bar-nav.mui-bar .mui-icon,.mui-title,.mui-icon{color: #fff;
			}
			.mui-bar-nav.mui-bar .mui-icon{margin-left: 0 !important;}
			.mui-bar-nav{box-shadow: none;
			}
			.mui-icon{line-height: 50px;
			}
			.mui-icon .iconfont{font-size: 18px;
			}
			.mui-btn-blue, .mui-btn-primary, input[type=submit]{background-color: #ff5248  !important;
			}
			#yanzheng{line-height: 40px;
				padding:0;
			}
			.agreement1{padding: 10px;text-align: center;
			}
			.agreement1 span{color: #555;font-size: 14px;
			}
			.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size: 17px;
			}
			.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
				position: static;
			}
			.mui-checkbox label, .mui-radio label{padding-right: 0px;width: auto !important;
			}
			.mui-checkbox.mui-left label, .mui-radio.mui-left label{padding: 0;padding-top: 10px;
			}
			.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
				float: none;
			}
			.mui-btn-block{padding: 12px 0;}
			.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech{
				top: 0px;
			}
			.mui-icon-clear{
				display: none !important;
			}
			#goLogin{color: #777;}
			.cannotbtn{background-color: rgba(255, 82, 72, 0.47) !important
			}
			.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
			    color: #ec7678;
			}
			.mui-input-group .mui-input-row {height: 50px !important;
			}
			.mui-input-row label {padding: 16px 15px !important;
			}
			input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
				height: 50px;
			}
			.mui-btn {padding: 10px;
			}
			.ui-page-login, body {height: auto;
			}
			/*#VeCode{
			    padding-right: 200px;
			}*/
			.VeCode_wrap{position: relative;
			}
			.VeCode_wrap span{position: absolute;display: inline-block;line-height: 50px;right: 10px;
			}
			#Vediv{position: relative;
			}
			.Veb{position: absolute;bottom: 0;left: 16px;font-weight: normal;color: red;font-size: 10px;
			}
			::-webkit-input-placeholder{
				font-size: 14px;
			}
/*新的登陆*/
body{
	background-color: #fff !important;

}
.loginwrap {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}
.logincell {
    display: table-cell;
    vertical-align: middle;
    padding: 0 9%;
}
.mui-bar-nav {
    box-shadow: none !important;
}
.loginNum .yonghuPicW{
    width: 8%;
    float: left;
    height: 40px;
    line-height: 40px;
}
.loginNum .yonghuPicW img{width: 100%; vertical-align: middle;}
.loginNum input{
    width: 92%;
    float: left;
    border: none;
    margin-bottom: 0px;
    height: 40px;
    color: #666;
}
.loginNum input#password{width: 84% !important;}
.loginNum{
	background: url(../img/loginHtml/biankuangL.png) bottom left no-repeat;
	margin-bottom: 25px;padding-bottom: 5px;
	}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999;
}
.denlu{
    background-color: #f63d41;
    color: #fff;
    border: none;
}
.cannotbtn{    background-color: #ccc !important;color: #fff;}

.mui-btn-block {
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 0;
}
#goSign{float: left;}
#forgetPassword{float: right;}
.loginFoot a{color: #999 !important;font-weight: 600;}
.xieyilogin{
    margin-top: -8px;
	margin-bottom: 8px;
}
#hook{
	text-align: right;
}
.loginNum1{position: relative;}
.loginNum1 input{width: 60%;}
.loginNum1 .yonghuPicW1{
	width: 40%;
	color: #666;
	text-align: right;
}
.loginNum1 .yonghuPicW1 span{
    background: url(../img/loginHtml/yankuang.png) 0 0 no-repeat;
    background-size: 100% 100%;
    font-size: 13px;
    padding: 8px 7px 6px;
    border-radius: 3px;
}

