.mui-bar{padding-left: 2px !important;}
.hasManyCity .searchBox {
				width: 63%;
			}
			/*banner底部导航*/
			 #main{
			 	margin-top: 0!important;
			 }
			.hiLimit{display: flex;justify-content: space-between;align-items: center;padding-bottom: 10px;color: #f63d41}
			.hiLimit img{width: 20px;}
			.hiLimit2{padding: 10px 0;}
			.hiLimit span{font-size: 14px;}
			.mui-slider-indicator .mui-indicator {
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background: #dbdcdc;
				opacity: 0.8;
				cursor: pointer;
				margin: 1px 1px;
				border: none;
				box-shadow: none;
			}
			.mui-slider-indicator .mui-active.mui-indicator {
				background-color: #ff625f;
				box-shadow: none;
				opacity: .8;
				border: none;
			}
			/*优化显示*/

			#banner {
				position: relative;
				margin-top: 0px;
				top: 0px;
				width: 100%;
				padding-top: 48%;
				/*padding-top: 42%;*/
				overflow: hidden;
				background: url(../img/bannerback.svg) 50% 50% no-repeat;
				background-size: 20%;
			}
			.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item){
				height: 100%;
			}

			.mui-slider .mui-slider-group {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
			}

			.mui-slider .mui-slider-group .mui-slider-item img {
				height: 100%;
			}

			#ad {
				position: relative;
				padding-top: 50%;
			}

			.rowpad1 {
				position: absolute;
				top: 0;
				left: 0;
			}

			.rowpad2 {
				position: absolute;
				top: 0;
				right: 0;
			}

			.rowpad1,
			.rpad {
				background: url(../img/bannerback.svg) 50% 50% no-repeat;
				background-size: 20%;
			}
			/*优化显示结束*/

			.mui-slider {
				margin-top: 50px;
			}

			.rcdPadding {
				position: relative;
				display: inline-block;
				padding-top: 100%;
				/*padding-top: 80%;*/
				width: 100%;
				overflow: hidden;
			}

			.rcdPadding img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.onetable {
				margin-top: 0;
				background-color: #fff;
				padding-bottom: 12px;
				margin-bottom: 0;
			}
			.onetable p {
				margin-top: -5px;
				font-size: 11px;
				margin-bottom: 5px;
			}

			.fontcl2 {
				font-size: 14px;
				padding-top: 5px;
				line-height: 20px;
				width: 100%;
			}

			.fontcl2 span {
				display: inline-block;
				width: 40%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.sy_recmd_list .pub_wz {
			    position: relative;
			    padding: 0 6px;
		        /*border: 1px solid rgba(204, 204, 204, 0.73);*/
			    border-top: none;
			    border-bottom-left-radius: 4px;
			    border-bottom-right-radius: 4px;
			    top: -2px;
			}

			sub {
				bottom: 0;
				font-size: 70%;
			}

			.fr {
				position: absolute;
				float: right;
				display: block;
				top: 12px;
				right: 5px;
				font-size: 10px;
			}

			.sy_recmd_list .pub_wz .nr_box {
				border-top: none;
			}

			.sy_recmd_list .pub_wz .nr_box {
				margin-top: -5px;
			}

			.onetable p {
				font-size: 11px;
				color: #777;
			}

			.act_l img,
			.act_r img,
			.act_b_l img,
			.act_b_r img {
				height: 100%;
				overflow: hidden;
			}
			/*广告图片样式*/

			.activity {
				position: relative;
			}

			.act_l {
				height: 100%;
			}

			.act_r {
				height: 100%;
			}

			.act_top {
				height: 50%;
				overflow: hidden;
				top: 0;
				right: 0;
				position: absolute;
				width: 60%;
			}

			.act_l_b {
				position: absolute;
				bottom: 0;
				height: 50%;
				overflow: hidden;
			}

			.act_b_l,
			.act_b_r {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			.sy_recmd_list .pub_img img {
				height: 100%;
			    border-top-left-radius: 2px;
				border-top-right-radius: 2px;
			}

			.hotImg {
				/*height: 170px;
				max-height: 170px;
				min-height: 170px;*/
				overflow: hidden;
			}

			.mb10 {
				/*background-color: #EFEFF4;*/
				color: #666;
				margin-bottom: 0px!important;
			}

			.mb10 img {
				width: 18px;
				margin-right: 5px;
			}

			.left {
				padding-left: 10px;
				padding: 5px 0;
				text-align: center;
				width: 100%;
			}

			.sy_title {
				border-bottom: none;
				border-top: none;
				font-size: 0.12rem;
				padding: 0.01rem 8px;
				padding-right: 6px;
			}

			.sy_recmd_list .box {
				border: none;
				margin: 0 !important;
				box-shadow: none;
				background: url(../img/mainHtml/baisedikuang.png) no-repeat;background-size: 100% 100%;/*背景边框*/
				padding: 0.8px 0.6px;
			}

			.saled {
				text-align: right;
			}

			.PriceB {
				text-align: left !important;
			}

			table {
				overflow: scroll;
			}
			/*加载*/

			#upload {
				text-align: center;
				font-size: 15px;
				line-height: 30px;
				min-height: 40px;
			}

			#upload img {
				width: 60px;
				margin-top: -10px;
			}

			.sy_recmd_list .pub_wz h3 a {
				color: #666;
				line-height: 16px;
				font-size: 13px;
				position: relative;
				width: 100%;
				padding-top: 6px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				min-height: 39px;
			}

			.sy_recmd_list_box {
				padding-left: 0;
				padding: 0 5px;
			}
			.sy_recmd_list{
				padding: 5px;
			}
			.imgWrap {
				width: 56px;
				height: 56px;
				margin: 13px auto 5px;
			}
			.imgWrap img {
				width: 30px !important;
				margin: 13px auto !important;
			}
			.date {
				margin-top: 18px !important;
			}
			.imgWrap1 {
				background-color: #ef5958;
			}
			.imgWrap2 {
				background-color: #77b95d;
			}
			.imgWrap3 {
				background-color: #7ed2f3;
			}
			.imgWrap4 {
				background-color: #f9c94e;
			}
			.imgWrap5 {
				background-color: #8ea4ca;
			}
			.imgWrap6 {
				background-color: #ef99be;
			}
			.imgWrap7 {
				background-color: #a881be;
			}
			.imgWrap8 {
				background-color: #d1d2d4;
			}
			.qrcodeBtn {
			    background: url(../img/mainHtml/saoma.png) no-repeat;
			    position: absolute;
			    width: 50px;
			    height: 60%;
			    max-height: 50px;
			    top: 0;
			    right: 12px;
			    background-size: 88% 70%;
			    background-position: 3px 10px;
			}

			.hasManyCity .qrcodeBtn {
				width: 14%;
			}
			#header{
				 background-image: none;
			}
			/*精选频道*/
			.choiceness {
				margin-top: 5px;
				padding-bottom: 5px;
			}
			.choiceness p{
				text-align: center;
				color: #333;
				line-height: 20px;
			}
			.choiceness .gray{
				color: #666;
				font-size: 11px;
			}
			.choiceness img{
				width: 16px;
			}

			.box{
				border: 1px solid #efefef;
			}

			.adNews {
				padding-right: 20px;
			}

			.adNews p {
				color: #333 !important;
			}
			img{
				width: 100%;
			}
			.mainModal {
				position: relative;
				margin-top: 10px;
			}

			.mContent {
				position: relative;
				width: 100%;
				padding-top: 30%;
				overflow: hidden;
			}

			.mContent img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}

			.mBack {
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: none;
			}

			.mInner {
				width: 90%;
				height: 70%;
				border: 2px solid #fff;
				left: 5%;
				top: 15%;
				position: absolute;
			}

			.mTitle {
				/*color: #f53c42;*/
				color: #fff;
				font-size: 20px;
				line-height: 1;
				text-align: center;
				font-weight: bold;
				/*line-height: 120px;*/
				margin-top: 5%;
			}

			.tinyM {
				background-color: #fff;
			}

			.tinyW {
				padding: 20px;
			}

			.tinyW img {
				width: 60%;
				margin-bottom: 15px;
				margin-left: 20%;
			}

			.tinyB p {
				text-align: center;
			}

			.tcImg {
				width: 100%;
			}

			.tcDiv {
				float: left;
			}

			.tcTitle {
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				line-height: 25px;
				font-size: 14px;
			}

			.tcA {
				margin: 0 2px;
				padding: 5px;
				/*text-align: center;*/
				overflow: hidden;
			   text-overflow: ellipsis;
			   white-space: nowrap;
			}

			.circle {
				border-radius: 50%;
				height: 100%;
				width: 100%;
				height: 50px;
				margin: 0 auto;
				text-align: center;
			}

			.center {
				text-align: center;
			}

			.vipImg {
				padding: 5px;
				/*border-radius: 50%;*/
				width: 100%;
				height: auto !important;
			}

			.vipDiv {
				height: 100%;
			}

			.tcA1 {
				margin: 0 !important;
			}

			.onetable table img {
				width: 64%;
				margin: 16px 0;
			}

			.tab {
				width: calc(100% - 0px);
				width: -webkit-calc(100% - 0px);
				width: -moz-calc(100% - 0px);
				font-size: 0px;
				/*border-radius: 5px;*/
				background-color: white;
			}

			.tab span {
				font-size: 14px;
				display: inline-block;
				text-align: center;
				width: 50%;
				padding: 10px;
			}
			.tabActive {
				color: white;
				background-color: #F08080;
			}
			.react img{
				border-radius: 5px;
			}
			figure {
				position: relative;
			}

			figure figcaption {
				line-height: 1.2;
				position: absolute;
				font-size: 0.14rem;
				color: white;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				z-index: 9;
			}

			.fmask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.2);
			}

			.tabcontent {
				display: none;
			}

			.taactive {
				display: block;
			}
			.tablepay{
				margin: 5px 0;
				background: white;
			}
			.tablepay td{
				padding: 10px;
				border: 1px solid #eee;
				text-align: center;
			}
			.tablepay img{
				display: inline-block;
				width: 0.25rem;
			}
			.tableUnit{
				margin: 5px 0;
				width: 100%;
				background-color: white;
				text-align: center;
			}
			.tableUnit tr{
			    border-bottom: 1px solid #eee;
			}
			.tableUnit td{
				padding: 5px;
			}
			.tableUnit tr td:first-child{
				width: 25%;
			}
			.tableUnit tr td:nth-child(2){
				width: 50%;
				border-left: none;
				text-align: left;
			}
			.tableUnit tr td:last-child{
				width: 25%;
				padding: 0!important;
				line-height: 1.5;
				/*vertical-align: top;*/
			}
			.tableUnit tr td img{
				width: 100%;
			}
			/*.tableUnit tr td:last-child img:last-child{
				 vertical-align: bottom;
			}*/
			#ttc{
				background: white;
				width: 100%;
				overflow-x: scroll;
				white-space: nowrap;

			}
			.mui-col{
				width: 30%;
				display: inline-block!important;
			}
			/*遮罩*/
			.Mask{
				position: fixed;
				top: 0;
				height: 100%;
				width: 100%;
				display: none;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 10000;
			}
			.Mask div{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
			.Mask img{
				vertical-align: top;
				width: 2rem;
			}
			.teams{
				padding: 0 5px;
			}
			.teams figcaption{
				font-size: 0.16rem;
			}
			.teams img{
				border-radius: 3px;
			}
			.teams:not(:last-child) img{
				border-radius: 3px;
				margin-bottom: 5px;
			}
			.Headlines{display:block;font-size:13px;line-height:20px;height: 20px;color: #666;letter-spacing: .5px;}
			strong{color: #555;font-weight: 100;}
			.tcImg12{width: 100px;height: 100px;}
			#div1 a{display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
			header {
			    height: auto !important;
			}
			.yincang{display: none;}
			.partTitle{
				text-align: center;
				font-size: 15px;
				color: #555;
				font-weight: initial;
				padding: 8px 0;
			}
			.partTitle img{
				width: 19px;
			    margin-top: -2px;
			}
			.partTitle span{
				display: inline-block;
			}
			.partTitle b{
			    color: #999;
				font-weight: 100;
				font-size: 14px;
				display: inline-block;
				padding-top: 6px;
			}
			.mui-content{background-color: #fff;}
			.shadowHead{box-shadow: 0 0 2px rgba(175, 166, 166, 0.85)}
			.cityBtn, .cityBtnNOtoumin, .qrcodeBtnNOtoumin, .searchBox{
				transition: all .3s;
			}
			.cityBtnNOtoumin{
				color: #666;
			}
			.cityBtnNOtoumin:after{
			    content: "";
			    display: inline-block;
			    margin-left: 6px;
			    width: 8px;
			    height: 8px;
			    border: 1px solid #666;
			    border-width: 0 1px 1px 0;
			    border-top-width: 0px;
			    border-right-width: 1px;
			    border-bottom-width: 1px;
			    border-left-width: 0px;
			    -webkit-transform: rotate(45deg);
			    margin-top: 18px;
			    vertical-align: top;
			}
			.qrcodeBtnNOtoumin{
				background: url(../img/mainHtml/saomaH.png) no-repeat;
			    position: absolute;
			    width: 50px;
			    height: 60%;
			    max-height: 50px;
			    top: 0;
			    right: 12px;
			    background-size: 88% 70%;
			    background-position: 3px 10px;
			}

			.hiFriend .bigPic{display: block;}
			.avaPic{width: 20px;height:20px;border-radius: 30px;}
			.footFirend{height:26px;line-height: 28px;color: #666;font-size: 13px;}
			.lovePic{width: 18px;height:16px;float: right;margin-top: 6px;}
			.hiFriend{padding: 5px;}
			.paddDiv{padding: 5px;}
	/*tab切换*/
	.QAhead{text-align: center;background-color: #f3f3f3;}
	.QAhead span{position: relative; display: inline-block;height:38px;line-height: 38px;color: #343434;font-size: 15px;width: 25%; }
	.QAhead span.active{color: #f63d41;}
	.QAhead span:after { content: ""; width: 0; height: 2px;-webkit-transform: scaleY(.75); background-color: #f63d41; position: absolute; bottom: 0px; left: 50%; }
	.QAhead span.active:after { transition: all 0.3s; width: 100% !important; left: 0 !important; }
	.listHead{height: 32px;line-height: 32px;font-size: 14px;color: #666;padding: 0 10px;}
	.listHead img{width: 25px;height: 25px;margin-right: 4px;border-radius: 50%;}
	.listHead span{float: right;color: #999999;line-height: 18px;margin-top: 10px;font-size: 12px;padding: 0 3px;
		background: url(../img/mainHtml/gengduokuang.png) no-repeat;background-size: 100% 100%;/*背景边框*/
		}
	.listCon{padding: 10px 0 10px 0;}
	.listCon p{color: #666; padding: 10px 10px 17px 10px;width: 100%;line-height: 17px;max-height: 45px;overflow: hidden;padding-bottom: 0px;}
	.moreCon{text-align: center;padding: 12px;}
	.moreCon span{display: inline-block;padding: 5px 18px;color: #888;
		background: url(../img/mainHtml/gengduokuang.png) no-repeat;background-size: 100% 100%;
	}
	#listOldDiv{position: relative;}
	.listSon{position: absolute;left: -20px;top: 0;width: 100%;}
	.middleI{position: absolute;left: 0px !important;top: 0;opacity: 1; z-index: 100; transition-duration: .2s;transition-property:opacity left;transition-timing-function: ease-in-out;}
	.leftT{position: absolute;left: -20px !important;top: 0;opacity: 0; z-index: 10;}
	.listHead b{
	    float: right;
	    margin-top: 4px;
	    font-weight: 100;
	    padding-right: 6px;
	    color: #f63d41;
	}
	/*tab切换结束*/
