*.project
*.apk
unpackage/release/HIJI-4.26.ipa
unpackage/release/HIJI-4.26-1.6.ipa
unpackage/release/H55E3990F-164.wgt
unpackage/release/ UTF-8' 'H55E3990F_0511110245.ap
unpackage/release/H55E3990F-173.wgt
