<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>维修(家政)列表</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<link href="../../css/mui.picker.min.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />

		<style type="text/css">
			.dealcard .brand {
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    line-height: 30px;
			    color: #555;
			}
			.dealcard .dealcard-img img{height: 70px;
				overflow: hidden;
			}
			.dealcard .dealcard-img{
				height: auto!important;
			}
			.dealcard-waimai {padding-top: 6px;
			}
			.dealcard .title span{left: 0;}
			.dealcard{margin-bottom: 0;}
			#thePlus{
				position: fixed;
				bottom: 10px;
				left: 50%;
				display: block;
				margin-left: -25px;
				font-size: 50px;
				background-color: #f53c42;
				color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 10px #555;
			}
			.dealcard dd{margin-bottom: 0;padding: 10px 15px;padding-bottom: 0;}
			.dealcard dd{border: none;}
			.dealcard dd:last-child:after{
				height: 0px;
			}
			.dealcard dd:after{
				content: '';
				display: block;
				height: 1px;
				background-color: rgba(0,0,0,0.1);
				-webkit-transform: scaleY(.5);
			}
			.dealcard dd a{padding-bottom: 10px;}
			#thePlus2{font-size: 16px;margin-top: 1px;}
			.typespan{
		        border: 1px solid rgba(255,0,0,0.4);
			    border-radius: 5px;
			    font-size: 9px;
			    padding: 1px 2px;
			    color: #f53c42 !important;
			    font-weight: 100;
			    float: right !important;
			    display: inline-block;
			    margin-top: 4px;

			}
			.dealcard-img>img{ background-image: url(../../img/bannerback.svg);background-position: 50% 50%;background-repeat: no-repeat; background-size: 35%;}

			@keyframes fadeIn {
				from{opacity: 0;}
			  	to  {opacity: 1;}
			}
			.fade-in {
	  			animation: fadeIn .8s;
			}
			.is-paused {
				-webkit-animation-play-state: paused;
		  		animation-play-state: paused;
			}

		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title" id="headtitle"></h1>
			<a class="fr mui-icon" id="thePlus2">发布</a>
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
			<div id="main">

				<!--列表loading-->
				<div id="loadingdiv" style="text-align: center;font-size: 14px;height:30px;background-color: #f2f1ee;
					line-height: 30px;color: #666;-webkit-transition: all .3s;">
					<img style="width: 25px;margin-top: -3px;" src="../../img/loading2.svg"/> 拼命加载中...
				</div>
				<!--列表loading结束-->

				<section class="dealcard-waimai">

					<dl class="dealcard" id="infolistdiv">

					</dl>
					<script type="text/html" id="infolist">
						<% for(var i=list.length - 1; i>=0; i--){%>
							<dd class="page-link aClick" onclick="opendetails(<%= list[i].id%>)">
							<a href="javascript:;">
								<div class="dealcard-img imgbox"> <img class="loadPics" src="" data-src="<%= list[i].logo%>" alt=""> </div>
								<div class="dealcard-block-right">
									<div class="brand"><%= list[i].name%></div>
									<div class="title ">
										<span>服务时间: <%= list[i].open_time%></span>

									</div>
									<div class="price">
										<span> <%= list[i].address%></span>
										<% if(list[i].isbusiness == 1){%>
											<b class="typespan" style="float: right" id="">商家 </b>
										<% }else{%>
											<b class="typespan" style="float: right" id="">个人</b>
										<% }%>
									</div>
								</div>
							</a>
						</dd>
						<%}%>
					</script>
				</section>
				<div class="upload text-center text-xs gray" id="upload"></div>
				<div id="nulldiv" style="text-align:center;margin-top: 40%;font-size: 14px;color: #999;display: none;">
					<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
					<br />
					没有相关信息
				</div>
			</div>
		<!--发布-->
		<!--<a href="javascript:;"><span class="mui-icon mui-icon-plus" id="thePlus"></span></a>-->
	</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/app.js"></script>
<script src="../../js/jquery.min.js"></script>
<script type="text/javascript">
	var Spagenum = 2;//实到页数
	var Ypagenum = 1;//应到页数
	mui.plusReady(function(){
		//获取上个页面传值
		var nowwebname = plus.webview.currentWebview().name;//当前webview对象name属性
		var headtitle = document.getElementById('headtitle');
		var oldtoken = plus.storage.getItem('oldToken');
		var cityNum  = plus.storage.getItem('cityNum');
		//plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		//添加刷新监听
		document.addEventListener('refresh', function() {
			reload();//加载数据,包括上滑加载
			console.log('刷新数据');
		})
		reload();
		function reload(){
			switch(nowwebname){
				case 'Repair'://维修数据
				headtitle.innerHTML = '维修列表';
				Loading(1,1,40);//加载数据,包括上滑加载
				break;
				case 'Clean'://保洁数据
				headtitle.innerHTML = '家政服务';
				Loading(2,1,20);//加载数据,包括上滑加载
				break;
				case 'Babysister'://保姆数据
				headtitle.innerHTML = '保姆列表';
				Loading(3,1,20);//加载数据,包括上滑加载
				break;
				case 'Openclock'://开锁数据
				headtitle.innerHTML = '开锁列表';
				Loading(4,1,20);//加载数据,包括上滑加载
				break;
			}
		}

		//加载方法
		function Loading(Ctype_name,CcurrentPage,CnumsPerPage){
			document.getElementById("infolistdiv").innerHTML = '';
			mui('#nulldiv')[0].style.display = 'none';
			mui.ajax(serverUrl+'/api/localservice/localservice',{
				data:{type_name:Ctype_name,currentPage:CcurrentPage,numsPerPage:CnumsPerPage},
				dataType:'json',//服务器返回json格式数据
				type:'post',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				headers:{"token":oldtoken,'city':cityNum},
				success:function(data){
					if(data.errno == 0){
						//console.log('列表返回'+JSON.stringify(data));
						console.log('列表返回',data);
						if(data.data.totalPages){
							var dataobj = {};
							mui.each(data.data.data,function (index,ele) {
								if(eval("("+ele.logo+")")[0].picImg.indexOf('http')>-1){
									data.data.data[index].logo =  eval("("+ele.logo+")")[0].picImg;
								}else{
									data.data.data[index].logo = serverimgUrl + eval("("+ele.logo+")")[0].picImg;
								}

							})
							dataobj.list = data.data.data;

							//获取并渲染用户信息
							var html=template("infolist",dataobj);
							document.getElementById("infolistdiv").innerHTML += html;
							mui("#upload")[0].innerHTML = "";

							//懒加载开始
//							var loadPics = mui('.loadPics'),
//							H = window.innerHeight;//可视窗口高度
//							window.onscroll = function(){
//							    if(loadPics.length){
//							    	var S = document.documentElement.scrollTop||document.body.scrollTop;   //滚动条滚过高度
//								    [].forEach.call(loadPics,function(img,k){
//								         if(!img.getAttribute('data-src')){return}
//								         if(H + S > getTop(img)){
//								         	console.log('加载');
//								             //img.src=img.getAttribute("data-src");
//							             	var oCanvas = document.createElement('canvas'),
//										        oCtx = oCanvas.getContext("2d"),
//										        oImg = new Image();
//										    oImg.src = img.getAttribute("data-src");
////										    oImg.src = 'http://hiji.hifete.com:6789/Upload/service/ordinary/2017-01-17_2004551.jpg';
//										    oImg.onload = function() {
//										        oCanvas.width  = oImg.width;
//										        oCanvas.height = oImg.height;
//										        oCtx.drawImage(oImg, 0, 0);
//										        if(oImg.width>2000 || oImg.height>2000){
//										        	console.error('load');
//										        	img.src = oCanvas.toDataURL("image/jpeg",0.1);
//										        }else if(oImg.width>300 || oImg.height>300){
//										        	console.error('load');
//										        	img.src = oCanvas.toDataURL("image/jpeg",0.2);
//										        }else{
//										        	console.error('load');
//										        	img.src = oCanvas.toDataURL("image/jpeg");
//										        }
//										    };
//											img.removeAttribute("data-src");
//											 img.style.backgroundImage = 'url()';
//								             img.classList.add('fade-in');//开始动画
//								             if(img.classList.contains('loadPics')){
//								             	img.classList.remove('loadPics');
//								             }
//
//
//								         }
//							        })
//								}
//							}
//							window.onscroll();//先默认显示
//							function getTop(e){//获取元素距离顶部高度方法。
//							    var T = e.offsetTop;
//							    while(e = e.offsetParent ){
//							        T += e.offsetTop
//								}
//							    return T
//							}
							//懒加载开始结束

							//懒加载开始
							var loadPics = mui('.loadPics'),
							H = window.innerHeight;//可视窗口高度
							window.onscroll = function(){
								if(loadPics.length){
								    var S = document.documentElement.scrollTop||document.body.scrollTop;   //滚动条滚过高度
								    [].forEach.call(loadPics,function(img){
								         if(!img.getAttribute('data-src')){return}
								         if(H + S > getTop(img)){
								             img.src=img.getAttribute("data-src");
								             img.removeAttribute("data-src");
								             img.style.backgroundImage = 'url()';
								             img.classList.add('fade-in');//开始动画
								             if(img.classList.contains('loadPics')){
								             	img.classList.remove('loadPics');
								             }
								         }
							        })
								}
							}
							window.onscroll();//先默认显示
							function getTop(e){//获取元素距离顶部高度方法。
							    var T = e.offsetTop;
							    while(e = e.offsetParent ){
							        T += e.offsetTop
								}
							    return T
							}
							//懒加载开始结束



						}else{
							mui("#upload")[0].innerHTML = "";
							mui('#nulldiv')[0].style.display = 'block';
						}

						//滚动到底部加载
						$(window).scroll(function(){
						　　var scrollTop = $(this).scrollTop();
						　　var scrollHeight = $(document).height();
						　　var windowHeight = $(this).height();
						　　if(scrollTop + windowHeight == scrollHeight){//滚动条到达可以加载
								if(Spagenum<=data.data.totalPages && Spagenum==Ypagenum+1){//当前页小于等于总页数时请求下一页
									//避免闪动开始
									var fadediv = mui('.fade-in');
									[].forEach.call(fadediv,function(ele){
										ele.classList.contains('fade-in')&&(ele.classList.remove('fade-in'));
									})
									//避免闪动结束

									mui("#upload")[0].innerHTML = "<img src='../../img/balls.svg' />";
									Ypagenum++;//满足加载情况,应到页数+1
									console.log('发起请求,实到'+Spagenum+'页');
									console.log('发起请求,应到'+Ypagenum+'页');
									mui.ajax(serverUrl+'/api/localservice/localservice',{
										data:{type_name:Ctype_name,currentPage:Spagenum,numsPerPage:CnumsPerPage},
										dataType:'json',//服务器返回json格式数据
										type:'post',//HTTP请求类型
										timeout:10000,//超时时间设置为10秒；
										headers:{"token":oldtoken,'city':cityNum},
										success:function(data){
											if(data.errno == 0){
												var dataobj = {};
												mui.each(data.data.data,function (index,ele) {
													//console.log('地址'+ eval("("+ele.logo+")")[0].picImg);
													data.data.data[index].logo = serverimgUrl + eval("("+ele.logo+")")[0].picImg;
												})
												dataobj.list = data.data.data;
												//获取并渲染用户信息
												var html=template("infolist",dataobj);
												document.getElementById("infolistdiv").innerHTML += html;

												//懒加载开始
												var loadPics = mui('.loadPics'),
												H = window.innerHeight;//可视窗口高度
												window.onscroll = function(){
													if(loadPics.length){
													    var S = document.documentElement.scrollTop||document.body.scrollTop;   //滚动条滚过高度
													    [].forEach.call(loadPics,function(img){
													         if(!img.getAttribute('data-src')){return}
													         if(H + S > getTop(img)){
													             img.src=img.getAttribute("data-src");
													             img.removeAttribute("data-src");
													             img.style.backgroundImage = 'url()';
													             img.classList.add('fade-in');//开始动画
													             if(img.classList.contains('loadPics')){
													             	img.classList.remove('loadPics');
													             }
													         }
												        })
													}
												}
												//window.onscroll();//先默认显示
												function getTop(e){//获取元素距离顶部高度方法。
												    var T = e.offsetTop;
												    while(e = e.offsetParent ){
												        T += e.offsetTop
													}
												    return T
												}
												//懒加载开始结束
											}
											mui("#upload")[0].innerHTML = " ";
											Spagenum++;//加载成功,当前页+1
											console.log('成功+1,实到'+Spagenum);
											console.log('成功+1,应到'+Spagenum);
										},
										error:function(xhr,type,errorThrown){
											Ypagenum--;//失败是应到-1
											mui.toast("当前网络不好请重试");
											mui("#upload")[0].innerHTML = "";
										}
									});
								}else if(Spagenum == data.data.totalPages+1){//当前页不小于等于总页数时请求下一页
									mui("#upload")[0].innerHTML = "到底了";
								}
						　　  }
						});//加载下一部分结束
					}else{
						mui("#upload")[0].innerHTML = "";
						mui('#nulldiv')[0].style.display = 'block';
					}
					closeLoad();//关闭列表loading
				},
				error:function(xhr,type,errorThrown){
					closeLoad();//关闭列表loading
					mui("#upload")[0].innerHTML = "";
					mui('#nulldiv')[0].style.display = 'block';
				}
			});
		}
		//发布按钮
		mui('#thePlus2')[0].onclick = function(){
			if(plus.storage.getItem('myToken')){
				openview({
					view:'new_service.html',
					extrasobj:{name:nowwebname}
				})
			}else{//没登陆直接打开登录页面
				mui.toast('请登录');
				openview({
					view:'../login.html'
				});
			}
		}

	});//plusReady

//跳转详情
function opendetails(id){
	openview({
		view:'theDetail.html',
		extrasobj:{name:id}
	})
}
</script>
<script type="text/javascript">
		//天天特价  discountGoods, 领嗨豆  getHIdou, 团购  groupBuying, 本地生活 localLife, 跨境优品   loveToGogoods, 电影 movie,
		//充值缴费   payment,  为民服务  serveForPeople,  购物中心 shopCenter, 注册  signUp, 特色馆 specialBar
		mui.plusReady(function () {
			var startTime, endTime, stayTime, flagback = 0;
			startTime = new Date().getTime();
			var old_back = mui.back;
			//改写返回键返回的函数，返回时传页面停留时间
			mui.back = function(){
				endTime = new Date().getTime();//返回时间
				stayTime = Math.ceil((endTime - startTime) / 1000);
				console.log('购物中心'+stayTime);
				plus.statistic.eventDuration( "localLifeService", stayTime);
				//计算事件，计算出返回时在该页面停留的时间差值，除以六万获得停留分钟数，发送给友盟后台
				old_back();
			}
			plus.webview.currentWebview().addEventListener( "popGesture", function(){
				flagback++;
				if(flagback == 1){
					endTime = new Date().getTime();
					stayTime = Math.ceil((endTime - startTime) / 1000);
					plus.statistic.eventDuration( "localLifeService", stayTime);
					//计算事件，计算出苹果右滑返回后在该页面停留的时间差值，除以六万获得停留分钟数，发送给友盟后台
				}
			}, false );
		});
	</script>
</html>