<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>我的发布</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			.notice .tab-hd,.orderbh,dl.list dt, dl.list dd,dl.list{border-bottom: 1px solid #eee;
			}
			.notice .tab-bd .tab-pal{border-top: 1px solid #eee;
			}
			.notice .tab-bd .tab-pal dl{background-color: #efeff4;
			}
			dl.list dt, dl.list dd, dl.list{margin-bottom: 4%;
				background-color: #fff;
			}
			dl.listtwo dd>.react{background-color:#fff;
				border-bottom: 1px solid #efeff4;
			}
			dl.listtwo dd{padding: 0;
			}
			.order-bottom{margin: 10px 0;
			}
			.order-bottom a{background-color: #fff;
				color: #666;
				border: 1px solid #ccc;
				-webkit-border-radius: 3px;
				margin-left: 2%;
				width: 20%;
				font-size: 12px;
				line-height: 27px;
				padding: 0 2px !important;
			}
			.confirm{color: red !important;
				border: 1px solid red !important;
			}
			.poi-name{width: 100%;
				overflow: hidden;
				display: inline-block;
				line-height: 20px;
			}
			.react{height: 105px !important;
			}
			.dealcard .dealcard-img{height: 70px;
				overflow: hidden;
			}
			.dealcard .dealcard-brand, .cinemacard .cinemacard-brandP,.dealcard .title span, .dealcard .price span{
				font-size: 14px;
			}
			.dealcard .dealcard-brand{height: 90px;
			}
			.dealcard .price{height: inherit;
				line-height: 30px;
			}
			.dealcard .price p{color: #333;
			}
			.state{
			    color: #555!important;
			    font-size: 14px !important;
			    line-height: 20px;
			    height: 50px;
			    max-height: 50px;
			    overflow: hidden;
			}
			.list{background-color: #efeff4 !important;
			}
			dl.listtwo dd>.react {padding: .2rem .12rem .2rem .15rem;
			}
			.imgbox{margin-top: -5px;}
			.state_bottom{font-size: 11px;line-height: 20px;color: #999;
			}
			.state_bottom span{color: #999;
			}
			.state_right{text-align: right;
			}
			.baocun{font-size: 12px !important;
			}
			.listtwo dd{margin-bottom: 3px !important;}
			.notice .tab-hdtwo li{width: 50%;}
			dl.list{border:none}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
		    <h1 class="mui-title">我的发布</h1>  
		</header>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<div id="container" style="margin-top: 50px;">		
			<div id="main">
				<div class="notice">
					<div class="tab-hd tab-hdtwo">
						<ul class="tab-nav">
						  <li id="second_hand">跳蚤市场</li>
						  <!--<li id="house">招商信息</li>-->
						  <li id="service">服务·招聘</li> 
						</ul> 
					</div>
					
					<div id="nulldiv" style="text-align:center;margin-top: 35%;font-size: 14px;color: #999;display: none;">
						<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
						<br />
						没有相关发布  
					</div>
					<div>
						<dl class="list listtwo list-in" id="infolistdiv"> 
						<!--<dd>
							<a class="react">
								<div class="dealcard dealcardtwo clearfloat">
									<div class="dealcard-img imgbox">
										<img src="../../img/54b9cae9d6bc4.jpg">
									</div>
									<div class="dealcard-block-right dealcard-block-righttwo">
										<div class="dealcard-brand dealcard-brandtwo single-line">
											<span class="poi-name icon-count-3">这里是商品名称这里是商品名称里是商品名称这里是商品名称</span>
											<p class="state">显示中</p>
											<div class="mui-row state_bottom">
										        <div class="mui-col-sm-6 mui-col-xs-6">
										                                    发布于12.12
										        </div>
										        <div class="mui-col-sm-6 mui-col-xs-6 state_right">
										                                     浏览<span>36</span>次
										        </div>
										    </div>
										</div>									
									</div>
								</div>
							</a>
							<div class="order-bottom clearfloat box-s">
								<a class="fr confirm">编辑</a>
								<a class="fr confirm">删除</a>
							</div>
						</dd> -->
						
					</dl>
					<!--跳蚤市场-->
						<script type="text/html" id="infolist1">
						<% for(var i=0; i<list.length; i++){%>
							<dd>
							<a class="react" onclick="open1(<%= list[i].id%>,<%= list[i].user_id%>)">
								<div class="dealcard dealcardtwo clearfloat">
									<div class="dealcard-img imgbox">
										<%if(list[i].picS){%>
											<img data-src="<%= list[i].picS%>" class="loadPics" src="../../img/Spinner.svg">
										<% }%>
									</div>
									<div class="dealcard-block-right dealcard-block-righttwo">
										<div class="dealcard-brand dealcard-brandtwo single-line">
											<!--<span class="poi-name icon-count-3"><%= list[i].title%></span>-->
											<p class="state"><%= list[i].content%></p>
											<div class="mui-row state_bottom">
										        <div class="mui-col-sm-6 mui-col-xs-6">
									                                    发布于<%= list[i].create_time.split('T')[0]%>
										        </div>
										        <div class="mui-col-sm-6 mui-col-xs-6 state_right">
										                                     电话: <span><%= list[i].phone%></span>
										        </div>
										    </div>
										</div>									
									</div>
								</div>
							</a>
							<div class="order-bottom clearfloat box-s">
								<!--<a class="fr confirm" onclick="BsecondHand(<%= mytype%>,<%= list[i].id%>,<%= list[i].type%>)">编辑</a>-->
								<a class="fr confirm" onclick="DsecondHand(this,<%= list[i].id%>)">删除</a>
							</div>
						</dd>
					<%}%>	
					</script>
					<!--我的房产-->
					<script type="text/html" id="infolist2">
						<% for(var i=0; i<list.length; i++){%>
							<dd>
							<a class="react" onclick="open2(<%= list[i].id%>)">
								<div class="dealcard dealcardtwo clearfloat">
									<div class="dealcard-img imgbox">
										<img src="<%= list[i].list_pic%>">
									</div>
									<div class="dealcard-block-right dealcard-block-righttwo">
										<div class="dealcard-brand dealcard-brandtwo single-line">
											<span class="poi-name icon-count-3"><%= list[i].name%></span>
											<p class="state">地址: <%= list[i].address%></p>
											<div class="mui-row state_bottom">
										        <div class="mui-col-sm-6 mui-col-xs-6">
									                                    发布于<%= list[i].create_time.split('T')[0]%>
										        </div>
										        <div class="mui-col-sm-6 mui-col-xs-6 state_right">
										                                     电话: <span><%= list[i].phone%></span>
										        </div> 
										    </div>
										</div>									
									</div>
								</div>
							</a>
							<div class="order-bottom clearfloat box-s">
								<a class="fr confirm" onclick="Bhousefun(<%= mytype%>,<%= list[i].house_id%>)">编辑</a>
								<a class="fr confirm" onclick="Dhousefun(this,<%= list[i].house_id%>)">删除</a>
							</div> 
						</dd>
					<%}%>	
					</script>
					<!--我的服务-->
					<script type="text/html" id="infolist3">
						<% for(var i=0; i<list.length; i++){%>
							<dd>
							<% if(list[i].content.indexOf('content')>-1){%>
								<a class="react" onclick="open3p(<%= list[i].id%>)">
							<% }else{%>
								<a class="react" onclick="open3(<%= list[i].id%>)">
							<% }%>	
								<div class="dealcard dealcardtwo clearfloat">
									<div class="dealcard-img imgbox">
										<%if(list[i].list_pic == 'null'){%>
											<img  src="../../img/Recruitment.svg"> 
										<% }else{%>
											<img src="<%= list[i].list_pic%>"> 
										<% }%> 
									</div>
									<div class="dealcard-block-right dealcard-block-righttwo">
										<div class="dealcard-brand dealcard-brandtwo single-line">
											<% if(list[i].content.indexOf('content')>-1){%>
												<span class="poi-name icon-count-3"><%= list[i].title%></span>
											<% }else{%>
												<span class="poi-name icon-count-3"><%= list[i].name%></span>
											<% }%>	
											
											<p class="state">地址: <%= list[i].address%></p>
											<div class="mui-row state_bottom">
										        <div class="mui-col-sm-6 mui-col-xs-6">
									                                    发布于<%= list[i].create_time.split('T')[0]%>
										        </div>
										        <div class="mui-col-sm-6 mui-col-xs-6 state_right">
										                                     电话: <span><%= list[i].phone%></span>
										        </div> 
										    </div>
										</div>									
									</div>
								</div>
							</a>
							<div class="order-bottom clearfloat box-s">
								<% if(list[i].content.indexOf('content')>-1){%>
									<a class="fr confirm" onclick="BservicefunP(<%= list[i].id%>,<%= mytype%>,<%= list[i].type_name%>)">编辑</a>
								<% }else{%>
									<a class="fr confirm" onclick="Bservicefun(<%= mytype%>,<%= list[i].id%>,<%= list[i].type_name%>)">编辑</a>
								<% }%>	
								<a class="fr confirm" onclick="Dservicefun(this,<%= list[i].id%>)">删除</a>
							</div> 
						</dd>
					<%}%>	
					</script>
					</div>
				</div>								
			</div>
		</div>
	</body>
<script type="text/javascript" src="../../js/jquery.min.js"></script>	
<script src="../../js/mui.min.js" type="text/javascript"></script>	
<script src="../../js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/app.js"></script>
<script src="../../js/artTemplate-native.js"></script>
<script type="text/javascript"> 
//顶部tab	
jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });


mui.plusReady(function(){
	//添加刷新监听
	document.addEventListener('refresh', function(obj) {
		switch(obj.detail.Btype){//刷新并重载某一类
			case 1:
			mui('#second_hand')[0].onclick();
			break;
			case 2:
			mui('#house')[0].onclick();
			break;
			case 3:
			mui('#service')[0].onclick();
			break;
		}
	})
	var myuserid = plus.storage.getItem('userid');
	var oldToken = plus.storage.getItem('oldToken');
	var cityNum = plus.storage.getItem('cityNum');
	secondHand();//默认加载跳蚤市场
	//点击切换
	mui('#second_hand')[0].onclick = function(){
		secondHand();//加载跳蚤市场
	}
//	mui('#house')[0].onclick = function(){
//		housefun();//加载房产
//	}
	mui('#service')[0].onclick = function(){
		servicefun();//加载服务
	}
	
	//跳蚤市场
	function secondHand(){
		mui('#nulldiv')[0].style.display = 'none';
		document.getElementById("infolistdiv").innerHTML = '';
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});
		mui.ajax(serverUrl+'/api/friends/newslist',{
			data:{
				userId:myuserid,
				numsPerPage:50,
				currentPage:1,
				orderType:'DESC',
				orderField:'create_time',
				'typeId':4,
				'isSomeOneNews':1
			},
			type:'post',
			timeout:10000,
			headers:{"token":oldToken,"city":cityNum},	              				
			success:function(data){
				plus.nativeUI.closeWaiting();
				console.log('跳蚤市场',data);
				if(data.errno == 0){
					if(data.data.data.length){
						mui('#nulldiv')[0].style.display = 'none';
						var dataobj = {};
//						mui.each(data.data,function (index,ele) {
//							data.data[index].list_pic = serverimgUrl + JSON.parse(ele.list_pic)[0].picImg;
//						})
						var nowArray = data.data.data;
						for(var j = 0 ;j<nowArray.length;j++){//整理内容图片
							var nowArray2 = JSON.parse(nowArray[j].pic);
							if(nowArray2.length){
								nowArray[j].picS = nowArray2[0].picImg;
							}
						}
						dataobj.list = data.data.data; 
						dataobj.mytype = 1; 
						var html=template("infolist1",dataobj);
						document.getElementById("infolistdiv").innerHTML = html;
						lazyLoad(true,0);//懒加载
						
					}else{
						mui('#nulldiv')[0].style.display = 'block';
						
					}
				}else{
					mui('#nulldiv')[0].style.display = 'block';
					mui.toast('获取用户信息失败');
				}
			},
			error:function(xhr,type,errorThrown){
				mui('#nulldiv')[0].style.display = 'block';
				plus.nativeUI.closeWaiting();
				mui.toast('响应失败  !');
			}
		});
	}
	//删除跳蚤市场
	window.DsecondHand = function(obj,id){
		var btnArray = ['取消', '确定'];
        mui.confirm('确认删除吗 ？', '提示', btnArray, function(e) {
            if (e.index == 1) {
                mui.ajax(serverUrl+'/api/friends/deletenews',{ 
					data:{userId:myuserid,newsId:id},
					type:'post',
					timeout:10000,
					headers:{"token":oldToken,"city":cityNum},	               				
					success:function(data){
						console.log('删除返回'+JSON.stringify(data)); 
						if(data.errno == 0){
							obj.parentNode.parentNode.style.display = 'none';
							mui.toast('删除成功');
						}else{
							mui.toast('删除失败, 请重试');
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast('响应失败  !');
					}
				});
				
            }
        })
	}
	//编辑跳蚤市场
	window.BsecondHand = function(type,id,type_name){
		openview({
			view:'../localLife/new_ershou.html',
			extrasobj:{Bname:id,Btype:type,type_name:type_name}
		})
	}

	//打开跳蚤市场详情
	window.open1 = function(id,userid){ 
		openview({
			view:'../localLife/FleaInfo.html',
			extrasobj:{
				infoid: id,
				UserId:userid,
			}
		})
	}
	//房产
	function housefun(){
		mui('#nulldiv')[0].style.display = 'none';
		document.getElementById("infolistdiv").innerHTML = '';
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});
		mui.ajax(serverUrl+'/api/localservice/myhouse',{
			data:{"userId":myuserid},
			type:'post',
			timeout:10000,
			headers:{"token":oldToken,"city":cityNum},	              				
			success:function(data){
				plus.nativeUI.closeWaiting();
				console.log('我的发布返回'+JSON.stringify(data)); 
				if(data.errno == 0){
					if(data.data.length){
						mui('#nulldiv')[0].style.display = 'none'; 
						var dataobj = {};
						mui.each(data.data,function (index,ele) {
							data.data[index].list_pic = serverimgUrl + JSON.parse(ele.list_pic)[0].picImg;
						})
						dataobj.list = data.data;
						dataobj.mytype = 2;
						var html=template("infolist2",dataobj);
						document.getElementById("infolistdiv").innerHTML = html;
					}else{
						mui('#nulldiv')[0].style.display = 'block';
					}
					
				}else{
					mui.toast('获取用户信息失败');
					mui('#nulldiv')[0].style.display = 'block';
				}
			},
			error:function(xhr,type,errorThrown){
				mui('#nulldiv')[0].style.display = 'block';
				plus.nativeUI.closeWaiting();
				mui.toast('响应失败  !');
			}
		});
	}
	//删除房产
	window.Dhousefun = function(obj,id){
		var btnArray = ['取消', '确定'];
        mui.confirm('确认删除吗 ？', '提示', btnArray, function(e) {
            if (e.index == 1) {
                mui.ajax(serverUrl+'/api/localservice/housedelete',{ 
					data:{"userId":myuserid,"houseId":id},
					type:'post',
					timeout:10000,
					headers:{"token":oldToken},	               				
					success:function(data){
						console.log('删除返回'+JSON.stringify(data)); 
						if(data.errno == 0){
							obj.parentNode.parentNode.style.display = 'none';
							mui.toast('删除成功');
						}else{
							mui.toast('删除失败, 请重试');
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast('响应失败  !');
					}
				});
            }
        })
	}
	//编辑房产
	window.Bhousefun = function(type,id,type_name){
		openview({
			view:'../localLife/new_house.html',
			extrasobj:{Bname:id,Btype:type,type_name:type_name}
		})
	}
	//打开房产
	window.open2 = function(id){
		openview({
			view:'../localLife/build-detail.html',
			extrasobj:{name:id}
		})
	}
	//服务
	function servicefun(){
		mui('#nulldiv')[0].style.display = 'none';
		document.getElementById("infolistdiv").innerHTML = '';
		plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});
		mui.ajax(serverUrl+'/api/localservice/mylocalservicepublish',{
			data:{"userid":myuserid},
			type:'post',
			timeout:10000,
			headers:{"token":oldToken,"city":cityNum},	              				
			success:function(data){
				plus.nativeUI.closeWaiting();
				console.log('服务',data);
				if(data.errno == 0){
					if(data.data.length){
						mui('#nulldiv')[0].style.display = 'none'; 
						var dataobj = {};
						mui.each(data.data,function (index,ele) {
							if (ele.logo) {
								data.data[index].list_pic = serverimgUrl + JSON.parse(ele.logo)[0].picImg;
							} else{
								ele.title = JSON.parse(ele.content).title;;
								data.data[index].list_pic = 'null';
							}
							
						})
						dataobj.list = data.data;
						dataobj.mytype = 3;
						var html=template("infolist3",dataobj);
						document.getElementById("infolistdiv").innerHTML = html;
					}else{
						mui('#nulldiv')[0].style.display = 'block';
					}
					
				}else{
					mui.toast('获取用户信息失败');
					mui('#nulldiv')[0].style.display = 'block';
				}
			},
			error:function(xhr,type,errorThrown){
				mui('#nulldiv')[0].style.display = 'block';
				plus.nativeUI.closeWaiting();
				mui.toast('响应失败  !');
			}
		});
	}
	//删除服务
	window.Dservicefun = function(obj,id){
		var btnArray = ['取消', '确定'];
        mui.confirm('确认删除吗 ？', '提示', btnArray, function(e) {
            if (e.index == 1) {
               mui.ajax(serverUrl+'/api/localservice/deletemyservice',{ 
					data:{"my_local_service_id":id},
					type:'post',
					timeout:10000,
					headers:{"token":oldToken,"city":cityNum},	               				
					success:function(data){
						console.log('删除返回'+JSON.stringify(data)); 
						if(data.errno == 0){
							obj.parentNode.parentNode.style.display = 'none';
							mui.toast('删除成功');
						}else{
							mui.toast('删除失败, 请重试');
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast('响应失败  !');
					}
				});
            }
        })
	}
	//编辑服务
	window.Bservicefun = function(type,id,type_name){
		openview({
			view:'../localLife/new_service.html',
			extrasobj:{Bname:id,Btype:type,type_name:type_name} 
		})
	}
	//编辑招聘·求职
	window.BservicefunP = function(id,type,typename){
		openview({
			view:'../localLife/new_job.html',
			extrasobj:{Bname:id,Btype:type,type_name:typename} 
		})
	}
	//打开服务
	window.open3 = function(id){
		openview({
			view:'../localLife/theDetail.html',
		})
			extrasobj:{name:id}
	}
	//打开招聘
	window.open3p = function(id){
		openview({
			view:'../localLife/recruitInfo.html',
			extrasobj:{name:id}
		})
	}
})	
</script>
</html>
