<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>中奖纪录</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../css/config.css"/>
</head>
	<style type="text/css">

		.list_lh ul {
			padding: 10px 10px 0 10px;
		}

		.list_lh ul li {
			padding: 10px;
			margin-bottom: 5px;
			border-radius: 3px;
		}

		.flexx {
			display: flex;
			align-items: center;
			background-color: white;
		}

		.avtar {
			width: 50px;
			height: 50px;
			margin-right: 10px;
			overflow: hidden;
		}

		.avtar img {
			border-radius: 50%;
			width: 50px;
			height: 50px;
		}
		.tixian,.lookInfo{
			text-align: center;width:70px;float: right;color: white;background-color: #F63D42;padding:2px 5px;font-size: 12px;border-radius: 3px;
		}
		#maskInfo{z-index:99999;position:fixed;top:0;left:0;width:100%;bottom:0;background-color:rgba(0,0,0,.5)}
		.ruleCt{position:absolute;padding-right:15px;background-color:#fff;top:50%;left:7%;width:86%;-webkit-transform: translateY(-50%);padding:15px 5px;border-radius:3px}
		.closemask{position:absolute;bottom:10px;left:50%;-webkit-transform:translateX(-50%)}
		.ruleol{padding: 0 15px 0 15px;margin-top: 25px;}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="goBack mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
			<h1 class="mui-title">中奖纪录</h1>
			<!--<img src="../../img/makeFriend/userCenter.png" class="mui-pull-right circleCenter" style="width:20px;margin-top: 15px; margin-right: 6px;"/>-->
		</header>
		<div id="main">
			<div class="list_lh">
				<ul id="recordList">
					<p style="text-align: center;font-size: 16px;color: #555;">加载中...</p>
				</ul>
			</div>
			<script type="text/html" id="recordTpl">
				<%for(var i= 0 ; i<list.length;i++){%>
					<li class="flexx">
						<div class="avtar">
							<img src="<%= list[i].avatar%>" alt="" />
						</div>
						<div style="flex-grow: 1;">
							<div class="flexx" style="justify-content: space-between;">
								<div class="ft14 maincl">
									恭喜你，抽得
								</div>
								<div class="disablecl ft12">
									<%= list[i].createTime2%>
								</div>
							</div>
							<div class="ft14" style="margin-top: 8px;">
								<%if(list[i].redPocket){%>
									<img src="../../img/center/redpack.png" style="width: 15px;position: relative;top: 3px;"/>
									<%= list[i].redPocket%> 元
								<%}else{%>
									<%= list[i].title%>
								<% }%>


								<%if(list[i].couponId && list[i].coupon){%>
									<div class="lookInfo" onclick="lookInfo('<%= list[i].coupon.content%>','<%= list[i].coupon.begin_date%>','<%= list[i].coupon.end_date%>')" style="background-color: darkgray;margin-left: 5px;">
										详情说明
									</div>
								<%}%>
								<%if(list[i].giftId && list[i].gift){%>
									<div class="lookInfo" onclick="lookInfo2('<%= list[i].gift.content%>')" style="background-color: darkgray;margin-left: 5px;">
										详情说明
									</div>
								<%}%>
								<%if(list[i].redPocket && !list[i].withsrawls){%>
									<div class="tixian" onclick="tixian(this,<%= list[i].gameId%>,<%= list[i].prizeId%>,<%= list[i].userId%>,'<%= list[i].phone%>','<%= list[i].macID%>','<%= list[i].createTime%>')">
										申请提现
									</div>
									<div class="tixian" style="background-color: #F0AD4E;display: none;">
										已申请提现
									</div>
								<%}else if(list[i].redPocket && list[i].withsrawls == 1){%>
									<div class="tixian" style="background-color: #F0AD4E;">
										已申请提现
									</div>
								<%}else if(list[i].redPocket && list[i].withsrawls == 2){%>
									<div class="tixian" style="background-color: #F0AD4E;">
										提现成功
									</div>
									<%}%>


							</div>
						</div>
					</li>
				<%}%>

			</script>
			<!--遮罩-->
			<div id="maskInfo" style="display: none;">
				<div class="ruleCt" style="padding-bottom: 1px;">
					<div style="overflow-y: scroll;height: 100%;margin-bottom: 50px;">
						<div class="ft16 fttc" style="text-align: center;">详情说明</div>
						<ol class="ft14 disablecl ruleol">
						</ol>
					</div>
					<button type="button" class="mui-btn mui-btn-danger mar10 closemask" >我知道了</button>

				</div>
			</div>
		</div>
		<script src="../../js/statusBar.js"></script><!--状态栏-->
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</body>
	<script type="text/javascript">
		//获取中奖纪录
		mui.plusReady(function(){
			var myuserid = plus.storage.getItem('userid');
			var oldtoken = plus.storage.getItem('oldToken');
			var cityNum = plus.storage.getItem('cityNum');
			plus.nativeUI.showWaiting();
			mui.ajax(serverUrl + '/api/index/prizehistory', {
				data:{userId:myuserid},
                type: 'post',
                timeout: 10000,
                headers: { "token": oldtoken ,'city':cityNum},
                success: function(data, type, xhr) {
                    console.log("中奖记录 ",data)
                    if(data.errno == 0){
                    	if(data.data && data.data.length){

                    		for(var i = 0; i<data.data.length;i++){

                    			if(!data.data[i].nickname){
                                    data.data[i].nickname =  '匿名'
                                }else{
									if(/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/.test(data.data[i].nickname)){
										data.data[i].nickname = data.data[i].nickname.substring(0,3)+"****"+data.data[i].nickname.substring(7,11)
									}
								}
                                if(data.data[i].gift && data.data[i].gift.content){
                                	data.data[i].gift.content = TransferString(data.data[i].gift.content)
                                }
                                if(data.data[i].avatar && data.data[i].avatar!='null'){
                                    if(JSON.parse(data.data[i].avatar)[0].picImg.indexOf('http') == -1){
                                        data.data[i].avatar = serverimgUrl + JSON.parse(data.data[i].avatar)[0].picImg;
                                    }else{
                                        data.data[i].avatar = JSON.parse(data.data[i].avatar)[0].picImg
                                    }
                                }else{
                                    data.data[i].avatar = '../img/10.png'
                                }
                               		data.data[i].createTime2 = getDateDiff(data.data[i].createTime);
                    		}

                    		console.log('ddd',data)
                    		$('#recordList').html(template('recordTpl',{list:data.data}));
                    		plus.nativeUI.closeWaiting();

                    	}else{
                    		plus.nativeUI.closeWaiting();
                    		$('#recordList').html('<div style="text-align: center;padding: 50px;">暂无记录</div>');
                    		$('#crTit').css('display','none')
                    	}

                    }
                },
                error: function(xhr, type, errorThrown) {
                    console.log('响应失败');
                   	plus.nativeUI.closeWaiting();
                }
            });
		})


		//提现
        function tixian(obj,gameid,prizeid,userid,phone,macid,createtime){
			if(!macid){
				macid = 'undefined'
			}
			mui.confirm('选择你的提现账户类型?', '提示', ['支付宝', ' '], function(e) {
	            if (e.index == 1) {
//	            	Mprompt('微信');
	            }else{
	            	Mprompt('支付宝');
	            }
	        })
			function Mprompt(val){
				mui.prompt('null',val+'账号','请输入提现账户?',['确认','取消'],function(e) {
					if(e.index == 0) {
						if(e.value && e.value!=' '){
							var commont = e.value;
			    			if(val == '支付宝'){
			    				withdrawalsFun(commont,' ');
			    			}else{
			    				withdrawalsFun(' ',commont);
			    			}
						}else{
							mui.toast('操作失败');
						}
					}
				},'')
			}

			function withdrawalsFun(aliPay,wxpay){
				var cur = $(obj);
	        	plus.nativeUI.showWaiting();
	        	mui.ajax(serverUrl + '/api/index/withdrawals', {
//					data:{'gameId':gameid,'prizeId':prizeid,'userId':userid,'phone':phone,'macid':macid,'createTime':createtime,'aliPay':aliPay,'wxpay':wxpay},
					data:{'gameId':gameid,'userId':userid,'phone':phone,'macid':macid,'createTime':createtime,'aliPay':aliPay,'wxpay':wxpay},
	                type: 'post',
	                timeout: 10000,
	                headers: { "token": plus.storage.getItem('oldToken') ,'city':plus.storage.getItem('cityNum')},
	                success: function(data, type, xhr) {
	                   	plus.nativeUI.closeWaiting();
	                		console.log('提现'+JSON.stringify(data));
		                	if(data.errno == 0){
		                		if(data.data == 1 ){
			                		mui.toast('申请成功');
			                		cur.css('display','none');
			                		cur.next().css('display','block')
			                	}else{
			                		mui.toast(data.errmsg)
			                	}
							if(plus.webview.getWebviewById('fenxianjing19')){
								plus.webview.getWebviewById('fenxianjing19').hide();
							}
		                	}
						location.reload();

	                },
	                error: function(xhr, type, errorThrown) {
	                    console.log('响应失败');
	                   	plus.nativeUI.closeWaiting();
	                }
	            });
			}

        }

        //查看详情1
        function lookInfo(tit,startT,startE){
        	$('#maskInfo').fadeIn(200);
        	$('.ruleol').html('<div style="text-align: center;font-size: 16px;">'+tit+'</div><div style="text-align: center;font-size: 12px;color:#F34141;margin-top: 10px;">有效时间:'+startT+'~'+startE+'</div>')
        }
        //查看详情2
        function lookInfo2(cont){
        	$('#maskInfo').fadeIn(200);
        	$('.ruleol').html('<div style="text-align: center;font-size: 16px;">'+cont+'</div>')
        }
        $('.ruleCt').click(function(){
			event.stopPropagation()
		})
		$('#maskInfo,.closemask').click(function(){
			event.preventDefault()
			$('#maskInfo').fadeOut(200);
		})
		//发布时间判断
		var minute = 1000 * 60;
		var hour = minute * 60;
		var day = hour * 24;
		var halfamonth = day * 15;
		var month = day * 30;
		function getDateDiff(dateTimeStamp){
			var now = new Date().getTime();
			var diffValue = now - dateTimeStamp;
			var monthC =diffValue/month;
			var weekC =diffValue/(7*day);
			var dayC =diffValue/day;
			var hourC =diffValue/hour;
			var minC =diffValue/minute;
			if(monthC>=1){
			 result=parseInt(monthC) + "月前";
			 }
			 else if(weekC>=1){
			 result=parseInt(weekC) + "周前";
			 }
			 else if(dayC>=1){
			 result=parseInt(dayC) +"天前";
			 }
			 else if(hourC>=1){
			 result=parseInt(hourC) +"小时前";
			 }
			 else if(minC>=1){
			 result=parseInt(minC) +"分钟前";
			 }else{
			 result="刚刚";
			 }
			return result;
		}

		//处理换行
		function TransferString(content){
		    var string = content;
		    try{
		        string=string.replace(/\r\n/g,"")
		        string=string.replace(/\n/g,"");
		    }catch(e) {

		    }
		    return string;
		}

	</script>
</html>