<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>我的收藏</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes"> 
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css"> 
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/reset.css"> 

		<style type="text/css">
			 #main{
			 	background: white;
			 }
			.message{
				position: relative;
				display: flex;
				padding: 10px 0;
				padding-left: 0.15rem;
				align-items: center;
				background-color: #fff;
			}
			.messageR{  
				/*align-items: stretch;*/
			}
			.message:after{
				position: absolute;
				content: '';
				height: 1px;
				background: #CCCCCC;
				left: 0.15rem;
				bottom: 0;
				right: 0;
				-webkit-transform: scaleY(0.3);
			}
			.message .msgIcon{
				flex-basis:0.8rem;
				text-align: center;
			}
			
			.message .mui-icon{
			 	padding-right: 10px;
			 	color: tomato;
			 	 
			 }
			 .msgtxt{  
			 	padding-left: 5px;
			 	line-height: 1; 
			 	flex-grow : 1
			 }
			 .msgtxtR{ 
			 	position: relative;
			 	height: inherit; 
			 	top: 0;
			 	bottom: 0; 
			 	
			 }
			 
			 .msgtxt h5{
			 	font-size: 0.15rem;
			 	color: black;
			 	line-height: 1.2;
			 	/*超出两行省略*/
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			 }
			 .msgtxtR h5{
			 	position: absolute;
			 	top: -42px;
			 	left: 5px;
			 	right: 5px;
			 } 
			  .msgtxtR small{
			 	position: absolute;
			 	bottom: -38px;
			 	left: 5px;
			 	right: 5px;
			 } 
			 .msgtxt h5 span{
			 	color: orangered;
			 }
			 .msgtxt span{
			 	position: absolute;
			 	right: 15px;
			 }
			 .mui-bar-tab a{
			 	color: darkgray;
				display: table-cell;
				vertical-align: bottom;
				text-align: center;
			}
			.msgtxt small{
				font-size: 0.14rem;
			}
			body{background-color:#fff}
			</style>
		</head>
	
		<body>
			<header class="mui-bar mui-bar-nav" id="header"> 
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
			    <h1 class="mui-title findUser">
			    	<span class="titleS activeS aClick">商品</span>
			    	<span class="titleS aClick">店铺</span>
			    	<span class="titleS aClick">二手</span>
			    </h1>
			</header>
			<script src="../../js/statusBar.js"></script>
			<!--状态栏-->
			<div id="main">
				<div id="infolistdiv">
					<!--列表loading-->
					<div id="loadingdiv" style="text-align: center;font-size: 14px;height:30px;background-color: #f2f1ee;
						line-height: 30px;color: #666;-webkit-transition: all .3s;">  
						<img style="width: 25px;margin-top: -3px;" src="../../img/loading2.svg"/> 拼命加载中...
					</div> 
				</div>
				<script type="text/html" id="infolist">
					<!--店铺-->
					<%if(typename == 1){%>
						<%if(list.length!=0){%>
							<% for(var i=0; i<list.length; i++){%>
								<div class="message msgcmt aClick" onclick="opendetails(<%= list[i].store_id%>,1,<%= list[i].store_id%>)">
									<%if(list[i].logo && list[i].logo.indexOf('http')>-1){%>
										<img src="../../img/Spinner.svg" class="loadPics" data-src="<%=list[i].logo%>" onerror="this.src = '../../img/market/mollshop1.png'" style="width: 60px !important;height:60px;"/>
									<%}else{%>
										<img src="../../img/market/mollshop1.png" style="width: 60px !important;height:60px;"/>
									<%}%>
								 	<div class="msgtxt" style="width: 100%;">
								 		<h5><%= list[i].store_name%><span><small></small></span></h5>
								 	</div> 
							 	</div>
						 	<% }%>
						<%}else{%>
							<div id="nulldiv" style="text-align:center;padding-top: 40%;font-size: 14px;color: #999;display: block;">
								<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
								<br />
								没有相关信息
							</div>
						<%}%>
					<%}else if(typename == 2){%>
						<%if(list.length!=0){%>
							<% for(var i=0; i<list.length; i++){%>
								<div class="message messageR msgcmt aClick" onclick="opendetails(<%= list[i].goods_id%>,2,<%= list[i].storeid%>)">
									<%if(list[i].thumb){%>
										<img data-src="<%=list[i].thumb%>" class="loadPics" src="../../img/Spinner.svg" style="width: 90px;height:90px"/>
									<%}else{%>
										<img src="../../img/zhaoxiangji.svg" style="width: 90px;height:90px"/>
										<%}%>
								 	<div class="msgtxt msgtxtR">
								 		<h5><%=list[i].title%><span><small></small></span></h5>
								 		<small style="color: red;width: 90%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">￥<%= list[i].price%> </small>
								 	</div> 
							 	</div>
						 	<% }%>
					 	<%}else{%>
							<div id="nulldiv" style="text-align:center;padding-top: 40%;font-size: 14px;color: #999;display: block;">
								<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
								<br />
								没有相关信息
							</div>
						<%}%>
					<%}else{%>
						<%if(list.length!=0){%>
							<% for(var i=0; i<list.length; i++){%>
								<div class="message messageR msgcmt aClick" onclick="opendetails(<%= list[i].id%>,3,<%= list[i].userid%>)">
									<%if(list[i].picSershou){%>
										<img data-src="<%=list[i].picSershou%>" class="loadPics" src="../../img/Spinner.svg" style="width: 90px;height:90px"/>
									<%}else{%>
										<img src="../../img/zhaoxiangji.svg" style="width: 90px;height:90px"/>
										<%}%>
								 	<div class="msgtxt msgtxtR">
								 		<h5><%=list[i].content%><span><small></small></span></h5>
								 		<small style="color: red;width: 90%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">￥<%= list[i].price%> </small>
								 	</div> 
							 	</div>
						 	<% }%>
					 	<%}else{%>
							<div id="nulldiv" style="text-align:center;padding-top: 40%;font-size: 14px;color: #999;display: block;">
								<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
								<br />
								没有相关信息
							</div>
						<%}%>
					<%}%>	
				</script>
			<!--底部导航-->
		</div>
		<div class="upload text-center text-xs gray" id="upload"></div>
		<div id="nulldiv" style="text-align:center;margin-top: 40%;font-size: 14px;color: #999;display: none;">
			<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg"/>
			<br />
			没有相关信息
		</div>
			
	</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/app.js"></script>	
<script src="../../js/jquery.min.js"></script>	
<script type="text/javascript">
	var Spagenum = 2;//实到页数
	var Ypagenum = 1;//应到页数 
	mui.plusReady(function(){
		//点击切换
		mui('.titleS')[0].onclick = function(){//商品
			mui('.titleS')[0].className = 'titleS activeS aClick';
			mui('.titleS')[1].className = 'titleS aClick';
			mui('.titleS')[2].className = 'titleS aClick';
			Loading(2);
		}
		mui('.titleS')[1].onclick = function(){//店铺
			mui('.titleS')[1].className = 'titleS activeS aClick';
			mui('.titleS')[0].className = 'titleS aClick';
			mui('.titleS')[2].className = 'titleS aClick';
			Loading(1);
		}
		mui('.titleS')[2].onclick = function(){//二手
			mui('.titleS')[2].className = 'titleS activeS aClick';
			mui('.titleS')[0].className = 'titleS aClick';
			mui('.titleS')[1].className = 'titleS aClick';
			Loading(3);
		}
		Loading(2);
		
		//plus.nativeUI.showWaiting('加载中 ...',{width:'100px',height:'80px'});//显示等待框
		//添加刷新监听
		document.addEventListener('refresh', function(obj) {
			console.log(obj.detail.Btype)
			if (obj.detail.Btype) {//加载数据,包括上滑加载
				mui('.titleS')[1].onclick();
			} else{
				mui('.titleS')[0].onclick();
			}
			console.log('刷新数据');
		})
		 
		
		//加载方法
		function Loading(typename){
			var oldToken = plus.storage.getItem("oldToken");
			var myuserid = plus.storage.getItem('userid');
			document.getElementById("infolistdiv").innerHTML = loadstr;
			mui('#nulldiv')[0].style.display = 'none';
			mui.ajax(serverUrl+'/api/useraccount/mymallcollect',{  									
				data:{type_name:typename,userid:myuserid}, 
				dataType:'json',//服务器返回json格式数据
				type:'post',//HTTP请求类型 
				timeout:10000,//超时时间设置为10秒；	
				headers:{"token":oldToken}, 
				success:function(data){
					console.log(typename,data);
					if(data.errno == 0){ 
						if(data.data){
							var dataobj = {};
							if(typename == 1){
								dataobj.typename = 1;
								dataobj.list = data.data.storeCollect;
							}else if(typename == 2){
								dataobj.typename = 2;
								dataobj.list = data.data.goodsCollect;
							}else{
								dataobj.typename = 3;
								dataobj.list = data.data.usedCollect;
							}
							mui.each(dataobj.list,function (index,ele) {
								if(ele.thumb){
									if(!ele.thumb.indexOf('http')>-1){
										dataobj.list[index].thumb = serverimgUrl + ele.thumb;
									}
								}
								if(ele.logo){
									if(!ele.logo.indexOf('http')>-1){
										dataobj.list[index].logo = serverimgUrl + ele.logo;
									}
								}
								if(typename == 3 && ele.pic){
									if(JSON.parse(ele.pic)[0].picImg.indexOf('http')>-1){
										dataobj.list[index].picSershou = JSON.parse(ele.pic)[0].picImg;
									}else{
										dataobj.list[index].picSershou = serverimgUrl + JSON.parse(ele.pic)[0].picImg;
									}
									var ershouPic = JSON.parse(ele.pic)[0].picImg;
									
								}
								
							})  
							//获取并渲染用户信息
							var html=template("infolist",dataobj);
							document.getElementById("infolistdiv").innerHTML = html;
							lazyLoad(true,0);//懒加载
							mui("#upload")[0].innerHTML = "";
						}else{
							mui("#upload")[0].innerHTML = ""; 
							mui('#nulldiv')[0].style.display = 'block';
						}
						
					}else{
						mui("#upload")[0].innerHTML = ""; 
						mui('#nulldiv')[0].style.display = 'block';
					}
				},
				error:function(xhr,type,errorThrown){
					mui("#upload")[0].innerHTML = ""; 
					mui('#nulldiv')[0].style.display = 'block';
				}
			});
		}
	 
	
	});//plusReady

//跳转详情
function opendetails(id,type,storeId){
	if(type == 2){
		if(storeId == 0) {
			openview({
				view: "../market/yphDetail.html",
				extrasobj:{
					goodsId: id
				}
			})
		} else {
			openview({
				view: "../market/mall-detail.html",
				extrasobj:{
					goodsId: id
				}
			})
		}
			
	}else if(type == 1){
		openview({
			view: "../market/shophome.html",
			extrasobj:{
				storeId: storeId
			}
		}) 
	}else{
		openview({
			view:'../localLife/FleaInfo.html',
			extrasobj:{
				infoid: id,
				UserId:storeId,
			}
		})
	}
	
}
</script>

</html> 