<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>商城订单</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" href="../../css/Recharge.css">
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script src="../../js/mui.min.js" type="text/javascript"></script>
		<style type="text/css">
			.notice .tab-hd,
			.orderbh,
			dl.list dt,
			dl.list dd,
			dl.list {
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				overflow-y: hidden;
			}

			.notice .tab-bd .tab-pal {
				border-top: 1px solid #eee;
			}

			.notice .tab-bd .tab-pal dl {
				background-color: #f3f3f3;
			}

			.notice .tab-bd {
				padding-top: 44px;
			}

			.notice li.active {
				border-bottom: 2px solid #f63d41;
				box-sizing: border-box;
				color: #f63d41;
			}

			dl.list dt,
			dl.list dd,
			dl.list {
				margin-bottom: 10px;
				background-color: #fff;
				border: none!important;
			}

			dl.listtwo dd>.react {
				padding: 18px .12rem 10px .15rem;
			}

			dl.listtwo dd {
				padding: 0;
			}

			.order-bottom {
				margin: 12px 0px 6px;
			}

			.order-bottom a {
				background-color: #fff;
				color: #666;
				border: 1px solid #ccc;
				-webkit-border-radius: 3px;
				margin-left: 2%;
				width: 25%;
				font-size: 12px;
				line-height: 27px;
				padding: 0 2px !important;
				border-radius: 2px;
			}

			.confirm {
				color: #f63d41 !important;
				border: 1px solid #f63d41 !important;
			}

			.poi-name {
				width: 70%;
				overflow: hidden;
				display: inline-block;
				line-height: 20px;
				color: #555;
			}

			.pricetwo {
				position: absolute !important;
				top: 0;
				right: 0;
				width: 30% !important;
				display: inline-block !important;
				text-align: right;
				line-height: 20px;
			}

			.pricetwo span {
				color: #333 !important;
			}

			.react {
				height: 112px !important;
				margin-bottom: 2px;
			}

			.react:last-child {
				margin-bottom: 0;
			}

			.dealcard .dealcard-img {
				overflow: hidden;
			}

			.dealcard-img img {
				height: 100%!important;
			}

			.dealcard .dealcard-brand,
			.cinemacard .cinemacard-brandP,
			.dealcard .title span,
			.dealcard .price span {
				font-size: 14px;
			}

			.dealcard .dealcard-brand {
				height: 90px;
			}

			.dealcard .price {
				height: inherit;
				line-height: 30px;
			}

			.dealcard .price p {
				color: #333;
			}

			.dealcard .price .num {
				color: #666;
				font-size: 12px;
			}

			.state {
				color: #f63d41 !important;
				font-size: 12px !important;
			}

			.tip {
				text-align: right;
			}

			.tip p {
				color: #333;
				position: relative;
				top: 3px;
			}

			.tab-nav {
				overflow-x: scroll !important;
				width: 100%;
				white-space: nowrap;
			}

			.tab-hd {
				height: 45px !important;
				border-bottom: 1px solid #EFEFF4 !important;
			}

			.tab-nav li {
				height: 45px !important;
			}

			.tab-hdtwo {
				overflow-x: scroll;
				white-space: nowrap;
				background: none;
			}

			.notice .tab-hdtwo li {
				float: none!important;
				width: 14.2%;
				display: inline-block;
				white-space: nowrap;
				height: auto;
				line-height: 45px !important;
			}

			 ::-webkit-scrollbar {
				width: 0!important;
				opacity: 1!important;
			}

			.poi-name {
				word-break: break-all;
				white-space: normal;
				font-size: 14px;
			}

			.fineB:after {
				bottom: 1px;
			}

			.fineB1:after {
				bottom: 0px;
			}

			body {
				background-color: #f3f3f3;
			}

			.orderbh span {
				font-size: 12px;
				color: #333;
			}

			.shopImg {
				width: 22px;
				vertical-align: middle;
				margin-top: -3px;
			}

			.mui-bar-nav {
				box-shadow: none !important;
			}

			header.mui-bar {
				z-index: 200;
			}

			#tabLink {
				position: fixed;
				width: 100%;
				z-index: 100;
				border: none !important;
				box-shadow: 0 0 2px rgba(175, 166, 166, 0.85) !important;
			}
			.waitpay,.forRedpk{position: relative;}
			.canShare{position: absolute;top: 5px;right: 90px;width: 30px;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB fineB1">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
			<h1 class="mui-title">商城订单</h1>
			<a href="javascript:;" style="line-height: 50px;top: 0;" class="fr baocun" onclick="gosearch()"><img src="../../img/sousuo.svg" alt="" style="width: 20px;" /></a>
		</header>
		<script src="../../js/statusBar.js"></script>
		<!--状态栏-->
		<div id="container">
			<div id="main" style="padding-top: 0!important;">
				<div id="orderData"></div>

				<script type="text/html" id="orderTpl">
					<div class="notice">
						<div class="tab-hd tab-hdtwo" id="tabLink">
							<ul class="tab-nav">
								<li class="active aClick" data-statusId="-1">全部</li>
								<li class="aClick" data-statusId="1">待付款</li>
								<li class="aClick" data-statusId="2">待发货</li>
								<li class="aClick" data-statusId="3">待收货</li>
								<li class="aClick" data-statusId="4">待评价</li>
								<li class="aClick" data-statusId="5">已评价</li>
								<li class="aClick" data-statusId="">退款</li>
							</ul>
						</div>

						<div class="tab-bd">
							<div class="tab-pal">
								<dl class="list listtwo list-in">
								 
										
										<%for(var i =0;i<orderData.length;i++){%>
											<%if(orderData[i][0].order_status == 1){%> 
											<%for(var j =0;j<orderData[i].length;j++){%>
												<%if(j == 0){%>	
													<div class="waitpay" style="margin-bottom: 10px!important;background: white;padding-bottom: 5px;">
													<div class="orderbh box-s fineB" style="background-color: white;border-bottom: 1px solid coral;">
			
														<span class="fr state">等待买家付款</span>
													</div> 
												<%}%>
												<dd id="<%=orderData[i][j].order_id%>" data-id="<%=orderData[i][j].order_status%>" style="margin-bottom: 0;">
													<div class="orderbh box-s fineB">
														<%if(orderData[i][j].order_type == 0){ %>
														<span>
																	<img class="shopImg" src="../../img/market/shop.png" style="width: 0.2rem;vertical-align: middle;" />
																	跨境优品
																<%}else{%>
																	<span onclick="goShop('<%=orderData[i][j].goods_data.store_id%>')">
																	<img src="../../img/market/shop.png" class="shopImg" style="width: 0.2rem;vertical-align: middle;" />
																	<%=orderData[i][j].goods_data.stores.store_name%>
																	<%}%>
																	<span style="font-size: 0.10rem;"><%=orderData[i][j].create_time%></span>
														</span>
													</div>
													<%for(var l =0;l<orderData[i][j].goods_data.goods_Data.length;l++){%>
													<a href="#" class="react fineB" onclick="orderInfo('<%=orderData[i][j].order_id%>','<%=orderData[i][j].goods_data.store_id%>')">
														<div class="dealcard dealcardtwo clearfloat">
															<div class="dealcard-img imgbox">
																<% if(orderData[i][j].order_type == 0){ %>
																<% if(orderData[i][j].goods_data.goods_Data[l].youpin){ %>
																<img src="<%=orderData[i][j].goods_data.goods_Data[l].youpin.thumb%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
																<%}else{%>
																<img src="../../img/market/nodata.svg" onerror="javascript:this.src='../../img/market/nodata.svg';">
																<%}%>
																<% }else{ %>
																<img src="<%=myUrl%><%=orderData[i][j].goods_data.goods_Data[l].thumb%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
																<% } %>
															</div>
															<div class="dealcard-block-right dealcard-block-righttwo">
																<div class="dealcard-brand dealcard-brandtwo single-line">
																	<span class="poi-name icon-count-3"><%=orderData[i][j].goods_data.goods_Data[l].title%></span>
																	<div class="price pricetwo">
																		<p>¥
																			<%=orderData[i][j].goods_data.goods_Data[l].price_total%>
																		</p>
																		<p class="num">x
																			<%=orderData[i][j].goods_data.goods_Data[l].nums%>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</a>
													<%}%>
		
												</dd> 
											<%}%>
												
												<%for(var m = 0; m<oduuid.length;m++){%>
													<%if(oduuid[m] == orderData[i][0].order_UUID){%>
														<div class="order-bottom clearfloat box-s tip" style="background-color: white;margin: 0;">
															<p>
																<%if(oduuid[m] == ordermoney[m].order_UUID){%> 合计:￥
																</sub>
																<%=ordermoney[m].PriceCalculValue%><sub>
																		<%}%>
																	</sub></p>
				
														</div>
														<div class="order-bottom clearfloat box-s" style="background-color：#fff;">
															<a onclick="goOrder('<%=oduuid[m]%>','<%=repayid[m]%>')" class="fr confirm">付款</a>
															<a onclick="delOrder(this,'<%=oduuid[m]%>','取消','<%=oduuid[m]%>','<%=repayid[m]%>',1)" class="fr">取消订单</a>
				
														</div>
													<%}%>
												<%}%>
										</div>
										<%}else{%>
											<%for(var j =0;j<orderData[i].length;j++){%>
												<dd id="<%=orderData[i][j].order_id%>" data-id="<%=orderData[i][j].order_status%>" data-type="<%=orderData[i][j].order_type%>" class="forRedpk">
													<div class="orderbh box-s fineB">
														<%if(orderData[i][j].order_type == 0){ %>
														<span>
																<img src="../../img/market/shop.png" class="shopImg" style="width: 0.2rem;vertical-align: middle;" />
																跨境优品
															<%}else{%>
																<span onclick="goShop('<%=orderData[i][j].goods_data.store_id%>')">
																<img src="../../img/market/shop.png" class="shopImg" style="width: 0.2rem;vertical-align: middle;" />
																<%=orderData[i][j].goods_data.stores.store_name%>
																<%}%>
																<span style="font-size: 0.10rem;"><%=orderData[i][j].create_time%></span>
														</span>
			
														<span class="fr state"><%=state[orderData[i][j].order_status]%></span>
													</div>
													<%for(var l =0;l<orderData[i][j].goods_data.goods_Data.length;l++){%>
													<a href="#" class="react" onclick="orderInfo('<%=orderData[i][j].order_id%>','<%=orderData[i][j].goods_data.store_id%>')">
														<div class="dealcard dealcardtwo clearfloat">
															<div class="dealcard-img imgbox">
																<% if(orderData[i][j].order_type == 0){ %>
																<% if(orderData[i][j].goods_data.goods_Data[l].youpin){ %>
																<img src="<%=orderData[i][j].goods_data.goods_Data[l].youpin.thumb%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
																<%}else{%>
																<img src="../../img/market/nodata.svg" onerror="javascript:this.src='../../img/market/nodata.svg';">
																<%}%>
																<% }else{ %>
																<img src="<%=myUrl%><%=orderData[i][j].goods_data.goods_Data[l].thumb%>" onerror="javascript:this.src='../../img/market/nodata.svg';">
																<% } %>
															</div>
															<div class="dealcard-block-right dealcard-block-righttwo">
																<div class="dealcard-brand dealcard-brandtwo single-line">
																	<span class="poi-name icon-count-3"><%=orderData[i][j].goods_data.goods_Data[l].title%></span>
																	<div class="price pricetwo">
																		<p>¥
																			<%=orderData[i][j].goods_data.goods_Data[l].price_total%>
																		</p>
																		<p class="num">x
																			<%=orderData[i][j].goods_data.goods_Data[l].nums%>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</a>
													<%}%>
													<%if(orderData[i][j].canShare){%>
														<img class="canShare" onclick="isShowShare('true','<%=orderData[i][j].order_UUID%>')" data-id="<%=orderData[i][j].order_UUID%>" src="../../img/limitTimeAct/19OrderShare/redPak.png"/>
													<%}%>
													<div class="order-bottom clearfloat box-s tip">
														<p>
															<!--<sub>共<%=orderData[i][j].goods_data.totalNum%>件商品&nbsp;-->
															<%if(orderData[i][j].userPostData){%> 合计:￥
															</sub>
															<%=orderData[i][j].amount%><sub>
																	<%if(orderData[i][j].userPostData.express_id == -1){%>
																		(不含运费)
																		<%}else if(orderData[i][j].userPostData.express_id == -2){%>
																		(自提)
																			<%}else{%>
																			(含运费)
																			<%}%>
																			<%}%>
																	</sub></p>
													</div>
													<%if(orderData[i][j].refuse_refund){%>
													<div style="line-height: .3rem;padding-left: 15px;">商家拒绝退款：
														<%=orderData[i][j].refuse_refund%>
													</div>
													<%}%>
			
													<%if(orderData[i][j].order_status==2){%>
													<div class="order-bottom clearfloat box-s">
														<a class="fr confirm">等待发货</a>
														<a onclick="tuiOrder('<%=orderData[i][j].order_id%>','<%=orderData[i][j].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>
													</div>
													<%}%>
													<%if(orderData[i][j].order_status==3){%>
													<div class="order-bottom clearfloat box-s">
														<a onclick="orderConfirm('<%=orderData[i][j].order_id%>')" class="fr confirm">确认收货</a>
														<!--<a onclick="tuiOrder('<%=orderData[i][j].order_id%>','<%=orderData[i][j].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>-->
														<a onclick="viewLogistics('<%=orderData[i][j].order_id%>','<%=orderData[i][j].logistic_code%>','<%=orderData[i][j].shipper_code%>')" class="fr confirm">查看物流</a>
													</div>
													<%}%>
													<%if(orderData[i][j].order_status==4 && orderData[i][j].order_type!= 0){%>
													<!--<%if(orderData[i][j].order_type!= 0){%>-->
													<div class="order-bottom clearfloat box-s">
														<a onclick="delOrder(this,'<%=orderData[i][j].order_id%>','删除')" class="fr">删除订单</a>
														<a onclick="goComment('<%=orderData[i][j].order_id%>',<%=orderData[i][j].userPostData.goodsData.length%>,<%=orderData[i][j].userPostData.goodsData[0].goodsid%>,<%=orderData[i][j].userPostData.storeid%>)" class="fr confirm">评价</a>
														<a onclick="viewLogistics('<%=orderData[i][j].order_id%>','<%=orderData[i][j].logistic_code%>','<%=orderData[i][j].shipper_code%>')" class="fr confirm">查看物流</a>
													</div>
													<!--<%}else{%>-->
													<!--<div class="order-bottom clearfloat box-s">
																	<a onclick="delOrder(this,'<%=orderData[i][j].order_id%>','删除')" class="fr">删除订单</a>
																	<a onclick="goComment('<%=orderData[i][j].order_id%>',<%=orderData[i][j].userPostData.goodsData.length%>,<%=orderData[i][j].userPostData.goodsData[0].goodsid%>,'<%=orderData[i][j].userPostData.storeid%>')" class="fr confirm">评价</a>
																	<a onclick="viewLogistics('<%=orderData[i][j].order_id%>','<%=orderData[i][j].logistic_code%>','<%=orderData[i][j].shipper_code%>')" class="fr confirm">查看物流</a>
																</div>-->
													<!--<%}%>-->
			
													<%}%>
													<%if(orderData[i][j].order_status==4 && orderData[i][j].order_type== 0){%>
													<div class="order-bottom clearfloat box-s">
														<a onclick="delOrder(this,'<%=orderData[i][j].order_id%>','删除')" class="fr">删除订单</a>
														<a onclick="viewLogistics('<%=orderData[i][j].order_id%>','<%=orderData[i][j].logistic_code%>','<%=orderData[i][j].shipper_code%>')" class="fr confirm">查看物流</a>
													</div>
			
													<%}%>
													<%if(orderData[i][j].order_status==5){%>
													<div class="order-bottom clearfloat box-s">
														<a onclick="viewLogistics('<%=orderData[i][j].order_id%>','<%=orderData[i][j].logistic_code%>','<%=orderData[i][j].shipper_code%>')" class="fr confirm">查看物流</a>
														<a class="fr confirm">已评价</a>
														<a onclick="delOrder(this,'<%=orderData[i][j].order_id%>','删除')" class="fr">删除订单</a>
													</div>
													<%}%>
													<%if(orderData[i][j].order_status==6){%>
													<div class="order-bottom clearfloat box-s">
														<!--<a onclick="tuiOrder('<%=orderData[i][j].order_id%>','<%=orderData[i][j].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>-->
														<a class="fr">等待退货</a>
													</div>
													<%}%>
													<%if(orderData[i][j].order_status==7){%>
													<div class="order-bottom clearfloat box-s">
														<!--<a onclick="tuiOrder('<%=orderData[i][j].order_id%>','<%=orderData[i][j].goods_data.totalMoney%>')" class="fr confirm">申请退款</a>-->
														<a onclick="cmtwl('<%=orderData[i][j].order_id%>','<%=orderData[i][j].order_UUID%>','<%=orderData[i][j].buyer%>')" class="fr confirm">填写退货物流</a>
													</div>
													<%}%>
			
													<%if(orderData[i][j].order_status==8){%>
													<div class="order-bottom clearfloat box-s">
														<a class="fr confirm">退款成功</a>
														<a onclick="delOrder(this,'<%=orderData[i][j].order_id%>','删除')" class="fr">删除订单</a>
													</div>
													<%}%>
													<%if(orderData[i][j].order_status==9){%>
													<div class="order-bottom clearfloat box-s">
														<a onclick="delOrder(this,'<%=orderData[i][j].order_id%>','删除')" class="fr">删除订单</a>
													</div>
													<%}%>
													<%if(orderData[i][j].order_status==10){%>
													<div class="order-bottom clearfloat box-s">
														<a class="fr">等待退款</a>
													</div>
													<%}%>
			
												</dd>
											<%}%> 
										<%}%>  
									<%}%> 
									<div id="noOrder" style="display: none;">
										<img src="../../img/market/order.png" style="margin: auto;display: block;width: 1rem;margin-top:1rem ;" alt="" />
										<span style="display:block;text-align: center;padding: 20px;color: #777;">您还没有相关的订单</span>
									</div>
								</dl>
							</div>

						</div>
					</div>
				</script>

			</div>
		</div>

		<!--操作表   支付弹窗-->
		<div id="payChoose" class=" mui-popover mui-popover-action mui-popover-bottom closePay">
			<div class="paycontent">
				<ul class="mui-table-view waypay">
					<p><span>支付方式</span></p>
					<li class="">
						<a id="alipay" data-pay="alipay"><img class="aClick2" src="../../img/tickets/zhifubao.png"></a>
					</li>
					<li class="">
						<a id="wxpay" data-pay="wxpay"><img class="aClick2" src="../../img/tickets/weixin.png"> </a>
					</li>
				</ul>
			</div>
		</div>
		<!--分享弹窗-->
		<div id="maskInfo123" class="maskInfo" style="display: none;z-index:999;">
			<!--<img src="../../img/mainHtml/mclose.svg" class="closeMs" />-->
			<div class="ruleCt" style="padding-bottom: 50px;padding: 0;background: none;top: 13%;bottom: auto;">
				<img id="fenxiangBtn2" src="../../img/limitTimeAct/19OrderShare/02_01-min.png" style="border-radius: 3px;width: 100%;height: 100%;" />
				<img src="../../img/limitTimeAct/19OrderShare/02_03.png" class="closeMs2" style="display: block;margin: 0 auto;width: 12%;"/>
			</div>
		</div>
	</body>
	<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(".paycontent").click(function() {
			event.stopImmediatePropagation()
		})
		$(".closePay").click(function() {
			event.stopPropagation();
			$("#payChoose").removeClass("mui-active");
		})
		//分享弹窗
		$('.ruleCt').click(function() {
			event.stopPropagation()
		})
		$('#maskInfo1').click(function() {
			event.preventDefault()
			$('#maskInfo1').fadeOut(200);
		})
		$('.closeMs2').click(function() {
			event.stopPropagation();
			$(this).parent().parent().fadeOut(200);
		})
		//跳转搜索
		function gosearch() {
			openview({
				view: 'searchOrder.html',
				id: 'searchOrder',
			});
		}



		var pays = {}

		mui.plusReady(function() {

			//获取上一个页面 穿的 订单类型
			var toOrder_status = plus.webview.currentWebview().status;
			var SorderId1 = plus.webview.currentWebview().order_uuid;

			if(plus.webview.getWebviewById("pay")) {
				plus.webview.getWebviewById("pay").close();
			}
			window.addEventListener('refresh', function(event) {
				load();
			})
			function goCouponFun(orderId) {
				mui.plusReady(function() {
					var oldToken = plus.storage.getItem('oldToken');
					var myuserid = plus.storage.getItem('userid');
					var cityNum = plus.storage.getItem('cityNum');
					var invitationCode = JSON.parse(plus.storage.getItem('shareInfo')).invitationCode;

					var thumbs = '../../img/logomifeng.png';
					var msg = {
						title: '你的好友为你送上了年货红包，快来领取吧！',
						content: '你的好友为你送上了年货红包，快来领取吧！',
						href: fxUrl + 'login.html?code2=' + invitationCode,
						thumbs: [thumbs],
						pictures: [thumbs]
					};
					function huidiao(){
						//分享成功  领劵
						plus.nativeUI.showWaiting();
						mui.ajax(serverUrl + '/api/index/sharegetcoupon', {
							data: {
								"userId": myuserid,
								'invitationCode': invitationCode,
								'orderUUID':orderId
							},
							dataType: 'json',
							type: 'post',
							timeout: 10000,
							headers: {
								"token": oldToken,'city': cityNum
							},
							success: function(data, type, xhr) {
								load();
								plus.nativeUI.closeWaiting();
								$('#maskInfo123').css('display', 'none');
								console.log('分享获劵' + data);
								if(data.errno == 0) {
									alert(data.errmsg || '操作成功');
								} else {
									alert(data.errmsg);
								}
							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting();
								$('#maskInfo123').css('display', 'none');
								console.error('分享获劵  ---- 失败');
							}
						});
					}
					showSfun1(msg,huidiao);
				});
			}
			//判断是否显示分享有礼
			window.isShowShare = function(isnow,orderId) {
				sharecode();//重置邀请码
				if(plus.storage.getItem('shareInfo')) {
					var shareInfo = JSON.parse(plus.storage.getItem('shareInfo'));
					var nowdate = new Date();
					var newbeginDate = new Date(shareInfo.begin_date);
					var newendDate = new Date(shareInfo.end_date);
					var showShare = isnow || plus.webview.currentWebview().showShare;
					console.log(nowdate > newbeginDate && nowdate < newendDate)
					if(showShare && nowdate > newbeginDate && nowdate < newendDate) {
						plus.nativeUI.closeWaiting();
						$('#maskInfo123').css('display', 'block');
						document.getElementById('fenxiangBtn2').onclick = function(){
							goCouponFun(orderId);
						}
					}
				}

			}
			if(SorderId1){
				isShowShare('',SorderId1);
			}
			//判断是否显示分享有礼	结束

			var oldToken = plus.storage.getItem('oldToken');
			var myuserid = plus.storage.getItem('userid');
			//加载订单
			plus.nativeUI.showWaiting();
			load();

			function load() {
				mui.ajax(serverUrl + '/api/mall/orderlist', {
					data: {
						userid: myuserid
					},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					headers: {
						"token": oldToken
					},
					success: function(data, type, xhr) {
						var shareInfo = JSON.parse(plus.storage.getItem('shareInfo'));//18年1月19号 支付订单后有个分享
						if(shareInfo){
							var newbeginDate = new Date(shareInfo.begin_date);
							var newendDate = new Date(shareInfo.end_date);
						}
						plus.nativeUI.closeWaiting();
						console.log('订单列表', data)
						if(data.errno == 0) {
							if(data.data.length != 0) {
								var orderuuid = [],
									repayid = [],
									ordermoney = [],
									secondeBuild = [];;
								for(var i = 0; i < data.data.length; i++) {
									//18年1月19号 支付订单后有个分享
									//data.data[i].pay_time = 1516406400000;
									if(shareInfo && data.data[i].pay_time){
										var nowdate19 = new Date(parseInt(data.data[i].pay_time));
										if(nowdate19 > newbeginDate && nowdate19 < newendDate && !data.data[i].isShared) {
											data.data[i].canShare = true;
										}
									}

									data.data[i].PriceCalculation = eval("(" + data.data[i].PriceCalculation + ")");
									data.data[i].PriceCalculation.PriceCalculValue = parseFloat(data.data[i].PriceCalculation.PriceCalculValue).toFixed(2)
									 
									//未付款的订单  提取uuid
									if(data.data[i].order_status == 1 && data.data[i].order_UUID) {
										orderuuid.push(data.data[i].order_UUID);
										repayid.push(data.data[i].rePayID);
										if(data.data[i].fee) {
											data.data[i].PriceCalculation.PriceCalculValue = parseFloat(parseFloat(data.data[i].PriceCalculation.PriceCalculValue) + parseFloat(data.data[i].fee)).toFixed(2);

											if(data.data[i].fee > 0) {
												data.data[i].fee = "+￥" + data.data[i].fee;
											} else {
												data.data[i].fee = "-￥" + data.data[i].fee * (-1);
											}
										}
										//									ordermoney.push(data.data[i].PriceCalculation.PriceCalculValue)

									}else{
										secondeBuild.push([data.data[i]]) 
									}
									if(data.data[i].goods_data) {
										data.data[i].goods_data = eval("(" + data.data[i].goods_data + ")");
									}
									if(data.data[i].order_type == 0) {
										for(var j = 0; j < data.data[i].goods_data.goods_Data.length; j++) {
											if(data.data[i].goods_data.goods_Data[j].youpin) {
												data.data[i].goods_data.goods_Data[j].youpin = eval("(" + data.data[i].goods_data.goods_Data[j].youpin + ")");
											}
										}

									}
									var dt = new Date(data.data[i].create_time);
									var date = [
										[dt.getFullYear(), dt.getMonth() + 1, dt.getDate()].join('-'), [dt.getHours(), dt.getMinutes()].join(':')
									].join(' ').replace(/(?=\b\d\b)/g, '0'); // 正则补零
									data.data[i].create_time = date;
									for(var j = 0; j < data.data[i].goods_data.goods_Data.length; j++) {
										data.data[i].goods_data.goods_Data[j].price_total = Math.floor((data.data[i].goods_data.goods_Data[j].price + data.data[i].goods_data.goods_Data[j].Floating_price) * 100) / 100;
									}
									if(data.data[i].userPostData) {
										data.data[i].userPostData = eval("(" + data.data[i].userPostData + ")");
									}
									data.data[i].goods_data.totalMoney = data.data[i].goods_data.PriceCalculValue;

								}
								if(orderuuid.length != 0) {
									orderuuid = orderuuid.unique1(); //去重
								}
								
								for(var i = 0; i < orderuuid.length; i++) {
									var everTot = [];
									for(var j = 0; j < data.data.length; j++) {
										if(orderuuid[i] == data.data[j].order_UUID) {
											var mobj = {
												order_UUID: data.data[j].order_UUID,
												PriceCalculValue: data.data[j].PriceCalculation.PriceCalculValue
											};
											ordermoney.push(mobj)
											everTot.push(data.data[j])
										}
									}
									secondeBuild.push(everTot) 
								}
								console.error('二次重组',secondeBuild)
								secondeBuild = secondeBuild.sort(descend)
								function descend(x,y){
								    return y[0].rePayID - x[0].rePayID;  //按照数组的第1个值降序排列
								}
								console.error('排序',secondeBuild)
								
								//json 数组去重
								var arr = [];
								var list = ordermoney;
								for(var i = 0; i < list.length; i++) {
									if(i == 0) arr.push(list[i]);
									var b = false;
									if(arr.length > 0 && i > 0) {
										for(var j = 0; j < arr.length; j++) {
											if(arr[j].order_UUID == list[i].order_UUID) {
												b = true;
												//break;
											}
										}
										if(!b) {
											arr.push(list[i]);
										}
									}
								}
								ordermoney = arr;
								repayid = repayid.unique1();
 
								var obj = {};
								obj.orderData = secondeBuild; 
								obj.myUrl = serverimgUrlE;
								obj.oduuid = orderuuid;
								console.log('orderuuid', JSON.stringify(orderuuid))

								obj.repayid = repayid;
								obj.ordermoney = ordermoney;
								obj.state = ['', '等待买家付款', '买家已付款', '卖家已发货', '', '已评价', '等待卖家同意退货', '退款中', '退款成功', '', '等待卖家同意退款'];
								document.getElementById("orderData").innerHTML = template("orderTpl", obj);
								if(toOrder_status == -1) {
									$('.waitpay').css('display', 'block');
									$(".tab-nav li").removeClass("active");
									$(".tab-nav li:nth-of-type(1)").addClass("active");
									$('#noOrder').css('display', 'none');
									$("dd").css("display", "block")
								}
								if(toOrder_status == 0) {
									$('.waitpay').css('display', 'block');
									$(".tab-nav li").removeClass("active");
									$(".tab-nav li:nth-of-type(2)").addClass("active");
									var i = 0;
									$('#noOrder').css('display', 'none');
									$('dd').each(function() {
										var status = $(this).attr("data-id");
										if(status == 1) {
											i++;
											$(this).css("display", "block");
										} else {
											$(this).css("display", "none");
										}
									})

									if(i == 0) {
										$('#noOrder').css('display', 'block');
									}
								}
								if(toOrder_status == 2) {
									$('.waitpay').css('display', 'none');
									$(".tab-nav li").removeClass("active");
									$(".tab-nav li:nth-of-type(4)").addClass("active");
									var i = 0;
									$('#noOrder').css('display', 'none');
									$('dd').each(function() {
										var status = $(this).attr("data-id");
										if(status == 3) {
											i++;
											$(this).css("display", "block");
										} else {
											$(this).css("display", "none");
										}
									})
									if(i == 0) {
										$('#noOrder').css('display', 'block');
									}
								}
								if(toOrder_status == 3) {
									$('.waitpay').css('display', 'none');
									$(".tab-nav li").removeClass("active");
									$(".tab-nav li:nth-of-type(5)").addClass("active");
									var i = 0;
									$('#noOrder').css('display', 'none');
									$('dd').each(function() {
										var status = $(this).attr("data-id");
										if(status == 4) {
											i++;
											$(this).css("display", "block");
										} else {
											$(this).css("display", "none");
										}
									})
									if(i == 0) {
										$('#noOrder').css('display', 'block');
									}
								}

								$('.tab-nav li').click(function() {
									var statusId = $(this).attr("data-statusId");
									$(this).siblings().removeClass("active");
									$(this).addClass("active");
									if(statusId == -1) {
										$('.waitpay').css('display', 'block');
										$('#noOrder').css('display', 'none');
										$("dd").css("display", "block")
									}
									if(statusId == 1) {
										var i = 0;
										$('.waitpay').css('display', 'block');
										$('#noOrder').css('display', 'none');
										$('dd').each(function() {
											var status = $(this).attr("data-id");
											if(status == 1) {
												i++;
												$(this).css("display", "block");
											} else {
												$(this).css("display", "none");
											}
										})

										if(i == 0) {
											$('#noOrder').css('display', 'block');
										}
									}
									if(statusId == 2) {
										var i = 0;
										$('.waitpay').css('display', 'none');
										$('#noOrder').css('display', 'none');
										$('dd').each(function() {
											var status = $(this).attr("data-id");
											if(status == 2) {
												i++;
												$(this).css("display", "block");
											} else {
												$(this).css("display", "none");
											}
										})

										if(i == 0) {
											$('#noOrder').css('display', 'block');
										}
									}
									//								if(statusId==2){
									//									var i=0;
									//									$('#noOrder').css('display','none');
									//									$('dd').each(function(){
									//									var status = $(this).attr("data-id");
									//									if(status==2){
									//										i++;
									//										$(this).css("display","block");
									//									}else{
									//										$(this).css("display","none");
									//									}
									//									})
									//									if(i==0){
									//										$('#noOrder').css('display','block');
									//									}
									//								}
									//								if(statusId==3){
									//									var i=0;
									//									$('#noOrder').css('display','none');
									//									$('dd').each(function(){
									//									var status = $(this).attr("data-id");
									//									if(status==2){
									//										i++;
									//										$(this).css("display","block");
									//									}else{
									//										$(this).css("display","none");
									//									}
									//									})
									//									if(i==0){
									//										$('#noOrder').css('display','block');
									//									}
									//								}
									if(statusId == 4) {
										var i = 0;
										$('.waitpay').css('display', 'none');
										$('#noOrder').css('display', 'none');
										$('dd').each(function() {
											var status = $(this).attr("data-id");
											var type = $(this).attr("data-type");
											if(status == 4 && type != 0) {
												i++;
												$(this).css("display", "block");
											} else {
												$(this).css("display", "none");
											}

										})

										if(i == 0) {
											$('#noOrder').css('display', 'block');
										}
									}
									if(statusId == 5) {
										var i = 0;
										$('.waitpay').css('display', 'none');
										$('#noOrder').css('display', 'none');
										$('dd').each(function() {
											var status = $(this).attr("data-id");
											if(status == 5) {
												i++;
												$(this).css("display", "block");
											} else {
												$(this).css("display", "none");
											}

										})

										if(i == 0) {
											$('#noOrder').css('display', 'block');
										}
									}
									if(statusId == 7) {
										var i = 0;
										$('.waitpay').css('display', 'none');
										$('#noOrder').css('display', 'none');
										$('dd').each(function() {
											var status = $(this).attr("data-id");
											if(status == 6 || status == 7 || status == 8 || status == 10) {
												i++;
												$(this).css("display", "block");
											} else {
												$(this).css("display", "none");
											}

										})

										if(i == 0) {
											$('#noOrder').css('display', 'block');
										}
									}
									if(statusId == 3) {
										var i = 0;
										$('.waitpay').css('display', 'none');
										$('#noOrder').css('display', 'none');
										$('dd').each(function() {
											var status = $(this).attr("data-id");
											if(status == 3) {
												i++;
												$(this).css("display", "block");
											} else {
												$(this).css("display", "none");
											}

										})

										if(i == 0) {
											$('#noOrder').css('display', 'block');
										}
									}
								})
							} else {

								document.getElementById("orderData").innerHTML = '<img src="../../img/market/order.png" style="margin: auto;display: block;width: 1rem;margin-top:1rem ;" alt="" /><span style="display:block;text-align: center;padding: 20px;color: #777;">您还没有相关的订单</span>';
							}
						} else {
							plus.nativeUI.closeWaiting();
							mui.toast(data.errmsg || '登录超时，请重启app重试！');
						}
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						console.log('响应失败  !');
						mui.toast('当前网络不好，请重试！');
					}
				});
			}

			//数组去重
			Array.prototype.unique1 = function() {
				var res = [this[0]];
				for(var i = 1; i < this.length; i++) {
					var repeat = false;
					for(var j = 0; j < res.length; j++) {
						if(this[i] == res[j]) {
							repeat = true;
							break;
						}
					}
					if(!repeat) {
						res.push(this[i]);
					}
				}
				return res;
			}
			window.goShop = function(id) {
				openview({
					view: '../market/shophome.html',
					extrasobj: {
						storeId: id
					}
				})
			}
			window.orderInfo = function(orderId, storeid) {
				openview({
					view: 'orderDetail.html',
					id: 'orderDetail',
					extrasobj: {
						orderId: orderId,
						storeId: storeid
					}
				})
			}
			window.delOrder = function(obj, id, txt, uuid, payid, odst) {
				console.log('payid' + payid + ' ' + 'uuid ' + uuid)
				if(odst == 1) {
					id = '';
				}
				if(!uuid) {
					uuid = '';
				}
				if(!payid) {
					payid = '';
				}
				console.log(id, uuid, payid)
				mui.confirm('确认' + txt + '订单？', '提示', ['取消', '确定'], function(e) {

					plus.nativeUI.showWaiting('加载中 ...', {
						width: '100px',
						height: '80px'
					}); //显示等待框
					if(e.index == 1) {
						mui.ajax(serverUrl + '/api/mall/deleteorder', {
							data: {
								userId: myuserid,
								orderId: id,
								repay_UUID: uuid,
								repay_Id: payid
							},
							dataType: 'json',
							type: 'post',
							timeout: 10000,
							headers: {
								"token": oldToken
							},
							success: function(data, type, xhr) {
								console.log("删除订单 ", data)
								plus.nativeUI.closeWaiting();
								if(data.data == 1) {
									mui.toast(txt + "订单成功")
									load();
									mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');
								} else {
									mui.toast(txt + "订单失败，请重试")
								}
							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting()
								console.log('响应失败  !');
							}
						});
					} else {
						plus.nativeUI.closeWaiting();
					}

				})
			}

			window.goOrder = function(uuid, repayid) {
				$("#payChoose").addClass("mui-active");

				//系统检测获取支付通道
				plus.payment.getChannels(function(channels) {
					console.log("channel " + JSON.stringify(channels));
					for(var i in channels) {
						var channel = channels[i];
						// 过滤掉不支持的支付通道：暂不支持360相关支付
						if(channel.id == 'qhpay' || channel.id == 'qihoo') {
							continue;
						}
						pays[channel.id] = channel;
						if(channel.id == 'alipay') { //添加支付事件
							document.getElementById('alipay').setAttribute('onclick', 'payfun("alipay")');
						}
						if(channel.id == 'wxpay') {
							document.getElementById('wxpay').setAttribute('onclick', 'payfun("wxpay")');

						}
						checkServices(channel);
					}
				}, function(e) {
					plus.nativeUI.alert("支付失败，请重试", null, "提示");
				});

				// 检测是否安装支付服务
				function checkServices(pc) {
					if(!pc.serviceReady) {
						var txt = null;
						switch(pc.id) {
							case "alipay":
								txt = "检测到系统未安装“支付宝快捷支付服务”，无法完成支付操作，是否立即安装？";
								break;
							default:
								txt = "系统未安装“" + pc.description + "”服务，无法完成支付，是否立即安装？";
								break;
						}
						//						plus.nativeUI.confirm(txt,function(e){
						//							if(e.index==0){
						//								pc.installService();
						//							}
						//						},pc.description);
					}
				}
				//系统检测获取支付通道结束
				// 支付方法
				window.payfun = function(id) {
					var varpay;
					if(id == 'alipay' || id == 'wxpay') {
						//调用支付功能
						plus.nativeUI.showWaiting();
						if(id == 'alipay') {
							//获取后台返回数据
							gopay(id);

						} else if(id == 'wxpay') { //微信
							gopay(id);
						}
					} else {
						plus.nativeUI.alert("当前环境不支持此支付通道！", null, "提示");
						return;
					}

					function gopay(id) {
						console.log('payid' + repayid + ' ' + 'uuid ' + uuid)

						var oldToken = plus.storage.getItem('oldToken');
						var myuserid = plus.storage.getItem('userid');
						var version = plus.storage.getItem('version');
						var platform = plus.storage.getItem('platform');
						console.log(platform + version);
						mui.ajax(serverUrl + '/api/mall/repayment', {
							data: {
								order_UUID: uuid,
								order_id: '',
								userId: parseInt(myuserid),
								seller: '',
								rePayID: parseInt(repayid),
								payType: id,
								version: version,
								platform: platform
							},
							type: 'post', //HTTP请求类型
							headers: {
								"token": oldToken
							},
							timeout: 300000, //超时时间设置为10秒；
							success: function(data) {
								plus.nativeUI.closeWaiting();
								$("#payChoose").removeClass("mui-active");
								console.log("Zf", data)
								if(data.errno == 1000) {
									mui.toast(data.errmsg || '商品价格已经发生变化，请去店铺重新下单购买');
								}
								var varpay;
								var orderUUID2 = data.data.AccessToken;
								mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');
								if(id == 'wxpay') {
									varpay = {
										"appid": data.data.payData.appid,
										"noncestr": data.data.payData.noncestr,
										"package": "Sign=WXPay",
										"partnerid": data.data.payData.partnerid,
										"prepayid": data.data.payData.prepayid,
										"timestamp": parseInt(data.data.payData.timestamp),
										"sign": data.data.payData.sign
									};
									//微信
									plus.payment.request(pays[id], varpay, function(result) {
										var resultStr = JSON.stringify(result);
										console.log("----- 支付成功 -----");
										plus.nativeUI.closeWaiting();
										//修改订单状态
										mui.ajax(serverUrl + '/api/mall/confirmpurchase', {
											data: {
												id: data.data.AccessToken,
												appPayValue: resultStr,
												userid: myuserid
											},
											type: 'post', //HTTP请求类型
											headers: {
												"token": oldToken
											},
											timeout: 10000, //超时时间设置为10秒；
											success: function(data) {
												console.log("修改状态成功");
												$("#payChoose").removeClass("mui-active");
												mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');

												load();//重载订单
												isShowShare(true,orderUUID2); //分享得礼

											},
											error: function(xhr, type, errorThrown) {}
										});

									}, function(e) {
										console.log("----- 支付失败 -----");
										console.log("[" + e.code + "]：" + e.message);
										plus.nativeUI.alert("支付失败");
									});
								} else {
									//支付宝
									varpay = data.data.payData;
									plus.payment.request(pays[id], varpay, function(result) {
										var resultStr = JSON.stringify(result);
										console.log("----- 支付成功 -----", JSON.stringify(result));
										plus.nativeUI.closeWaiting();
										//											plus.nativeUI.alert("支付成功");
										//											alert("id "+data.data.AccessToken+"varpay "+JSON.stringify(varpay)+myuserid+" "+addressid)
										//修改订单状态
										mui.ajax(serverUrl + '/api/mall/confirmpurchase', {
											data: {
												id: data.data.AccessToken,
												appPayValue: resultStr,
												userid: myuserid
											},
											dataType: 'json',
											type: 'post', //HTTP请求类型
											headers: {
												"token": oldToken
											},
											timeout: 10000, //超时时间设置为10秒；
											success: function(data) {
												console.log("修改状态成功");
												$("#payChoose").removeClass("mui-active");
												mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');


												load();//重载订单
												isShowShare(true,orderUUID2); //分享得礼
											},
											error: function(xhr, type, errorThrown) {
												console.log("修改状态失败")
											}
										});

									}, function(e) {
										console.log("----- 支付失败 -----");
										console.log("[" + e.code + "]：" + e.message);
										//					console.log("["+e.code+"]："+e.message);
										plus.nativeUI.closeWaiting();
										plus.nativeUI.alert("支付失败");
									});
								}
							},
							error: function(xhr, type, errorThrown) {
								//异常处理；
								console.log(type);
								console.log("----- 请求订单失败 -----");
								console.log(xhr.status);
								plus.nativeUI.closeWaiting();
								plus.nativeUI.alert("获取订单信息失败！");
							}
						});

					}

				}

			}

			window.goComment = function(orderId, goodlength, goodId, stroid) {
				if(goodlength == 1) {
					openview({
						view: 'comment.html',
						extrasobj: {
							orderId: orderId,
							goodid: goodId,
							pageid: 'sc-order',
							stroId: stroid
						}
					})
				} else {
					openview({
						view: 'commentGoods.html',
						extrasobj: {
							orderId: orderId,
							pageid: 'sc-order',
							stroId: stroid
						}
					})
				}

			}
			window.viewLogistics = function(id, deliveryNo, shipper) {
				openview({
					view: '../localLife/deliveryTrace.html',
					extrasobj: {
						deliveryNo: deliveryNo,
						shipper: shipper
					}
				})
			}
			window.orderConfirm = function(id) {
				mui.confirm('确认收货？', '提示', ['取消', '确定'], function(e) {

					plus.nativeUI.showWaiting('加载中 ...', {
						width: '100px',
						height: '80px'
					}); //显示等待框
					if(e.index == 1) {
						mui.ajax(serverUrl + '/api/mall/completeorder', {
							data: {
								userId: myuserid,
								orderId: id
							},
							dataType: 'json',
							type: 'post',
							timeout: 10000,
							headers: {
								"token": oldToken
							},
							success: function(data, type, xhr) {
								plus.nativeUI.closeWaiting();
								if(data.data == 1) {
									mui.toast("收货成功");
									mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');
									load();

								}
							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting()
								console.log('响应失败  !');
							}
						});
					} else {
						plus.nativeUI.closeWaiting();
					}

				})
			}
			window.tuiOrder = function(id, price) {
				openview({
					view: '../market/ruturnList.html',
					extrasobj: {
						orderId: id,
						price: price
					}
				})
			}
			window.cmtwl = function(id, order_UUID, buyer) {
				openview({
					view: 'comitdelivery.html',
					extrasobj: {
						orderId: id,
						uuid: order_UUID,
						buyerId: buyer,
						page: "sc-order"
					}
				})
			}

		})
	</script>

</html>