<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/cart.css" />
		<link rel="stylesheet" type="text/css" href="../css/config.css" />
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="headbar mui-action-back mui-icon mui-icon-left-nav mui-pull-left normalSize" id="fanhui" style="margin-left: 0;display: none;"></a>
			<h1 class="mui-title">购物车<span class="cartNum">(<span>0</span>)</span></h1>
			<a class="fr editAll" id="bianji" style="line-height: 50px;color: #555;">编辑</a>
		</header>
		<script src="../js/statusBar.js"></script>
		<!--状态栏-->
		<div style="height:50px;"></div>
		<div id="cartData"></div>
		<script type="text/html" id="cartTpl">
			<%if(goodsList.length==0){%>
			<div onclick="hangout()">
				<img src="../img/market/blankCart.png" style="width:30%;margin: auto;display: block;margin-top: 40%;" alt="" />
				<div style="color: #666;text-align: center;margin-top: 30px;font-size: 14px;">你的购物车还是空的哦</div>
			</div>

			<%}else{%>
			<%for(var i =cates.length-1;i>=0;i--){%>
			<dl class="cart">
				<dt><div class="mui-checkbox"><input name="checkbox" class="groupCheck" type="checkbox"></div>
				<div class="shopName" style="white-space: nowrap;overflow: hidden;max-width:2.5rem;"><img class="cartLogo" src="../img/573a7a6742999.png" style="margin-right: 5px;"> <%=cates[i]%></div>
				  <a class="edit">编辑</a>
				 </dt>
				<%for(var j=goodsList.length-1;j>=0;j--){%>
				<% if(goodsList[j].shopName ==  cates[i]){%>
				<dd>
					<div class="mui-checkbox" style="top: 30%;">
						<input name="checkbox" data-id="<%=goodsList[j].goodsId%>" data-goodstext="<%=goodsList[j].goodText%>" data-shopId="<%=goodsList[j].shopId%>" data-igetShopId="<%=goodsList[j].igetShopId%>" data-shop="<%=goodsList[j].shopName%>" data-gdName="<%=goodsList[j].goodsName%>" data-gdImg="<%=goodsList[j].goodsImg%>" data-gdprice="<%=goodsList[j].goodsPrice%>" data-gdPostfee="<%=goodsList[j].goodsPostfee%>" data-gdDelivery="<%=goodsList[j].goodsDelivery%>" data-gdRate="<%=goodsList[j].goodsRate%>" data-num="<%=goodsList[j].goodsnum%>" data-gdweight="<%=goodsList[j].goodweight%>" data-gdreduce="<%=goodsList[j].goodsreduce%>" data-gdsaddress="<%=goodsList[j].goodsaddress%>" type="checkbox"></div>
					<% if(goodsList[j].igetShopId == '0'){%>
					<a class="goodsPic" onclick="goGoods('<%=goodsList[j].goodsId%>','<%=goodsList[j].shopId%>',0)">
						<img src="<%=goodsList[j].goodsImg%>" onerror="javascript:this.src='../img/market/none.png';" />
					</a>
					<%}else{%>
					<a class="goodsPic" onclick="goGoods('<%=goodsList[j].goodsId%>','<%=goodsList[j].shopId%>',1)"><img src="<%=myUrl%><%=goodsList[j].goodsImg%>" onerror="javascript:this.src='../img/market/none.png';" /></a>
					<%}%>
					<div class="goodsInfor">
						<!--onclick="goGoods('<%=goodsList[j].goodsId%>')"-->
						<h2>  
						    <a><%=goodsList[j].goodsName%></a>
						    <span class="num"><%=goodsList[j].goodsnum%></span>
						   </h2>
						<div class="priceArea">
							<div class="extraBrief">
								<%=goodsList[j].goodText%>
							</div>
							<strong>￥<span class="price"><%=goodsList[j].goodsPrice%></span></strong>
							<%if(goodsList[j].goodsrecommentType == 1){%>
							<div class="mui-pull-right ft14 rtype" style="color: #486B8A;"><img src="../img/center/typeFlag.svg" alt="" /> HI抢购</div>
							<%}else if(goodsList[j].goodsrecommentType == 7){%>
							<div class="mui-pull-right ft14 rtype" style="color: #66638B;"><img src="../img/center/typeFlag.svg" alt="" />HI邀请有礼</div>
							<%}else if(goodsList[j].igetShopId == 0){%>
							<div class="mui-pull-right ft14 rtype" style="color: #E96463;"><img src="../img/center/typeFlag.svg" alt="" />跨境优品</div>
							<%}%>

						</div>
						<div class="numberWidget">
							<div class="mui-numbox" data-numbox-min='1' data-numbox-max="<%=goodsList[j].mostBuy%>">
								<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
								<input class="mui-input-numbox" data-id="<%=goodsList[j].goodsId%>" data-goodstext="<%=goodsList[j].goodText%>" data-mostBuy="<%=goodsList[j].mostBuy%>" value="<%=goodsList[j].goodsnum%>" type="number" />
								<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
							</div>
							<!--<div class="extraBrief" style="margin-top: 10px;">
								<%=goodsList[j].goodText%>
							</div>-->
						</div>
					</div>
					<a class="delBtn" data-id="<%=goodsList[j].goodsId%>" data-goodstext="<%=goodsList[j].goodText%>">删除</a>
				</dd>
				<%}%>
				<%}%>
			</dl>
			<%}%>
			<!--bottom nav-->
			<div style="height:1rem;"></div>
			<aside class="btmNav" id="dibu">
				<a class="dp" style="position: relative;color: #f63d43;">
					<div class="mui-checkbox botCheck"><input name="checkbox" id="totalCheck" type="checkbox"></div><span style="color: #333333;">合计：</span>￥<span class="totalMoney">0</span>
				</a>
				<a class="goOrder dp" style="background:#f53c42;color:white;text-shadow:none;">结算<span class="totalVisi">(<span class="totalNum">0</span>)</span>
				</a>
				<a class="delBtnAll" style="background:#ff6910;color:white;text-shadow:none;display: none;">删除</span>
				</a>
			</aside>
			<%}%>
		</script>

		<script type="text/javascript" src="../js/jquery_cart.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
	</body>

	<script>
		mui.plusReady(function() {
			//		plus.storage.removeItem('$cartStorage')
			window.addEventListener('refresh', function(event) {
				cartload();
			});

			cartload();

			function cartload() {
				var myuserid = plus.storage.getItem('userid');
				var oldToken = plus.storage.getItem('oldToken');
				var page = plus.webview.currentWebview().pageId;
				if(page == "detail") {
					document.getElementById('fanhui').style.display = "block";
				} else {
					document.getElementById('fanhui').style.display = "none"
				}
				var tipsCont = '<div style="text-align: center;" onclick="hangout()"><img src="../img/market/blankCart.png" style="width:30%;margin: auto;display: block;margin-top: 40%;" alt="" /></div>';
				//购物车 缓存  
				//订单缓存
				var orderStorage = JSON.parse(plus.storage.getItem('$orderStorage') || '[]');
				if(myuserid){
					//获取购物车数据
					mui.ajax(serverUrl + '/api/mall/shpocar', {
						data:{'user_id':myuserid,'isSave':0},
						dataType: 'json',
						type: 'post',
						timeout: 8000,
						headers: {"token": oldToken,'city': 1},
						success: function(data, type, xhr) {
							console.log('cart返回',data);
							if(data.errno == 0 && data.data.shopCar && JSON.parse(data.data.shopCar).length>0){ 
								var cartStorage = JSON.parse(data.data.shopCar);
								plus.storage.setItem("$cartStorage", JSON.stringify(cartStorage));
								
								console.log('cartStorage', cartStorage)
								var data = {};
								data.goodsList = cartStorage;
								var arr = [];
								for(var i = 0; i < cartStorage.length; i++) {
									if(cartStorage.igetShopId == 0) {
										arr.push('跨境优品' + i);
									} else {
				
										arr.push(cartStorage[i].shopName);
									}
								}
								data.cates = arr.unique1();
								console.log('data.cates', data.cates)
								data.myUrl = serverimgUrlE;
								var html2 = template('cartTpl', data);
								document.getElementById('cartData').innerHTML = html2;
								mui(".mui-numbox").numbox();
								if(cartStorage.length == 0) { //没有隐藏  
									mui(".cartNum")[0].style.display = 'none';
									mui('#bianji')[0].style.display = 'none';
									mui('#dibu')[0].style.display = 'none';
								} else {
									mui('#bianji')[0].style.display = 'inline-block';
									mui('#dibu')[0].style.display = '-webkit-box';
									mui(".cartNum")[0].style.display = 'block';
								}

								//计算购物车数量
								ddAll();
				
								function ddAll() {
									var all = $("dd").length
									$(".cartNum span").html(all);
									if(all == 0) {
										$(".cartNum").css("display", "none");
									} else {
										$(".cartNum").css("display", "inline-block");
									}
								}
								//show or hide:delBtn
								$(".edit").toggle(function() {
									$(this).parent().siblings("dd").find(".delBtn").fadeIn();
									$(this).html("完成");
									$(this).parentsUntil("#cartData").find(".numberWidget").show();
									$(this).parentsUntil("#cartData").find("h2").css("visibility", "hidden");
									$(this).parentsUntil("#cartData").find(".priceArea").hide();
								}, function() {
									$(this).parent().siblings("dd").find(".delBtn").fadeOut();
									$(this).html("编辑");
									$(this).parentsUntil("#cartData").find(".numberWidget").hide();
									$(this).parentsUntil("#cartData").find("h2").css("visibility", "visible");
									$(this).parentsUntil("#cartData").find(".priceArea").show();
								});
								//编辑所有
								$(".editAll").toggle(function() {
									$(".edit,.delBtn").css("display", "none");
									$(".edit").html("编辑");
									$(".delBtnAll").css("display", "block");
									$(".delBtnAll").css("display", "block");
									$("#cartData").find("h2").css("visibility", "visible");
									$(".goOrder").css("display", "none");
									$(this).html("完成");
									$(".numberWidget").show();
									$(".priceArea").hide();
								}, function() {
									$(".edit").css("display", "block");
									$(".delBtnAll").css("display", "none");
									$("#cartData").find("h2").css("visibility", "visible");
									$(".goOrder").css("display", "block");
									$(this).html("编辑");
									$(".numberWidget").hide();
									$(".priceArea").show();
								});
				
								//删除 单个
								$(".delBtn").click(function() {
									var delThis = $(this);
									var delID = $(this).attr("data-id");
									var deltext = $(this).attr("data-goodstext");
									mui.confirm('确认删除这件商品吗？', '提示', ['取消', '确定'], function(e) {
										if(e.index == 1) {
				
											//删除这一条缓存
											cartStorage = JSON.parse(plus.storage.getItem('$cartStorage') || '[]');
											for(var i = 0; i < cartStorage.length; i++) {
				
												if(delID == cartStorage[i].goodsId && $.trim(deltext) == $.trim(cartStorage[i].goodText.replace(/&nbsp;/, ''))) {
													cartStorage.splice(i, 1);
												}
											}
											plus.storage.setItem("$cartStorage", JSON.stringify(cartStorage));
											//提交购物车到后台
											addCart(JSON.stringify(cartStorage),myuserid,oldToken)
											var curCart = delThis.parentsUntil("#cartData");
											delThis.parent().remove();
											//判断该组商品是否删除完 
											if(curCart.find("dd").length == 0) {
												curCart.remove();
												if($('.cart').length == 0) {
													$('aside input').attr("checked", false);
													mui('#bianji')[0].style.display = 'none';
													mui('#dibu')[0].style.display = 'none';
													mui('#cartData')[0].innerHTML = tipsCont;
												}
											}
											ddAll();
											countFuc();
										}
				
									})
								});
								//删除选中的全部 
								$(".delBtnAll")[0].onclick = function() {
									var ALLcheckLength = $("dd").find("input[type='checkbox']:checked").length;
									if(ALLcheckLength == 0) {
										mui.toast("您还未选择要删除的商品哦！")
									} else {
										mui.confirm('确认删除这' + ALLcheckLength + '件商品吗？', '提示', ['取消', '确定'], function(e) {
											if(e.index == 1) {
												var delThis = $("dd").find("input[type='checkbox']:checked").parentsUntil("dl");
												//删除选中的 购物车 缓存 
												$("dd").find("input[type='checkbox']:checked").each(function() {
													var delID = $(this).attr("data-id");
													var deltext = $(this).attr("data-goodstext");
													//删除这一条缓存
													cartStorage = JSON.parse(plus.storage.getItem('$cartStorage') || '[]');
													for(var i = 0; i < cartStorage.length; i++) {
														if(delID == cartStorage[i].goodsId && deltext == cartStorage[i].goodText) {
															cartStorage.splice(i, 1);
														}
													}
													plus.storage.setItem("$cartStorage", JSON.stringify(cartStorage));
													//提交购物车到后台
													addCart(JSON.stringify(cartStorage),myuserid,oldToken)
												})
												delThis.remove();
												allCart();
												if($('.cart').length == 0) {
													$('aside input').attr("checked", false);
													mui('#bianji')[0].style.display = 'none';
													mui('#dibu')[0].style.display = 'none';
													mui('#cartData')[0].innerHTML = tipsCont;
												}
												ALLcheckLength = $("dd").find("input[type='checkbox']:checked").length;
				
												ddAll();
												countFuc();
												if(ALLcheckLength == 0) {
													$('aside input').attr("checked", false);
				
												}
				
											}
				
										})
									}
				
								};
								//遍历 单组下面的商品
								function allCart() {
									$(".cart").each(function() {
										if($(this).find("dd").length == 0) {
											$(this).remove()
										}
									})
								}
				
								//单组 全选
								$('dl dt .mui-checkbox').click(function() {
				
									if($(this).find("input").is(':checked')) {
										$(this).parentsUntil("#cartData").find("input").attr("checked", true);
										var allLength = $("dd").length;
										var ALLcheckLength = $("dd").find("input[type='checkbox']:checked").length;
										if(ALLcheckLength == allLength) {
											$('aside input').attr("checked", true);
										} else {
											$('aside input').attr("checked", false);
											var allLength = $("dd").length;
											var ALLcheckLength = $("dd").find("input[type='checkbox']:checked").length;
											if(ALLcheckLength == allLength) {
												$('aside input').attr("checked", true);
											} else {
												$('aside input').attr("checked", false);
											}
										}
				
									} else {
										$(this).parentsUntil("#cartData").find("input").attr("checked", false);
										$('aside input').attr("checked", false);
									}
				
									countFuc();
								})
								//单个 选择
								$('dl dd .mui-checkbox').click(function() {
									var allLength = $("dd").length;
									var length = $(this).parentsUntil("#cartData").find("dd").length;
									var checkLength = $(this).parentsUntil("#cartData").find("input[type='checkbox']:checked").length;
									var ALLcheckLength = $("dd").find("input[type='checkbox']:checked").length;
									if($(this).find("input").prop('checked') == false) {
										$(this).parentsUntil("#cartData").find(".groupCheck").attr("checked", false);
										$('aside input').attr("checked", false);
										countFuc();
									} else {
										if(length == checkLength) {
											$(this).parentsUntil("#cartData").find(".groupCheck").attr("checked", true);
										}
										if(ALLcheckLength == allLength) {
											$('aside input').attr("checked", true);
										}
										countFuc();
									}
				
								})
								//总选
								$('aside .mui-checkbox').click(function() {
									if($(this).find("input").prop('checked') == false) {
										$("dl input").attr("checked", false);
										$(".totalNum").html(0);
										$(".totalMoney").html(0);
									} else {
										$("dl input").attr("checked", true);
										countFuc();
									}
				
								})
								//数量选择 
								$('.mui-numbox input').on('change', function() {
									var number = $(this).val(); //当前数量
									var mostBuy = $(this).attr('data-mostBuy');
									if(parseInt(number) >= parseInt(mostBuy)) {
										plus.nativeUI.alert("该商品最多买" + mostBuy + '个')
									}
				
									var goodsid = $(this).attr("data-id"); //当前视商品id
									var goodstext = $(this).attr("data-goodstext"); //当前商品属性
									var curPrice = $(this).parentsUntil("dd").find(".price").html();
									$(this).parentsUntil("dd").find(".num").html(number);
									countFuc();
									//更新此商品数量缓存
									cartStorage = JSON.parse(plus.storage.getItem('$cartStorage') || '[]');
									for(var i = 0; i < cartStorage.length; i++) {
										if(goodsid == cartStorage[i].goodsId && goodstext == cartStorage[i].goodText) {
											cartStorage[i].goodsnum = number;
										}
									}
									console.log("cartStorage", cartStorage)
									plus.storage.setItem("$cartStorage", JSON.stringify(cartStorage));
									//提交购物车到后台
									addCart(JSON.stringify(cartStorage),myuserid,oldToken)
				
								})
								//计算总价和总数量
								function countFuc() {
									var fen = 0; //总份数
									var pay = 0; //总金额 
									$("dd").find("input[type='checkbox']:checked").each(function() {
										//价格  
										var price = parseFloat($(this).parentsUntil('dl').find('.price').html());
										//当前数量
										var num = parseInt($(this).parentsUntil('#cartData').find("input[type='number']").val());
										pay += num * price;
										fen += num;
									})
									//赋值
									$(".totalNum").html(fen);
									$(".totalMoney").html(parseFloat(pay).toFixed(2));
								}
								//下单
								var goOrder = mui(".goOrder")[0];
								goOrder.addEventListener("tap", function() {
				
									var ALLcheckLength = $("dd").find("input[type='checkbox']:checked").length;
									if(ALLcheckLength == 0) {
										mui.toast("您还未选择要购买的商品哦！")
									} else {
				
										if(plus.storage.getItem('myToken')) {
											//订单缓存
											var orderStorage = [];
											$("dd").find("input[type='checkbox']:checked").each(function() {
												var orderObj = {};
												orderObj.goodsId = $(this).attr("data-id");
												orderObj.goodsnum = parseInt($(this).parentsUntil('#cartData').find("input[type='number']").val());
												orderObj.goodText = $(this).attr("data-goodstext");
												orderObj.goodsPrice = $(this).attr("data-gdprice");
				
												//								var totolmoney = orderObj.goodsnum*parseFloat(orderObj.goodsPrice);
				
												for(var i = 0; i < cartStorage.length; i++) {
													if(orderObj.goodsId == cartStorage[i].goodsId && orderObj.goodText == cartStorage[i].goodText) {
														orderObj.goodProp = cartStorage[i].goodProp;
														orderObj.goodsrecommentType = cartStorage[i].goodsrecommentType;
														orderObj.goodsreduce = cartStorage[i].goodsreduce;
														orderObj.goods_property = cartStorage[i].goods_property;
													}
												}
												if($(this).attr("data-igetShopId") == 0) {
													orderObj.shopId = $(this).attr("data-shopId");
													orderObj.igetShopId = 0;
												} else {
													orderObj.shopId = $(this).attr("data-shopId");
													orderObj.igetShopId = 1;
												}
				
												orderObj.shopName = $(this).attr("data-shop");
				
												orderObj.goodsName = $(this).attr("data-gdName");
												orderObj.goodsaddress = $(this).attr("data-gdsaddress");
												orderObj.goodsImg = $(this).attr("data-gdImg");
												orderObj.goodsPostfee = $(this).attr("data-gdPostfee");
												orderObj.goodsDelivery = $(this).attr("data-gdDelivery");
												orderObj.goodsRate = $(this).attr('data-gdRate');
												orderObj.goodweight = $(this).attr("data-gdweight");
				
												orderStorage.push(orderObj)
				
											})
											plus.storage.setItem("$orderStorage", JSON.stringify(orderStorage));
				
											var flag = [];
											console.log('orderStorage', orderStorage)
											for(var i = 0; i < orderStorage.length; i++) {
												if(orderStorage[i].goodsrecommentType || orderStorage[i].goodsrecommentType == 0) {
													flag.push(orderStorage[i].goodsrecommentType)
												} else if(orderStorage[i].igetShopId == 0) {
													flag.push(-1)
												}
				
											}
				
											flag = flag.unique1();
											if(flag[0] != null && flag.length > 1) {
												var fflag = 0;
												for(var i = 0; i < flag.length; i++) {
													if(flag[i] == 7 || flag[i] == 1 || flag[i] == -1 && orderStorage.length > 1) {
														fflag++;
														mui.toast('跨境优品和抢购和邀请有礼商品请单独购买');
														break;
													}
												}
												if(fflag < 1) {
													mui.toast("您选中了" + ALLcheckLength + "件商品")
													openview({
														view: "market/market-order.html",
														id: "market-order",
														extrasobj: {
															iscart: 1
														}
													})
												}
											} else {
												mui.toast("您选中了" + ALLcheckLength + "件商品")
												openview({
													view: "market/market-order.html",
													id: "market-order",
													extrasobj: {
														iscart: 1
													}
												})
											}
				
										} else { //没登陆直接打开登录页面
											mui.toast('请登录');
											openview({
												view: 'login.html'
											});
										}
				
									}
								})
								//进店铺详情
								$('.shopName').click(function() {
									var shopId = $(this).parent().next().find(".mui-checkbox input").attr("data-shopId");
									if(shopId != 0) {
										openview({
											view: 'market/shophome.html',
											extrasobj: {
												storeId: shopId
											}
										})
									} else {
										openview({
											view: 'market/youpinhui-Center.html'
										})
									}
				
								})
							}else{
								mui('#cartData')[0].innerHTML = tipsCont;
							} 
						},
						error: function(xhr, type, errorThrown) {
							console.error('响应失败');
							mui.toast('当前网络不好,请重试');
						}
					});	
				}else{ 
					mui('#cartData')[0].innerHTML = tipsCont;
					
				} 
			}

		})
		//逛逛
		function hangout() {
			openview({
				view: "market/market.html"
			})
		}
		//进商品详情
		function goGoods(gid, did, sd) {
			if(sd == 0) {
				openview({
					view: "market/yphDetail.html",
					extrasobj: {
						goodsId: gid
					}
				})
			} else {
				openview({
					view: "market/mall-detail.html",
					extrasobj: {
						goodsId: gid
					}
				})
			}
		}
		$('.numberWidget,.mui-numbox button,.mui-numbox input').click(function() {
			event.stopPropagation()
		})
		Array.prototype.unique1 = function() {
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
	</script>

</html>