<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>商品订单确认 </title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<style type="text/css">
			.mui-bar {
				height: 50px;
				box-shadow: none;
			}
			
			.mui-title,
			.mui-icon {
				line-height: 50px;
			}
			
			.mui-bar .mui-icon {
				padding: 0;
			}
			
			#main {
				margin-top: 50px;
			}
			/*这一页*/
			
			.kv-line-r>h6,
			.kv-line-r>.kv-k {
				font-size: 13px;
			}
			
			.boxs {
				margin-bottom: 10px;
			}
			
			.boxs li {
				border-top: 0;
			}
			
			.boxstwo li a {
				width: 100%;
			}
			
			.mui-icon-location {
				width: 100%;
				text-align: center;
				margin-left: -7px;
			}
			
			.mui-col-sm-9 {
				padding-left: 15px;
			}
			
			.ico_arrow {
				position: absolute;
				top: 0;
				margin: 23px 0;
			}
			
			.phoneNum {
				float: right;
			}
			
			strong p {
				padding: 5px 10% 5px 0;
				line-height: 20px;
				color: #333;
			}
			
			.address {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			
			.middle-icon {
				padding: 4px 0;
			}
			
			.addBtn {
				background-color: #ff9100 !important;
				border: 1px solid #ff9100 !important;
			}
			
			.mui-numbox {
				width: 100px;
				height: 30px;
				padding: 0 30px;
			}
			
			.mui-numbox .mui-btn {
				width: 30px;
			}
			
			.addTitle {
				line-height: 30px;
			}
			
			.quanc {
				width: 0.3rem;
				margin-right: 0.1rem;
				display: none;
			}
			
			dl.list .dd-paddingtwo {
				padding: .08rem .15rem .08rem .15rem;
			}
			
			.addTitle img {
				width: 100%;
			}
			
			dl.list {
				border: 1px solid #eee;
			}
			
			dl.list dt,
			dl.list dd {
				border-bottom: 0px solid #eee;
				position: relative;
			}
			
			dl.list dt:after,
			dl.list dd:after {
				content: '';
				display: block;
				height: 1px;
				-webkit-transform: scaleY(0.3);
				background-color: rgba(0, 0, 0, 0.1);
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
			}
			
			dl.list dt:last-child:after,
			dl.list dd:last-child:after {
				height: 0;
			}
			
			.price {
				color: #ff5f32;
				line-height: 28px;
				font-size: 16px;
			}
			
			.kv-line-r>p span {
				color: #ff5f32;
			}
			
			.price sub {
				bottom: 0;
			}
			
			.num {
				float: right;
				color: #333;
			}
			
			p,
			h6 {
				color: #333;
			}
			
			.postWrap {
				background: #fff url(../../img/market/post.png) no-repeat bottom;
				background-size: 100%;
			}
			
			.boxstwo li a {
				margin: 10px 0;
			}
			
			#container {
				padding-bottom: 50px;
			}
			
			.goods p {
				padding: 3px 0;
				line-height: 20px;
			}
			
			.goodsDetail {
				font-size: 12px;
				color: #999;
				line-height: 15px !important;
			}
			
			.tips {
				margin-bottom: 0 !important;
				border: none !important;
				font-size: 14px;
				line-height: 16px;
			}
			
			.tipsWrap,
			.ztWrap {
				padding: 0 0.15rem !important;
			}
			
			.tipsWrap input,
			.ztWrap input {
				padding: 0 !important;
			}
			
			.tipsWrap h6,
			.ztWrap h6 {
				line-height: 40px;
				margin-right: 0;
			}
			
			.tipsWrap h6 .goods,
			.ztWrap h6 .goods {
				padding-left: 0;
			}
			
			dl.list dd dl {
				padding-left: 0;
			}
			
			dl.list dd dl>.dd-padding,
			dl.list dd dl dd>.react,
			dl.list dd dl>dt {
				padding: 0.15rem;
			}
			
			.goodsWrap {
				background-color: #fafafa;
			}
			
			.comm_btn {
				margin: 0;
				height: 50px;
				line-height: 50px;
				padding: 0;
				width: 100%;
				text-align: center;
			}
			
			.fixed .btn {
				border: none !important;
				bottom: 0;
				right: 0;
				width: 25%;
			}
			
			.fixed p {
				width: 75%;
				text-align: right;
			}
			
			.priceWrap {}
			
			.priceWrap p {
				text-align: right !important;
				display: block;
				font-size: 16px;
				width: 100%;
			}
			
			.priceWrap p sub {
				bottom: 0;
			}
			
			#coupon .mui-checkbox,
			.checkQuan .mui-checkbox,
			.waypay .mui-checkbox {
				position: absolute;
				top: 50%;
				margin-top: -18px;
				right: 0;
			}
			
			.mui-checkbox input[type=checkbox]:checked:before,
			.mui-radio input[type=radio]:checked:before {
				color: rgb(245, 60, 66);
			}
			
			.mui-card {
				margin: 0;
			}
			
			.checkQuan {
				padding: 2px 15px;
				border: 1px solid #f53c42;
				border-radius: 5px;
				line-height: 18px;
				margin: 5px 0;
				position: relative;
			}
			
			.checkQuan .mui-col-sm-3 {
				width: 28%;
				padding: 12px 5px;
				border-right: 1px dotted #f53c42;
			}
			
			.checkQuan .mui-col-sm-9 {
				width: 72%;
				padding: 12px 15px;
			}
			
			.cred {
				color: #f53c42;
			}
			
			.dateLimit {
				font-size: 12px;
			}
			
			#sfzin {
				width: -moz-calc(100% - 70px)!important;
				width: -webkit-calc(100% - 70px)!important;
				width: calc(100% - 70px)!important;
				font-size: 12px;
				padding: 0;
				text-align: right;
				background: none;
				height: auto;
				margin: 0;
				line-height: 12px;
				border: none;
			}
			
			.sf:after {
				height: 0px!important;
			}
			
			.mui-checkbox.mui-left label {
				padding-right: 15px;
				padding-left: 46px;
				padding-top: 14px;
			}
			
			.mui-radio input[type=radio]:before {
				font-size: 20px;
			}
			
			.mui-radio input[type=radio] {
				top: -20px;
			}
			
			#payChoose {
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 9999;
				background-color: rgba(0, 0, 0, 0.2);
			}
			
			#payChoose p {
				text-align: center;
				color: black;
				position: relative;
				font-size: 0.16rem;
				padding: 15px;
			}
			
			#payChoose p:after {
				position: absolute;
				right: 0;
				bottom: 0;
				content: '';
				left: 0;
				height: 1px!important;
				-webkit-transform: scaleY(0.1);
				-webkit-transform-origin: bottom;
				background-color: #D1D2D4;
			}
			
			#payChoose p img {
				width: 16px;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -8px;
			}
			
			.paycontent {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: #EEEEEE;
			}
			
			.mui-popover.mui-popover-action .mui-table-view {
				margin: 0;
			}
			
			.suborder a {
				background-color: #F53C42;
				color: white!important;
				border-radius: 5px!important;
				margin: 1px!important;
			}
			
			.paycontent img {
				width: 30px;
				margin-right: 15px;
			}
			
			.waypay li {
				background: white;
				color: black;
				font-size: 0.15rem;
				text-align: left;
			}
			
			.waypay li img.fr {
				width: 25px;
				vertical-align: middle;
			}
			
			.paytip {
				position: relative;
				background: white;
				padding: 15px;
				text-align: center;
				font-size: 0.14rem;
			}
			
			#totalPayCash {
				color: red;
			}
			
			.charge {
				color: coral;
			}
			
			.choosewl {
				position: relative;
				width: 100vw;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;
				padding: inherit!important;
			}
			
			.choosewl.mui-active a {
				background: #EEEEEE;
			}
			
			.dlc div {
				width: 100%;
				font-size: 0.12rem;
				line-height: 2;
				position: relative;
			}
			
			.dlc div:not(:last-of-type):after {
				position: absolute;
				right: 0;
				bottom: 0;
				content: '';
				left: 0;
				height: 1px!important;
				-webkit-transform: scaleY(0.3);
				-webkit-transform-origin: bottom;
				background-color: #D1D2D4;
			}
			
			.wlway {
				padding-right: 15px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
			<h1 class="mui-title">订单</h1>

		</header>
		<script src="../../js/statusBar.js"></script>
		<!--状态栏-->
		<div id="container">
			<div id="main">
				<form class="wrapper-list">
					<ul class="boxs boxstwo postWrap">
						<div id="add_info"></div>
						<script type="text/html" id="addrTpl">
							<%if(obj.length==0){%>
							<li onclick="goAddr()">
								<div class="mui-row orderRow">
									<div class="mui-col-sm-1 mui-col-xs-1">
										<span class="mui-icon mui-icon-location middle-icon"></span>
									</div>
									<div class="mui-col-sm-11 mui-col-xs-11">
										<p style="line-height: 50px;">请选择收货地址</p>
										<p class="address"></p>
										<div class="fr"><i class="ico_arrow middle-icon"></i></div>
									</div>
								</div>
							</li>
							<%}else{%>
							<li onclick="goAddr()" id="addid" data-id="<%=obj[0].id%>" data-name="<%=obj[0].person%>" data-address="<%=obj[0].province%><%=obj[0].city%><%=obj[0].area%><%=obj[0].address%>" data-phone="<%=obj[0].phone%>">
								<div class="mui-row orderRow">
									<div class="mui-col-sm-1 mui-col-xs-1">
										<span class="mui-icon mui-icon-location middle-icon"></span>
									</div>
									<div class="mui-col-sm-11 mui-col-xs-11">
										<strong>									
											<p>收货人：<%=obj[0].person%><span class="phoneNum"><%=obj[0].phone%></span></p>
											<p class="address">收货地址：<%=obj[0].province%><%=obj[0].city%><%=obj[0].area%><%=obj[0].address%></p>
											<div class="fr"><i class="ico_arrow middle-icon"></i></div>
										</strong>
									</div>
								</div>
							</li>

							<%}%>
						</script>

					</ul>
					<div id="orderTpl"></div>
					<script type="text/html" id="orderData">
						<%for(var i =0;i<shopID.length;i++){%>
						<dl class="list">
							<dd class="dd-padding kv-line-r">
								<h6><img src="../../img/market/shop.png" style="width: 0.2rem;vertical-align: middle;" alt="" /> <%=cates[i]%></h6>
							</dd>
							<%for(var j =0;j<goodsList.length;j++){%>
							<% if(goodsList[j].shopId ==  shopID[i]){%>
							<dd class="dd-padding kv-line-r mui-row goodsWrap">
								<!--onclick="goInfo('<%=goodsList[j].goodsId%>')"-->
								<% if(goodsList[j].igetShopId == '0'){%>
								<h6 class="addTitle mui-col-sm-4 mui-col-xs-4" id="aigou"><img src="<%=goodsList[j].goodsImg%>" onerror="javascript:this.src='../../img/market/none.png';"/></h6>
								<%}else{%>
								<h6 class="addTitle mui-col-sm-4 mui-col-xs-4"><img src="<%=myurl%><%=goodsList[j].goodsImg%>" onerror="javascript:this.src='../../img/market/none.png';"/></h6>

								<%}%>
								<div class="clearfloat fr mui-col-sm-8 mui-col-xs-8 goods">
									<p>
										<%=goodsList[j].goodsName%>
									</p>
									<p class="goodsDetail">
										<%=goodsList[j].goodText%>
									</p>
									<p class="price"><sub>￥</sub>
										<span class="pricemoney"><%=goodsList[j].goodsPrice%></span> <span class="num">x<span class="numint"><%=goodsList[j].goodsnum%></span></span>
									</p>
									<%if(goodsList[j].shopName != '跨境优品' && goodsList[j].goodsreducemoney != 0){%>
									<small style="color: coral;font-size: 0.12rem;" class="goodrd">商品优惠<sub>-￥</sub><%=goodsList[j].goodsreducemoney%></small>
									<%}%>
									<%if(igetShopId[i] == 0){%>
									<samll style="font-size:0.1rem;color: gray;">税费
										<span class='taxmoney' data-rate="<%=goodsList[j].goodsRate%>"><%=goodsList[j].goodsDelivery%></span> </samll>
									<%}%>
								</div>
							</dd>
							<%}%>
							<%}%>
							<%if(igetShopId[i]!=0){%>
							<%if(goodsreduce[i] != 0){%>
							<dd class="dd-padding kv-line-r mui-row ztWrap" data-id="<%=shopID[i]%>">
								<h6 class="addTitle mui-col-sm-3 mui-col-xs-3">商品优惠总计</h6>

								<div class="clearfloat fr mui-col-sm-9 mui-col-xs-9 goods">
									<span class="fr" style="line-height: 40px;color: coral;">-￥<%=goodsreduce[i]%></span>
								</div>
							</dd>
							<%}%>

							<dd class="dd-padding kv-line-r mui-row ztWrap" data-id="<%=shopID[i]%>">
								<h6 class="addTitle mui-col-sm-3 mui-col-xs-3">店铺优惠</h6>

								<div class="clearfloat fr mui-col-sm-9 mui-col-xs-9 goods">
									<span class="fr storereduce" style="line-height: 40px;color: coral;" id="<%=shopID[i]%>"></span>
								</div>
							</dd>
							<%}%>
							<%if((igetShopId[i]==0 &&  shopMoney[i].money>=88) || (storeWeight[i].weight == 0 && igetShopId[i]!=0)){%>
							<dd class="dd-padding kv-line-r postfeeWrap ddwl">
								<h6>配送方式</h6>
								<p class="jifen">包邮</p>
								<%}else{%>
								<dd class="dd-padding kv-line-r postfeeWrap ddwl" style="padding: 0.1rem 0.15rem;">
									<li class="mui-table-view-cell mui-collapse choosewl">
										<a class="mui-navigate-right getwl" data-id='0' data-weight='<%=storeWeight[i].weight%>' data-storeid="<%=shopID[i]%>" data-igetShopId="<%=igetShopId[i]%>" href="#">
											<h6 style="display: inline-block;font-size: 13px;">配送方式</h6><span class="fr wlway jifen">选择物流</span></a>
										<div class="mui-collapse-content dlc" data-shopmoney="<%=shopMoney[i].money%>">
										</div>
									</li>
									<%}%>
								</dd>
								<%if(igetShopId[i]==0){%>
								<dd class="dd-padding kv-line-r posttaxWrap" style="display: none;">
									<h6 class="mui-col-sm-4 mui-col-xs-4">运费税</h6>
									<div class="clearfloat fr mui-col-sm-8 mui-col-xs-8">
										<span class="fr posttax" style="color: coral;"></span>
									</div>
								</dd>
								<dd class="dd-padding kv-line-r postfeeWrap">
									<h6>购买即同意<span onclick="gosearule()" style="color: orangered;"> 《跨境电商购物协议》</span></h6>
								</dd>
								<%}%>
								<%if(igetShopId[i]!=0){%>
								<dd class="dd-padding kv-line-r mui-row ztWrap" data-id="<%=shopID[i]%>">
									<input type="hidden" class="isziti" value="0" data-id='' />
									<h6 class="addTitle mui-col-sm-3 mui-col-xs-3">是否自提</h6>

									<div class="clearfloat fr mui-col-sm-9 mui-col-xs-9 goods">
										<div class="mui-checkbox ddRadio"><input name="checkbox<%=i%>" data-shopId="<%=shopID[i]%>" data-postfee="0" class="groupCheck" type="checkbox" style="right: 5px;"></div>
									</div>
								</dd>
								<%if(shopaddress[i]){%>
								<dd class="dd-padding kv-line-r mui-row ztWrap ztaddress" style="display: none;">
									<h6 class="addTitle mui-col-sm-3 mui-col-xs-3">自提地址：<%=shopaddress[i]%></h6>
								</dd>
								<%}%>

								<%}%>
								<dd class="dd-padding kv-line-r mui-row tipsWrap" data-id="<%=shopID[i]%>">
									<h6 class="addTitle mui-col-sm-2 mui-col-xs-2">备注：</h6>
									<div class="clearfloat fr mui-col-sm-10 mui-col-xs-10 goods">
										<input type="text" id="" value="" placeholder="选填（对本次交易的说明）" class="tips" />
									</div>
								</dd>
								<dd class="kv-line-r dd-padding priceWrap">
									<p>
										<sub>共计<span class="groupNum"><%=arrNum[i]%></span>件商品&nbsp;&nbsp;小计:<b style="color: #ff5f32;">￥</b></sub>
										<span class="J_total-price groupMoney" data-id="0"><%=arrMoney[i]%></span>
									</p>
								</dd>
						</dl>

						<%}%>

					</script>

					<dl class="list">

						<div id="quanData"></div>
						<script type="text/html" id="quanTpl">
							<%if(allLi.length!=0){%>

							<dd>
								<div class="mui-card">
									<ul class="mui-table-view">

										<li class="mui-table-view-cell mui-collapse">
											<a class="mui-navigate-right" style="border-bottom: 1px solid #eee;padding: 15px;" href="#">抵用券 <b class="minuMoney cred" style="display: none;">-￥<span id="minuMoney"></span></b><span class="fr" style="margin-right: 15px;">选择</span></a>
											<div class="mui-collapse-content">
												<% for(var i=0;i<allLi.length;i++){ %>
												<%if(allLi[i].typeid==1){%>

												<div class="checkQuan mui-row" data-id="<%=allLi[i].typeid%>" data-minus="<%=allLi[i].coupon_amount%>">
													<div class="mui-col-sm-3">
														<div>￥<big><b><%=allLi[i].coupon_amount%></b></big></div>
														<div><small>全场通用</small></div>
													</div>
													<div class="mui-col-sm-9">
														<div class="cred"><big><%=allLi[i].name%></big> 全场通用减<span><%=allLi[i].coupon_amount%></span></div>
														<div class="dateLimit">
															<%=allLi[i].begin_date%> ~
															<%=allLi[i].end_date%>内有效</div>
													</div>
													<div class="mui-checkbox"><img src="../../img/market/xuanze.png" class="quanc" data-id="<%=allLi[i].user_coupon_id%>" alt="" /></div>
												</div>

												<%}else{%>
												<div class="checkQuan mui-row" data-id="<%=allLi[i].typeid%>" data-minus="<%=allLi[i].coupon_amount[1]%>">
													<div class="mui-col-sm-3">
														<div><big><b><%=allLi[i].coupon_amount[1]*10%></b></big>折</div>
														<div><small>满<%=allLi[i].coupon_amount[0]%>通用</small></div>
													</div>
													<div class="mui-col-sm-9">
														<div class="cred"><big><%=allLi[i].name%></big> <span><%=allLi[i].coupon_amount[1]*10%></span>折</div>
														<div class="dateLimit">
															<%=allLi[i].begin_date%> ~
															<%=allLi[i].end_date%>内有效</div>
													</div>
													<div class="mui-checkbox"><img src="../../img/market/xuanze.png" class="quanc" data-id="<%=allLi[i].user_coupon_id%>" alt="" /></div>
												</div>
												<%}%>
												<%}%>
											</div>
										</li>
									</ul>
								</div>

							</dd>

							<%}%>

						</script>

						<div id="coupon"></div>
						<script type="text/html" id="couponTpl">
							<%if(intergral!=0){%>
							<dd class="dd-padding kv-line-r">
								<h6>可用<%=intergral%>积分抵<span id="itMinus" style="color: #ff5f32;"><span>￥</span><%=intergralreduce%></span></h6>
								<div class="mui-checkbox"><input name="checkbox" class="groupCheck" type="checkbox"></div>
							</dd>
							<%}else{%>
							<dd class="dd-padding kv-line-r">
								<h6>无可用积分</h6>
								<div class="mui-checkbox"><input name="checkbox" disabled class="groupCheck" type="checkbox"></div>
							</dd>
							<%}%>

						</script>

					</dl>
				</form>
			</div>
			<div class="fixed">
				<p>合计：<span class="show_delivery_fee">￥<span id="submit_order"></span></span>
				</p>
				<span class="fr btn">
					<a onclick="goPay()" class="comm_btn">提交订单</a>
				</span>
			</div>

			<!--操作表-->
			<div id="payChoose" class="mui-popover mui-popover-action mui-popover-bottom closePay">
				<div class="paycontent">
					<p><span>请选择支付方式</span><img src="../../img/close.svg" class="closePay" /></p>
					<div class="paytip">请尽快完成支付 金额<span id="totalPayCash"></span></div>
					<ul class="mui-table-view waypay">
						<li class="mui-table-view-cell">
							<a href="#" id="alipay" data-pay="alipay"><img src="../../img/alipay2-2.png" />支付宝</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="#" id="wxpay" data-pay="wxpay"><img src="../../img/weixin2-2.png" />微信 </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/app.js"></script>
	<script src="../../js/artTemplate-native.js"></script>
	<script type="text/javascript">
		mui.init({
			beforeback: function() {
				//获得列表界面的webview
				var list = plus.webview.getWebviewById('cart');
				mui.fire(list, 'refresh');
				return true;
			}
		});
		var id_card;
		//海关协议
		window.gosearule = function() {
			openview({
				view: "seaRule.html",
				id: "seaRule"
			})
		}
		$(".paycontent").click(function() {
			event.stopPropagation()
		})
		$(".closePay").click(function() {
			event.stopPropagation();
			$("#payChoose").removeClass("mui-active");
		})

		var myuserid, allGroup = 0,
			quan = 0,
			jf = 0,
			orderSubmitData = [],
			arr = [],
			arrNum = [],
			arrMoney = [],
			shopID = [],
			igetShopId = [],
			shopaddress = [],
			totalPay = 0,
			shopMoney = [],
			storeWeight = [],
			goodsreduce = [],
			storereduce = [],
			deliveryarr = [];
		var pays = {};
		mui.plusReady(function() {
			window.addEventListener('readdstorage', function(event) {
				orderAdd()
			});
			window.addEventListener('refresh2', function(event) {
				plus.webview.currentWebview().reload()
			});
			//订单缓存
			var orderStorage = JSON.parse(plus.storage.getItem('$orderStorage') || '[]');
			console.log('orderStorage', orderStorage)
			//获取缓存
			myuserid = plus.storage.getItem('userid');
			var oldtoken = plus.storage.getItem('oldToken');
			orderAdd();

			function orderAdd() {
				mui.ajax(serverUrl + '/api/useraccount/addresslist', {
					data: {
						userid: myuserid,
						state: 1
					},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					headers: {
						"token": oldtoken
					},
					success: function(data, type, xhr) {
						if(data.errno == 0) {
							var addrObj = {};
							if(plus.storage.getItem("$addressStorage") != null) {
								addrObj.obj = JSON.parse(plus.storage.getItem("$addressStorage"));
							} else {
								addrObj.obj = data.data;
							}
							document.getElementById("add_info").innerHTML = template("addrTpl", addrObj);
							plus.storage.removeItem("$addressStorage")

						}
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						mui.toast("网络不好请重试")
					}
				});
			}

			//订单数据模板
			var data = {};
			data.goodsList = orderStorage;

			for(var i = 0; i < orderStorage.length; i++) {
				orderStorage[i].goodsDelivery = Math.floor(parseFloat(orderStorage[i].goodsDelivery * orderStorage[i].goodsnum) * 100) / 100;

			}

			for(var i = 0; i < orderStorage.length; i++) {
				shopID.push(orderStorage[i].shopId);
				arr.push(orderStorage[i].shopName);
				shopaddress.push(orderStorage[i].goodsaddress)
			}
			console.log(JSON.stringify(orderStorage));
			//			igetShopId = igetShopId.unique1() 
			shopID = shopID.unique1();
			shopaddress = shopaddress.unique1();
			data.shopID = shopID;
			data.shopaddress = shopaddress;
			for(var i = 0; i < data.shopID.length; i++) {
				//分组 金额 和 数量  分组商品优惠小计
				var groupNum = 0,
					groupMoney = 0,
					groupWeight = 0,
					reduce = 0,
					alltax = 0,
					groupMoneynoreduce = 0;
				igetShopIdNum = '';
				arrsname = '';
				for(var j = 0; j < orderStorage.length; j++) {
					var deliveryFee = 0;
					if(data.shopID[i] == orderStorage[j].shopId) {
						if(orderStorage[j].igetShopId == '0') {
							igetShopIdNum = 0;
						} else {

							igetShopIdNum = 1;
						}
						var totolmoney = parseFloat(parseFloat(orderStorage[j].goodsPrice) * parseFloat(orderStorage[j].goodsnum)).toFixed(2);
						if(!orderStorage[j].goodsreduce || orderStorage[j].goodsreduce.length == 0 || orderStorage[j].goodsreduce == ' ') {
							orderStorage[j].goodsreducemoney = 0
							reduce += parseFloat(0)
						} else {
							//做测试 排序 选择最佳的满减规则
							//							orderStorage[j].goodsreduce = [{"reachPrice":"100","reducePrice":"20"},{"reachPrice":"20","reducePrice":"10"},{"reachPrice":"200","reducePrice":"15"}]

							var sortBy = function(filed, rev, primer) {
								rev = (rev) ? -1 : 1;
								return function(a, b) {
									a = a[filed];
									b = b[filed];
									if(typeof(primer) != 'undefined') {
										a = primer(a);
										b = primer(b);
									}
									if(a < b) {
										return rev * 1;
									}
									if(a > b) {
										return rev * -1;
									}
									return 1;
								}
							};
							orderStorage[j].goodsreduce.sort(sortBy('reachPrice', false, parseInt));
							console.log("ddd ", orderStorage[j].goodsreduce);
							for(var m = 0; m < orderStorage[j].goodsreduce.length; m++) {
								if(parseFloat(totolmoney) >= parseFloat(orderStorage[j].goodsreduce[m].reachPrice)) {
									orderStorage[j].goodsreducemoney = orderStorage[j].goodsreduce[m].reducePrice;
									break;
								} else {
									orderStorage[j].goodsreducemoney = 0;
								}
							}
							reduce += parseFloat(orderStorage[j].goodsreducemoney);
						}
						console.log("goodsreduce " + orderStorage[j].goodsreducemoney);
						groupNum += parseFloat(orderStorage[j].goodsnum);
						deliveryFee = parseFloat(orderStorage[j].goodsDelivery);
						alltax += parseFloat(orderStorage[j].goodsDelivery);
						groupMoneynoreduce += parseFloat(orderStorage[j].goodsPrice) * parseFloat(orderStorage[j].goodsnum) + deliveryFee;
						groupMoney += parseFloat(orderStorage[j].goodsPrice) * parseFloat(orderStorage[j].goodsnum) - parseFloat(orderStorage[j].goodsreducemoney);
						if(!orderStorage[j].goodweight || orderStorage[j].goodweight == ' ') {
							orderStorage[j].goodweight = 0;
						}
						groupWeight += parseFloat(orderStorage[j].goodweight) * parseFloat(orderStorage[j].goodsnum);

					}
					//					if(deliveryFee){
					//						deliveryarr.push(parseFloat(deliveryFee).toFixed(2));
					//					}

				}

				igetShopId.push(igetShopIdNum);

				console.log("weight ", parseFloat(groupWeight).toFixed(2))
				storeWeight.push({
					shopid: shopID[i],
					weight: parseFloat(groupWeight).toFixed(2)
				})
				console.log("totalweight", storeWeight)
				arrNum.push(groupNum);
				shopMoney.push({
					id: shopID[i],
					money: parseFloat(groupMoneynoreduce).toFixed(2)
				})
				arrMoney.push(parseFloat(groupMoney + parseFloat(alltax)).toFixed(2));
				goodsreduce.push(parseFloat(reduce).toFixed(2))

			}
			console.log("shopMoney " + JSON.stringify(shopMoney))
			console.log("storereduce " + storereduce)

			//分商店  订单数据 小计
			for(var i = 0; i < shopID.length; i++) {
				var orderList = {};
				orderList.storeid = shopID[i];

				orderList.express_id = '';
				orderList.goodsData = [];
				for(var j = 0; j < orderStorage.length; j++) {

					if(orderStorage[j].shopId == shopID[i]) {

						var newgoodobj = {};
						newgoodobj.goodsid = orderStorage[j].goodsId;
						newgoodobj.goods_property = orderStorage[j].goods_property;
						newgoodobj.goodText = orderStorage[j].goodText;
						newgoodobj.nums = orderStorage[j].goodsnum;
						orderList.goodsData.push(newgoodobj)
					}

				}
				orderSubmitData.push(orderList);
			}

			arr = arr.unique1();

			//			alert(JSON.stringify(storeWeight))
			data.cates = arr;
			data.igetShopId = igetShopId;
			data.deliveryarr = deliveryarr;
			data.storeWeight = storeWeight;
			data.arrNum = arrNum;
			data.shopMoney = shopMoney
			data.arrMoney = arrMoney;
			data.myurl = serverimgUrl;
			data.goodsreduce = goodsreduce;

			mui.each(shopMoney, function(index, item) {
				mui.ajax(serverUrl + '/api/mall/storeinfo', {
					data: {
						store_id: item.id
					},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					headers: {
						"token": oldtoken
					},
					success: function(data, type, xhr) {
						//						alert("index"+index)
						//												alert('店铺满减规则 '+JSON.stringify(data.data.store_reduction)); 
						//						alert("店铺原总价"+parseFloat(item.mone));
						if(data.data.store_reduction != undefined) {
							//	alert(data.data.reduction_rule)
							data.data.store_reduction = JSON.parse(data.data.store_reduction);
						}

						if(!data.data.store_reduction || data.data.store_reduction.length == 0 || data.data.store_reduction == ' ') {
							storereduce[index] = 0;
							//							alert("storereduce"+index+" "+storereduce[index])
						} else {
							//排序 选择最优店铺满减优惠
							//							data.data.store_reduction = [{"reachPrice":"100","reducePrice":"20"},{"reachPrice":"200","reducePrice":"10"},{"reachPrice":"20","reducePrice":"15"}]
							//							alert("data.data.reduction_rule "+data.data.reduction_rule)

							var sortBy = function(filed, rev, primer) {
								rev = (rev) ? -1 : 1;
								return function(a, b) {
									a = a[filed];
									b = b[filed];
									if(typeof(primer) != 'undefined') {
										a = primer(a);
										b = primer(b);
									}
									if(a < b) {
										return rev * 1;
									}
									if(a > b) {
										return rev * -1;
									}
									return 1;
								}
							};
							data.data.store_reduction.sort(sortBy('reachPrice', false, parseInt));
							console.log("ddd ", data.data.store_reduction);

							for(var m = 0; m < data.data.store_reduction.length; m++) {
								if(parseFloat(item.money) >= parseFloat(data.data.store_reduction[m].reachPrice)) {
									//									alert(data.data.reduction_rule[m].reducePrice)
									storereduce[index] = data.data.store_reduction[m].reducePrice;
									break;
								} else {
									storereduce[index] = 0;
								}
							}
							//							alert("storereduce"+index+" "+storereduce[index])
						}

						console.log("storereduce" + JSON.stringify(storereduce));
						$('.storereduce').each(function() {
							if($(this).attr('id') != 0) {
								if($(this).attr('id') == item.id) {
									if(storereduce[index] != 0) {
										$(this).html('-￥' + storereduce[index]);
										var newtotal = parseFloat(parseFloat($(this).parentsUntil('#orderTpl').find('.groupMoney').html()) - parseFloat(storereduce[index])).toFixed(2);
										$(this).parentsUntil('#orderTpl').find('.groupMoney').html(newtotal);
										countTotalPay();
									} else {
										$(this).parent().parent().remove();
									}

								}

							}
						})
						plus.nativeUI.closeWaiting(); //关闭等待框
					},
					error: function(xhr, type, errorThrown) {
						mui.toast('当前网络不好');
						plus.webview.currentWebview().close();
					}
				});

			})
			data.storereduce = storereduce;
			//			alert("dffddd "+JSON.stringify(data.storereduce))
			var html = template('orderData', data);
			document.getElementById('orderTpl').innerHTML = html;

			//物流选择
			$('.getwl').on('tap', function() {
				var businid = $(this).attr('data-storeid');
				var storeWeight = $(this).attr('data-weight');
				var shopmoney = $(this).parentsUntil("#orderTpl").find('.groupMoney').html();
				if($(this).attr('data-id') == 0) {
					var wlct = $(this).next();
					if($(this).attr('data-igetShopId') != 0) {
						mui.ajax(serverUrl + '/api/mall/expresslist', {
							data: {
								businid: businid
							},
							dataType: 'json',
							type: 'post',
							headers: {
								token: oldtoken
							},
							timeout: 10000,
							success: function(data, type, xhr) {
								console.log("物流", data);
								var wlhtml = '';
								console.log("youhuo " + JSON.stringify(data.data))
								for(var i = 0; i < data.data.length; i++) {
									var countpostfee = parseInt(data.data[i].basicsPrice);
									if(data.data[i].beyondKg == 0) {
										data.data[i].beyondKg = 1;
									}
									var overWeight = (parseFloat(storeWeight) - parseFloat(data.data[i].basicsKg)) / parseInt(data.data[i].beyondKg);
									if(overWeight > 0) {
										overWeight = Math.ceil(overWeight);
										countpostfee = parseInt(data.data[i].basicsPrice) + overWeight * parseInt(data.data[i].beyondPrice)
									}

									wlhtml += '<div data-charge="' + countpostfee + '" data-epid="' + data.data[i].express_id + '" data-id="0">' + data.data[i].expressName + '<span class="charge fr">￥' + countpostfee + '</span></div>'
								}
								if(!wlhtml) {
									wlhtml = "商家暂未填写物流"
								}
								wlct.html(wlhtml);
								$(".dlc div").click(function() {
									//									alert($(this).attr("data-id"))

									if($(this).attr("data-id") == 0) {
										if($(this).parent().prev().find(".wlway").html() == "自提") {
											$(this).parentsUntil("#orderTpl").find(".ztWrap input[type='checkbox']").removeAttr("checked")
										}
										$(this).parent().prev().find(".wlway").html($(this).html());
										//									alert(parseFloat($(this).attr('data-charge')));

										for(var i = 0; i < orderSubmitData.length; i++) {
											if(orderSubmitData[i].storeid == businid) {
												//												alert($(this).attr('data-epid'))
												orderSubmitData[i].express_id = $(this).attr('data-epid');

											}
										}
										//										alert(JSON.stringify(orderSubmitData));
										//自提 处 存邮费 和 运费id
										$(this).parentsUntil("#orderTpl").find(".ztWrap input[type='hidden']").val(parseFloat($(this).attr('data-charge')));
										$(this).parentsUntil("#orderTpl").find(".ztWrap input[type='hidden']").attr("data-id", $(this).attr('data-epid'))
										//当前商店总价减邮费
										var newgroup = parseFloat(shopmoney) + parseFloat($(this).attr('data-charge'))
										//									alert(newgroup)
										$(this).parentsUntil("#orderTpl").find('.groupMoney').html(parseFloat(newgroup).toFixed(2))
										//重新计算 总金额
										countTotalPay();
									}
									$(this).siblings().attr("data-id", 0);
									$(this).attr("data-id", 1);
									$(".choosewl").removeClass("mui-active")
								})
							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting();
								mui.toast("网络不好请重试")
							}
						})
					} else {
						var countpostfee = 6;
						//							alert("storeWeight "+parseFloat(storeWeight))
						var overWeight = Math.ceil(parseFloat(storeWeight) - 1);
						if(overWeight > 0) {
							countpostfee = 6 + overWeight * 2.5
						}
						wlhtml = '<div data-charge="' + countpostfee + '" data-epid="0" data-id="0">EMS<span class="charge fr">￥' + countpostfee + '</span></div>'
						wlct.html(wlhtml);
						$(".dlc div").click(function() {
							//							alert($(this).attr("data-id"))
							if($(this).attr("data-id") == 0) {
								if($(this).parent().prev().find(".wlway").html() == "自提") {
									$(this).parentsUntil("#orderTpl").find(".ztWrap input[type='checkbox']").removeAttr("checked")
								}
								$(this).parent().prev().find(".wlway").html($(this).html());
								//							alert(parseFloat($(this).attr('data-charge')));

								for(var i = 0; i < orderSubmitData.length; i++) {
									for(j = 0; j < orderStorage.length; j++) {
										if((orderSubmitData[i].storeid == orderStorage[j].shopId) && (orderSubmitData[i].storeid == businid) && orderStorage[j].igetShopId == '0') {
											orderSubmitData[i].express_id = "0";
										}
									}
								}

								//							alert(JSON.stringify(orderSubmitData));
								//自提 处 存邮费 和 运费id
								$(this).parentsUntil("#orderTpl").find(".ztWrap input[type='hidden']").val(parseFloat($(this).attr('data-charge')));
								$(this).parentsUntil("#orderTpl").find(".ztWrap input[type='hidden']").attr("data-id", $(this).attr('data-epid'))

								//重新计算税费 
								var originRate = $(this).parentsUntil("#orderTpl").find('.taxmoney').attr('data-rate')
								var newgroup = 0;
								var posttax = Math.floor(parseFloat(countpostfee * originRate) * 100) / 100;
								$(this).parentsUntil("#orderTpl").find(".goodsWrap").each(function() {
									var newtax = (parseFloat($(this).find('.pricemoney').html() * $(this).find('.numint').html())) * originRate;
									//										$(this).find('.taxmoney').html(newtax);
									newgroup += parseFloat(parseFloat(newtax) + parseFloat($(this).find('.pricemoney').html()) * $(this).find('.numint').html());
								})
								//当前商店总价加邮费
								newgroup = newgroup + parseFloat(posttax) + parseFloat($(this).attr('data-charge'));
								$(this).parentsUntil("#orderTpl").find('.posttaxWrap').css('display', '');
								$(this).parentsUntil("#orderTpl").find('.posttaxWrap .posttax').html('￥' + posttax)
								$(this).parentsUntil("#orderTpl").find('.groupMoney').html(parseFloat(newgroup).toFixed(2));

								//重新计算 总金额
								countTotalPay();

							}
							$(this).attr("data-id", 1);
							$(".choosewl").removeClass("mui-active");

						})
					}

				}
				$(this).attr('data-id', 1);
			})

			//商品重量为0 包邮  爱购88包邮  
			for(var j = 0; j < igetShopId.length; j++) {
				if(igetShopId[j] == '0') {
					if(shopMoney[j].money >= 88) {
						orderSubmitData[j].express_id = '-1';
					}
				} else {
					if(storeWeight[j].weight == 0) {
						orderSubmitData[j].express_id = '-1';
					}
				}
			}

			countTotalPay();

			function countTotalPay() {
				var allThis = 0;
				var everyGroup = document.getElementsByClassName("groupMoney");
				for(var i = 0; i < everyGroup.length; i++) {
					allThis += parseFloat(everyGroup[i].innerHTML);
				}
				totalPay = parseFloat(allThis - jf - quan).toFixed(2);
				if(totalPay < 0) {
					totalPay = 0;
				}
				$("#submit_order").html(totalPay)
			}

			//自提 or 配送  更新 邮费 和 分组价格 和 总价 

			$("dd .ddRadio").each(function() {
				$(this).find("input[type='checkbox']").click(function() {

					var dataPostfee = parseFloat($(this).parentsUntil("#orderTpl").find("dd.ztWrap input[type='hidden']").val());
					var shopid = $(this).attr('data-shopId');
					//alert($(this).parentsUntil("#orderTpl").find("dd.ztWrap input[type='hidden']").attr('data-id'))
					if($(this).prop('checked') == true) {
						var curPost = parseFloat($(this).parentsUntil("#orderTpl").find("dd.priceWrap .groupMoney").html());
						$(this).parentsUntil("#orderTpl").find("dd.priceWrap .groupMoney").html(parseFloat(curPost - dataPostfee).toFixed(2));
						$(this).parentsUntil("#orderTpl").find("dd.postfeeWrap .jifen").html('自提');
						$(this).parentsUntil("#orderTpl").find("dd.ztaddress").css("display", "")
						for(var i = 0; i < orderSubmitData.length; i++) {
							if(orderSubmitData[i].storeid == shopid) {
								orderSubmitData[i].express_id = '-2';
								break;
							}
						}
						countTotalPay();
						$(this).parentsUntil("#orderTpl").find('.dlc div').attr("data-id", 0);
						$(this).parentsUntil("#orderTpl").find("dd.ztWrap input[type='hidden']").val(0)
					} else {
						var curPost = parseFloat($(this).parentsUntil("#orderTpl").find("dd.priceWrap .groupMoney").html());
						$(this).parentsUntil("#orderTpl").find("dd.priceWrap .groupMoney").html(parseFloat(curPost + dataPostfee).toFixed(2));

						for(var i = 0; i < orderSubmitData.length; i++) {
							if(orderSubmitData[i].storeid == shopid) {

								if(storeWeight[i].weight == 0) {
									$(this).parentsUntil("#orderTpl").find("dd.postfeeWrap .jifen").html('包邮');
									orderSubmitData[i].express_id = '-1';
									$(this).parentsUntil("#orderTpl").find("dd.ztWrap input[type='hidden']").attr('data-id', '-1');
								} else {
									$(this).parentsUntil("#orderTpl").find("dd.postfeeWrap .jifen").html('选择物流');
									orderSubmitData[i].express_id = '';
									$(this).parentsUntil("#orderTpl").find("dd.ztWrap input[type='hidden']").attr('data-id', '');
								}
								break;
							}
						}
						$(this).parentsUntil("#orderTpl").find("dd.ztaddress").css("display", "none")
						//								alert(JSON.stringify(orderSubmitData))
						countTotalPay();
						$(this).parentsUntil("#orderTpl").find('.dlc div').attr("data-id", 0);
						$(this).parentsUntil("#orderTpl").find("dd.ztWrap input[type='hidden']").val(0);
					}

				})
			})

			//获取积分  和 身份证
			getInfo();

			function getInfo() {
				mui.ajax(serverUrl + '/api/useraccount/userinfo', {
					data: {
						"userid": myuserid
					},
					type: 'post',
					timeout: 10000,
					headers: {
						"token": oldtoken
					},
					success: function(data, type, xhr) {
						var intergral = 0;
						//					console.log('获取用户数据返回'+JSON.stringify(data));
						if(data.errno == 0) {
							intergral = data.data[0].intergral;
							//							intergral = 0; 暂时关闭积分抵扣
							id_card = data.data[0].id_card;

							if(intergral == null) {
								intergral = 0;
							}
							document.getElementById("coupon").innerHTML = template('couponTpl', {
								intergral: intergral,
								intergralreduce: parseFloat(intergral / 100).toFixed(2)
							});
						} else {
							mui.toast('获取用户信息失败');
							console.log(data.errmsg);
						}
						$("#coupon .mui-checkbox").click(function() {

							if($(this).find("input").prop('checked') == true) {
								jf = parseFloat(intergral / 100);
							} else {
								jf = 0;
							}
							countTotalPay()
						})
					},
					error: function(xhr, type, errorThrown) {}
				});
			}
			var d = new Date();
			var str = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
			str = formatDate(str, "yyyy.MM.dd");
			//获取优惠券
			mui.ajax(serverUrl + '/api/useraccount/mycoupon', {
				data: {
					userid: myuserid
				},
				dataType: 'json',
				type: 'post',
				timeout: 10000,
				headers: {
					"token": oldtoken
				},
				success: function(data, type, xhr) {
					console.log("抵用券 ", data)
					var allC = {};
					var tpldata = [];
					for(var i = 0; i < data.data.user_coupon.length; i++) {

						if(data.data.user_coupon[i].user_coupon_state == 1 && (data.data.user_coupon[i].typeid == 1 || data.data.user_coupon[i].typeid == 2)) {

							if(data.data.user_coupon[i].end_date != null) {
								data.data.user_coupon[i].end_date = formatDate(data.data.user_coupon[i].end_date, "yyyy.MM.dd");
							}
							if(data.data.user_coupon[i].begin_date != null) {
								data.data.user_coupon[i].begin_date = formatDate(data.data.user_coupon[i].begin_date, "yyyy.MM.dd");
							}
							if(data.data.user_coupon[i].begin_date <= str && str <= data.data.user_coupon[i].end_date) {
								if(data.data.user_coupon[i].typeid == 2) {
									if(data.data.user_coupon[i].coupon_amount.split(",")[0] <= parseFloat($('#submit_order').html())) {
										data.data.user_coupon[i].coupon_amount = [data.data.user_coupon[i].coupon_amount.split(",")[0], data.data.user_coupon[i].coupon_amount.split(",")[1]]
										tpldata.push(data.data.user_coupon[i]).typeid
									}
								} else {
									tpldata.push(data.data.user_coupon[i]).typeid
								}

							}
						}
					}
					allC.allLi = tpldata;
					var html = template('quanTpl', allC);
					document.getElementById('quanData').innerHTML = html;

					plus.nativeUI.closeWaiting();

					//优惠券计算
					$(".checkQuan").click(function() {

						var allGroup = 0;
						for(var i = 0; i < $('.groupMoney').length; i++) {
							allGroup += parseFloat($('.groupMoney').eq(i).html()).toFixed(2);
						}
						var qid = $(this).attr("data-id");
						var qminus = $(this).attr("data-minus");
						$(this).siblings().find(".quanc").css("display", "none");
						quan = 0;
						if($(this).find(".quanc").css("display") == "block") {
							$(this).find(".quanc").css("display", "none");
							$("#minuMoney").html(0);
							$(".minuMoney").css("display", "none");

						} else {
							$(this).find(".quanc").css("display", "block");
							if(qid == 1) {
								quan = parseFloat(qminus)
							}
							if(qid == 2) {
								quan = parseFloat(allGroup * (1 - parseFloat(qminus))).toFixed(2);
							}
							$("#minuMoney").html(quan);
							$(".minuMoney").css("display", "inline-block");

						}
						countTotalPay();
					})

				},
				error: function(xhr, type, errorThrown) {
					mui.toast("网络不好请重试!")
				}
			});

			console.log("测试测试" + JSON.stringify(orderSubmitData))

			//系统检测获取支付通道
			plus.payment.getChannels(function(channels) {
				console.log("channel " + JSON.stringify(channels));
				for(var i in channels) {
					var channel = channels[i];
					// 过滤掉不支持的支付通道：暂不支持360相关支付
					if(channel.id == 'qhpay' || channel.id == 'qihoo') {
						continue;
					}
					pays[channel.id] = channel;
					if(channel.id == 'alipay') { //添加支付事件
						document.getElementById('alipay').setAttribute('onclick', 'payfun("alipay")');
					}
					if(channel.id == 'wxpay') {
						document.getElementById('wxpay').setAttribute('onclick', 'payfun("wxpay")');

					}
					checkServices(channel);
				}
			}, function(e) {
				plus.nativeUI.alert("支付失败，请重试", null, "提示");
			});

			// 检测是否安装支付服务
			function checkServices(pc) {
				if(!pc.serviceReady) {
					var txt = null;
					switch(pc.id) {
						case "alipay":
							txt = "检测到系统未安装“支付宝快捷支付服务”，无法完成支付操作，是否立即安装？";
							break;
						default:
							txt = "系统未安装“" + pc.description + "”服务，无法完成支付，是否立即安装？";
							break;
					}
					//						plus.nativeUI.confirm(txt,function(e){
					//							if(e.index==0){
					//								pc.installService();
					//							}
					//						},pc.description);
				}
			}
			//系统检测获取支付通道结束

			//goPay
			window.goPay = function() {
				if($("#addid").length != 0) {

					var yourSFZ = $('#sfzin').val();
					//地址 
					var addressid = $("#addid").attr("data-id");
					//买家留言
					var noticeData = [];
					$(".tipsWrap").each(function() {
						var notice = $(this).find("input").val();
						for(var i = 0; i < orderSubmitData.length; i++) {
							if(orderSubmitData[i].storeid == $(this).attr("data-id")) {
								orderSubmitData[i].notice = notice;
							}
						}
						if(notice != '') {
							var noticeObj = {};
							noticeObj.shopId = $(this).attr("data-id");
							noticeObj.notice = notice;
							noticeData.push(noticeObj)
						}

					});

					//优惠券id
					var coupon_id = '';
					$(".quanc").each(function() {
						if($(this).css("display") == "block") {
							coupon_id = $(this).attr("data-id");
						}
					})
					//积分使用
					var isIntergal = 0;
					if($("#coupon").find("input[type='checkbox']:checked").length == 1) {
						isIntergal = 1
					} else {
						isIntergal = 0;
					}
					var goodsdata = JSON.stringify(orderSubmitData);
					console.log("goodsdata 445", goodsdata)
					var notice = JSON.stringify(noticeData);
					//获取总价
					var payTotal = parseFloat($("#submit_order").html()).toFixed(2);
					//							alert($("#aigou").length)
					if($("#aigou").length != 0) {
						getInfo();
						if(id_card) {
							tijiao()
						} else {
							mui.confirm('购买跨境优品需要身份证号哦？', '提示', ['取消', '确定'], function(e) {
								if(e.index == 1) {
									openview({
										view: "../personal/setup.html",
										extrasobj: {
											pageid: "setup"
										}
									})
								}

							})
						}
					} else {
						tijiao()
					}

					function tijiao() {
						var flag = 0;
						console.log('orderSubmitData', orderSubmitData)
						for(var i = 0; i < orderSubmitData.length; i++) {
							if(orderSubmitData[i].express_id == '') {
								mui.toast("还有商品未选择配送方式哦");
								flag = 1;
							}
						}
						if(!flag) {
							$("#payChoose").addClass("mui-active");
							$("#totalPayCash").html("￥" + totalPay)
						}
					}
					// 支付方法 
					window.payfun = function(id) {
						var varpay;
						if(id == 'alipay' || id == 'wxpay') {
							//调用支付功能
							plus.nativeUI.showWaiting();
							if(id == 'alipay') {
								//获取后台返回数据 
								gopay(id);

							} else if(id == 'wxpay') { //微信
								gopay(id);
							}
						} else {
							plus.nativeUI.alert("当前环境不支持此支付通道！", null, "提示");
							return;
						}

						function gopay(id) {
							console.log('goodsdata', JSON.parse(goodsdata))
							console.log(myuserid + id + addressid + goodsdata + coupon_id + isIntergal)
							mui.ajax(serverUrl + '/api/mall/neworder', {
								data: {
									userid: myuserid,
									payType: id,
									address_id: addressid,
									storeData: goodsdata,
									coupon_id: coupon_id,
									isIntergal: isIntergal
								},
								type: 'post', //HTTP请求类型
								headers: {
									"token": oldtoken
								},
								timeout: 300000, //超时时间设置为10秒；
								success: function(data) {
									console.error('支付返回', data);
									plus.nativeUI.closeWaiting()
									if(data.errno == 1000) {
										mui.toast("您已超过限购数量不能再买了啦")
									}
									if(data.errno == 0) {
										//购物车 缓存 
										var cartStorage = JSON.parse(plus.storage.getItem('$cartStorage') || '[]');
										//删除 购物车里 提交的这一条数据  
										for(var i = 0; i < orderStorage.length; i++) {
											for(var j = 0; j < cartStorage.length; j++) {
												if(orderStorage[i].goodsId == cartStorage[j].goodsId && orderStorage[i].goodText == cartStorage[j].goodText) {
													cartStorage.splice(j, 1)
												}
											}
										}
										plus.storage.setItem("$cartStorage", JSON.stringify(cartStorage))
										var list = plus.webview.getWebviewById('cart.html');
										mui.fire(list, 'refresh');
										mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');
									}

									var varpay;
									if(id == 'wxpay') {
										varpay = {
											"appid": data.data.payData.appid,
											"noncestr": data.data.payData.noncestr,
											"package": "Sign=WXPay",
											"partnerid": data.data.payData.partnerid,
											"prepayid": data.data.payData.prepayid,
											"timestamp": parseInt(data.data.payData.timestamp),
											"sign": data.data.payData.sign
										};
										//微信
										//alert(JSON.stringify(varpay));
										//alert(JSON.stringify({id:data.data.AccessToken,userid:myuserid}));
										plus.payment.request(pays[id], varpay, function(result) {
											var resultStr = JSON.stringify(result);
											console.log("----- 支付成功 -----");
											plus.nativeUI.closeWaiting();
											//修改订单状态
											//alert(JSON.stringify({id:data.data.AccessToken,appPayValue:resultStr,userid:myuserid}));
											mui.ajax(serverUrl + '/api/mall/confirmpurchase', {
												data: {
													id: data.data.AccessToken,
													appPayValue: resultStr,
													userid: myuserid
												},
												type: 'post', //HTTP请求类型
												headers: {
													"token": oldtoken
												},
												timeout: 10000, //超时时间设置为10秒；
												success: function(data) {
													//alert(JSON.stringify(data)); 
													mui.toast('支付成功');
													console.log("修改状态成功");
													mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');

													//											关闭 订单页  
													openview({
														view: "../personal/sc-order.html",
														id: "sc-order"
													})
													setTimeout(function() {
														if(plus.webview.getWebviewById("market-order")) {
															plus.webview.getWebviewById("market-order").close();
														}
													}, 2000)
												},
												error: function(xhr, type, errorThrown) {
													mui.toast('支付失败');
												}
											});

										}, function(e) {
											console.log("----- 支付失败 -----");
											console.log("[" + e.code + "]：" + e.message);
											plus.nativeUI.alert("支付失败");
										});
									} else {
										//支付宝 
										varpay = data.data.payData;
										plus.payment.request(pays[id], varpay, function(result) {
											var resultStr = JSON.stringify(result);
											console.log("----- 支付成功 -----", JSON.stringify(result));
											plus.nativeUI.closeWaiting();
											//											plus.nativeUI.alert("支付成功");
											//											alert("id "+data.data.AccessToken+"varpay "+JSON.stringify(varpay)+myuserid+" "+addressid)
											var oldtoken = plus.storage.getItem('oldToken');
											//修改订单状态
											mui.ajax(serverUrl + '/api/mall/confirmpurchase', {
												data: {
													id: data.data.AccessToken,
													appPayValue: resultStr,
													userid: myuserid
												},
												dataType: 'json',
												type: 'post', //HTTP请求类型
												headers: {
													"token": oldtoken
												},
												timeout: 10000, //超时时间设置为10秒；
												success: function(data) {
													mui.toast('支付成功');
													console.log("修改状态成功");
													mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');

													//											关闭 订单页  
													openview({
														view: "../personal/sc-order.html",
														id: "sc-order"
													})
													setTimeout(function() {
														if(plus.webview.getWebviewById("market-order")) {
															plus.webview.getWebviewById("market-order").close();
														}
													}, 2000)

												},
												error: function(xhr, type, errorThrown) {
													console.log("修改状态失败")
													mui.toast('支付失败');
												}
											});

										}, function(e) {
											console.log("----- 支付失败 -----");
											console.log("[" + e.code + "]：" + e.message);
											//					console.log("["+e.code+"]："+e.message);
											plus.nativeUI.closeWaiting();
											plus.nativeUI.alert("支付失败");
										});
									}
								},
								error: function(xhr, type, errorThrown) {
									//异常处理；
									console.log(type);
									console.log("----- 请求订单失败 -----");
									console.log(xhr.status);
									plus.nativeUI.closeWaiting();
									plus.nativeUI.alert("获取订单信息失败！");
								}
							});

						}

					}

				} else {
					plus.nativeUI.closeWaiting()
					mui.toast("您还未选择收货地址哟！")
				}

			}

		})

		//进入地址页面
		function goAddr() {
			openview({
				view: "../personal/address.html",
				extrasobj: {
					pageid: "market-order",
					userId: myuserid
				}
			})
		}

		function queryStr(str) {
			var r = str.slice(1).split("&"),
				e = {};
			return r.forEach(function(r) {
				var t;
				r && (t = r.split("="), 2 === t.length && (e[t[0]] = t[1]))
			}), e
		}
		//数组去重
		Array.prototype.unique1 = function() {
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
	</script>

</html>