<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>商家主页</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			#shangjia_tab a {
				color: #555;
			}
			
			.page-center-box {
				overflow-y: inherit;
			}
			
			#shangjia_tab {
				position: relative;
			}
			
			.dealcard {
				margin-bottom: 0;
			}
			/*商品列表*/
			/*这一页*/
			
			.grade-eject,
			.Category-eject,
			.Sort-eject {
				height: 80px;
			}
			
			div.screening>ul>li {
				border-left: 1px solid #eee !important;
			}
			
			div.screening>ul,
			dl.list dt,
			dl.list dd,
			dl.list {
				border-bottom: 1px solid #eee;
			}
			
			.dealcard .title,
			.cinemacard .title {
				color: #999;
				font-size: 12px !important;
			}
			
			.dealcard .strong,
			.dealcard .strong {
				color: #999;
				font-size: 20px !important;
				line-height: 30px;
			}
			
			.dealcard .title,
			.dealcard .price {
				height: 30px;
				margin: 5px 0;
			}
			
			.right {
				text-align: right;
			}
			
			.middle {
				text-align: center;
			}
			
			.strong-color {
				color: #f53c42 !important;
			}
			
			.Lgray {
				font-size: 12px !important;
				color: #999 !important;
				margin-top: 14px;
			}
			
			.mui-badge-blue,
			.mui-badge-primary {
				background-color: #fff;
				border: 1px solid #999;
				color: #999 !important;
			}
			
			.dealcard .title span {
				top: 0;
				left: 0;
				position: relative;
			}
			
			.bage {
				width: 100%;
			}
			
			dl.list .dd-padding,
			dl.list dt,
			dl.list dd>.react {
				padding: 10px;
				margin: 10px 0;
			}
			
			.dealcard .dealcard-brand,
			.cinemacard .cinemacard-brand {
				font-size: 16px;
			}
			
			.dealcard .dealcard-brand {
				width: 100%;
				overflow: hidden;
				line-height: 22px;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: block;
			}
			
			.dealcard .title span,
			.dealcard .price span {
				font-size: .1rem;
			}
			
			.dealcard .dealcard-img {
				width: 30%;
				height: 100%;
				max-height: 110px !important;
				/*margin-top: -10px;*/
				/*padding: 5px;*/
				border-radius: 0 !important;
			}
			
			.dealcard .dealcard-block-right {
				padding: 5px 2%;
				float: right;
				width: 70%;
				max-height: 110px;
				overflow: hidden;
			}
			
			.imgbox {
				background-image: none;
			}
			
			.dealcard-img img {
				max-width: 100%;
				max-height: 110px;
			}
			
			.moreone {
				line-height: 50px;
			}
			
			dl.list .db>.react {
				padding: 0;
				margin: 0;
			}
			
			dl.list .db {
				height: 50px;
			}
			
			.grade-eject>ul>li,
			.Category-eject>ul>li,
			.Sort-eject>ul>li {
				line-height: 40px;
			}
			
			#allGoods {
				margin-top: -1px;
			}
			
			#storeName {
				text-align: left;
			}
			/*加载*/
			
			#upload,
			#upload2 {
				text-align: center;
				font-size: 15px;
				line-height: 30px;
				min-height: 40px;
			}
			
			#upload img {
				width: 60px;
				margin-top: -10px;
			}
			
			#upload2 img {
				width: 30px;
				margin-top: 0px;
			}
			
			#description {
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			header {
				background-image: none;
			}
			
			.mui-bar {
				z-index: 100 !important;
			}
			
			.imgInfor {
				width: 100%;
				height: 100%;
				position: relative;
				padding-top: 100%;
				margin: 0 !important;
				background: url(../../img/bannerback.svg) 50% 50% no-repeat;
				background-size: 20%;
			}
			
			#shangjia_detail .imgInfor img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
			}
			
			.dealcard dd {
				margin-bottom: 0 !important;
			}
			
			.dealcard .title {
				height: 5px;
				margin: 0;
			}
			
			.dealcard .price {
				position: relative;
				top: 10px;
			}
			
			#collectbtn {
				background-color: #fff;
				color: red;
				padding: 2px 9px;
				border-radius: 30px;
				margin-right: -20px;
			}
			#shangjia_tab{z-index:1}
		</style>
	</head>

	<body>
		<header class="mui-bar" id="header" style="background: none!important;box-shadow: none;">
			<a style="color: white;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left bigSize"></a>
			<h1 style="#fff" class="mui-title" id="mui-title"> <span style="color:#fff" id="titleName">店铺详情</span> </h1>
		</header>

		<!--<div id="container">-->
		<!--<div id="main">-->
		<!--店铺头部开始-->
		<div class="store-header clearfix" id="vfshangdian">
			<div class="tu">
				<span>
						<img src="../../img/theList/storeLogo.png" id="storeLogo" style="display: none;"/>
						</span>
			</div>
			<div class="right fl">
				<p id="storeName"></p>
				<a href="#" class="fl shoucang"><i class="iconfont icon-xihuan1"></i></a>
				<span id="collectbtn" onclick="collectfun()">+收藏</span>
			</div>

			<!--<div class="tit">
				<span></span>
				<p id="description"></p>
			</div>-->
		</div>
		<!--<script src="../../js/statusBar.js"></script>-->
		<style type="text/css" id="headStyle"></style>
		<div id="sBar" style="background-color: #f7f7f7;position: fixed;width:100%;top: 0;z-index: 9999"></div>
		<script type="text/javascript">
			var immersed = 0;
			var ms=(/Html5Plus\/.+\s\(.*(Immersed\/(\d+\.?\d*).*)\)/gi).exec(navigator.userAgent);
			if(ms&&ms.length>=3){ // 当前环境为沉浸式状态栏模式
			    immersed=parseFloat(ms[2]);// 获取状态栏的高度
			}
			var headdiv = document.getElementById('header');//这是现有的header
			var headH = parseInt(immersed) + parseInt(headdiv.offsetHeight);
			document.getElementById('headStyle').innerHTML = '.headI{height: '+ headH +'px !important;} .hasManyCity .searchBox{top:'+immersed+'px} .qrcodeBtn{top:'+immersed+'px}';
			headdiv.className  += " headI";
			headdiv.style.paddingTop = immersed + "px";
		</script>
		<!--状态栏-->
		<!--店铺头部结束-->
		<!--头部切换开始-->
		<ul id="shangjia_tab">
			<li id="shangjia_tabf" style="display: none;">
				<a class="on">全部商品</a>
			</li>
			<li id="shangjia_tabm" style="display: none;">
				<a>推荐商品</a>
			</li>
			<li id="shangjia_tabl" style="display: none;">
				<a>店铺详情</a> 
			</li>
		</ul>
		<!--第一部分-->
		<div id="tab1" class="page-center-box dldetail" style="display: block;">
			<dl class="dealcard" id="moll_recommend"></dl>
			<div class="upload text-center text-xs gray" id="upload"></div>
			<div id="nulldiv1" style="text-align:center;margin-top: 20%;font-size: 14px;color: #999;display: none;">
				<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg" />
				<br /> 没有相关信息
			</div>
		</div>
		<!--第二部分-->
		<div id="tab2" class="page-center-box dldetail" style="display: none;">
			<dl class="dealcard" id="allGoods"></dl>
			<div class="upload text-center text-xs gray" id="upload2"></div>
			<div id="nulldiv2" style="text-align:center;margin-top: 20%;font-size: 14px;color: #999;display: none;">
				<img style="width: 30%;margin-bottom: 5%; " src="../../img/unllfabu.svg" />
				<br /> 没有相关信息
			</div>
		</div>
		<!--第三部分-->
		<div id="shangjia_detail" class="page-center-box dldetail" style="display: none;">
			 
			<div class="detailNr">
				<div class="nr mb10">
					<p><b>店铺地址</b>：<span id="addressS"></span></p>
					<p><b>自提地址</b>：<span id="toshopAddress"></span></p>
					<p><b>联系电话</b>：<span id="tel"></span></p>
					<p><b>营业状态</b>：<span id="openStaus"></span></p>
					<img src="" id="storeImg" style="width: 100%;">
					<p><b>店铺简介</b>：<span id="description2"></span></p>
				</div>
			</div>
			<dl class="dealcard" id="moll_recommend2"></dl>
			<div class="upload text-center text-xs gray" id="upload"></div>
		</div>

		<!--第一部分数据-->
		<script type="text/html" id="recommendTpl">
			<%if(recommendData.length==0){%> 暂无推荐商品
			<%}else{%>
			<%for(var i=0;i<recommendData.length;i++){%>
			<dd class="goodsItem react" onclick="goInfo('<%=recommendData[i].goods_id%>')">
				<div class="dealcard-img imgbox">
					<img src="<%=myUrl %><%=recommendData[i].thumb%>" alt="">
				</div>
				<div class="dealcard-block-right">
					<div class="dealcard-brand single-line">
						<%=recommendData[i].title%>
					</div>
					<div class="title text-block bage">
						<% if(recommendData[i].tag!=null && recommendData[i].tag!=''){ %>
						<% for(var j=0;j<recommendData[i].tag.length;j++){ %>
						<span class="mui-badge mui-badge-primary"><%= recommendData[i].tag[j].tag_name %></span>
						<%}%>
						<%} %>
					</div>
					<div class="price mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<span class="strong-color">￥</span>
							<span class="strong"><%=recommendData[i].price%></span>
						</div>
						<span class="mui-col-sm-4 mui-col-xs-4 middle Lgray">评价<%=recommendData[i].comments %>条</span>
						<span class="mui-col-sm-4 mui-col-xs-4 right Lgray">已售<%=recommendData[i].sales%></span>
					</div>
				</div>
			</dd>
			<%}%>
			<%}%>
		</script>
		<!--第二部分数据全部-->
		<script type="text/html" id="allGoods-detail">
			<% for(var i=0;i<list.length;i++){ %>
			<dd class="goodsItem react" onclick="goInfo(<%= list[i].goods_id%>)">
				<div class="dealcard-img imgbox">
					<%if(list[i].thumb && list[i].thumb != " "){%>
					<img src="<%= myurl%><%= list[i].thumb %>" onerror="javascript:this.src='../../img/market/none.png';" />
					<%}else{%>
					<img name="<%= myurl%><%= list[i].thumb %>" src="../../img/market/none.png" />
					<%}%>

				</div>
				<div class="dealcard-block-right">
					<div class="dealcard-brand single-line">
						<%= list[i].title %>
					</div>
					<div class="title text-block bage">
						<% if(list[i].tag!=null && list[i].tag!=''){ %>
						<% for(var j=0;j<list[i].tag.length;j++){ %>
						<span class="mui-badge mui-badge-primary"><%= list[i].tag[j].tag_name %></span>
						<%}%>
						<%} %>
					</div>
					<div class="price mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<span class="strong-color">￥</span>
							<span class="strong"><%= list[i].price %></span>
						</div>
						<span class="mui-col-sm-4 mui-col-xs-4 middle Lgray">评价<%= list[i].comments %>条</span>
						<span class="mui-col-sm-4 mui-col-xs-4 right Lgray">已售<%= list[i].sales %></span>
					</div>
				</div>
			</dd>
			<% } %>
		</script>
		<!--第三部分人们推荐数据-->
		<script type="text/html" id="recommendTpl2">
			<%if(recommendData.length==0){%> 暂无推荐商品
			<%}else{%>
			<%for(var i=0;i<recommendData.length;i++){%>
			<dd class="goodsItem  react" onclick="goInfo('<%=recommendData[i].goods_id%>')">
				<div class="dealcard-img imgbox">
					<img src="<%=myUrl %><%=recommendData[i].thumb%>" alt="">
				</div>
				<div class="dealcard-block-right">
					<div class="dealcard-brand single-line">
						<%=recommendData[i].title%>
					</div>
					<div class="title text-block bage">
						<% if(recommendData[i].tag!=null && recommendData[i].tag!=''){ %>
						<% for(var j=0;j<recommendData[i].tag.length;j++){ %>
						<span class="mui-badge mui-badge-primary"><%= recommendData[i].tag[j].tag_name %></span>
						<%}%>
						<%} %>
					</div>
					<div class="price mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<span class="strong-color">￥</span>
							<span class="strong"><%=recommendData[i].price%></span>
						</div>
						<span class="mui-col-sm-4 mui-col-xs-4 middle Lgray">评价<%=recommendData[i].comments %>条</span>
						<span class="mui-col-sm-4 mui-col-xs-4 right Lgray">已售<%=recommendData[i].sales%></span>
					</div>
				</div>
			</dd>
			<%}%>
			<%}%>
		</script>

		<!--</div>-->
		<!--</div>-->
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript"></script>
		<script type="text/javascript"> 
			
			//head渐变效果
			$(window).scroll(function() {
				var scrollTop = $(this).scrollTop();　　
				var scrollHeight = $(document).height();　　
				var windowHeight = $(this).height();　　
				if(scrollTop >= 100) {//不透明背景
					mui('#header')[0].style.backgroundColor='white';
					mui('.mui-action-back')[0].style.color='#999';
					mui('#titleName')[0].style.color='#555';
					mui('#header')[0].style.boxShadow="0 0 2px rgba(175, 166, 166, 0.85)";
				 }else{//透明背景
				 	mui('#header')[0].style.backgroundColor='transparent';
					mui('#titleName')[0].style.color='#fff';
					mui('.mui-action-back')[0].style.color='white';
					mui('#header')[0].style.boxShadow="0 0 0 rgba(175, 166, 166, 0.85)";
				 }
			});
			
			function collectfun() { //收藏方法
				mui.plusReady(function(){
					var storeId = plus.webview.currentWebview().storeId;
					var myuserid = plus.storage.getItem('userid'); 
					var oldToken = plus.storage.getItem('oldToken');

					if(mui('#collectbtn')[0].innerHTML == '+收藏') { 
						mui.ajax(serverUrl + '/api/mall/collectformall', {
							data: {
								userid: myuserid,
								type_name:1,
								collect_id:storeId,
								isDelete :0
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							headers: {
								"token": oldToken,
								'city':1
							},
							success: function(data) {
								if(data.errno == 0){
									mui('#collectbtn')[0].innerHTML = '已收藏';
									mui('#collectbtn')[0].style.backgroundColor = '#e4c6c6';
									mui.toast('收藏成功');
								}else{
									mui.toast('操作失败');
								}
							},
							error: function(xhr, type, errorThrown) {
								//异常处理；
								plus.nativeUI.closeWaiting();
								mui.toast("当前网络不好请重试");
							}
						});
					
					} else {
						mui.ajax(serverUrl + '/api/mall/collectformall', {
							data: {
								userid: myuserid,
								type_name:1,
								collect_id:storeId,
								isDelete :1
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							headers: {"token": oldToken,'city':1},
							success: function(data) { 
								if(data.errno == 0){
									mui('#collectbtn')[0].innerHTML = '+收藏';
									mui('#collectbtn')[0].style.backgroundColor = '#fff';
									mui.toast('已取消收藏');
								}else{
									mui.toast('操作失败');	
								}
								
								},
							error: function(xhr, type, errorThrown) {
								//异常处理；
								plus.nativeUI.closeWaiting();
								mui.toast("当前网络不好请重试");
							}
						});
					}
				})
			}
			mui.plusReady(function() {
				var tablist = mui('#shangjia_tab')[0].getElementsByTagName('a');
				var storeT = plus.webview.currentWebview().storeType;
				if(storeT == 1){ 
					document.getElementById("shangjia_detail").style.display = 'block';
					mui('#tab1')[0].style.display = mui('#tab2')[0].style.display = 'none';
					mui('#shangjia_tabl')[0].style.display = 'block';
					mui('#shangjia_tabm')[0].style.display = 'none';
					mui('#shangjia_tabf')[0].style.display = 'none';
				 	$('#shangjia_tabl a').addClass('on'); 
				}else{
					mui('#shangjia_tabl')[0].style.display = 'block';
					mui('#shangjia_tabm')[0].style.display = 'block';
					mui('#shangjia_tabf')[0].style.display = 'block';
				}
					
				for(var i = 0; i < tablist.length; i++) {
					tablist[i].addEventListener('tap', function() {
						for(var j = 0; j < tablist.length; j++) {
							tablist[j].className = '';
						}
						this.className = 'on';
					})
				}
				
				
				// 获取状态栏的高度
				var immersed = 0;
				var ms = (/Html5Plus\/.+\s\(.*(Immersed\/(\d+\.?\d*).*)\)/gi).exec(navigator.userAgent);
				if(ms && ms.length >= 3) { // 当前环境为沉浸式状态栏模式
					immersed = parseFloat(ms[2]); // 获取状态栏的高度
				}
				var dldetail = mui('.dldetail');
				for(i = 0; i < dldetail.length; i++) {
					dldetail[i].style.top = 190 + immersed + 'px';
				}
				
				//滚动 动态显示 tap
				var fangxiang;
				function scroll(fn) {
					var beforeScrollTop = document.body.scrollTop,
						fn = fn || function() {};
					window.addEventListener("scroll", function() {
						var afterScrollTop = document.body.scrollTop,
							delta = afterScrollTop - beforeScrollTop;
						if(delta === 0) return false;
						fn(delta > 0 ? "down" : "up");
						beforeScrollTop = afterScrollTop;
					}, false);
				}
				scroll(function(direction) {
					fangxiang = direction;
				});
//				window.onscroll = function() {
//					var Stop = document.documentElement.scrollTop || document.body.scrollTop;
//					if(Stop >= 120) {
//						mui('#shangjia_tab')[0].style.position = 'fixed';
//						mui('#shangjia_tab')[0].style.top = 50 + immersed + 'px';
//					}
//					if(fangxiang == 'up' && Stop <= 120) {
//						mui('#shangjia_tab')[0].style.position = 'relative';
//						mui('#shangjia_tab')[0].style.top = '170px';
//					}
//				}

				//数据部分
				var oldToken = plus.storage.getItem("oldToken");
				var storeId = plus.webview.currentWebview().storeId;
				var myuserid = plus.storage.getItem('userid'); 
				//请求商品收藏列表
				mui.ajax(serverUrl+'/api/useraccount/mymallcollect',{  									
					data:{type_name:1,userid:myuserid}, 
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型 
					timeout:10000,//超时时间设置为10秒；	
					headers:{"token":oldToken}, 
					success:function(data){
						if(data.errno == 0){ 
							if(data.data.storeCollect.length){ 
								for(var i=0;i<data.data.storeCollect.length;i++){
									if(data.data.storeCollect[i].store_id == storeId){
										mui('#collectbtn')[0].innerHTML = '已收藏';
									}
								}
							}
						}
					},
					error:function(xhr,type,errorThrown){
						 
						mui("#upload")[0].innerHTML = ""; 
						mui('#nulldiv')[0].style.display = 'block';
					}
				}); 
				var Spagenum = 2,
					Spagenum2 = 2; //实到页数
				var Ypagenum = 1,
					Ypagenum2 = 1; //应到页数
				var twotab = mui('#shangjia_tab')[0].getElementsByTagName('a')[1],
					theretab = mui('#shangjia_tab')[0].getElementsByTagName('a')[2],
					onetab  = mui('#shangjia_tab')[0].getElementsByTagName('a')[0]; //tabs
				var flag1 = 0,
					flag2 = 0,
					flag3 = 0; //点击次数标杆
				var shoptype; //商家类型

				//热门推荐部分
				twotab.onclick = function() {
					flag1++;
					mui('#tab1')[0].style.display = 'block';
					mui('#tab2')[0].style.display = mui('#shangjia_detail')[0].style.display = 'none';
					//热门推荐 数据渲染 
					if(flag1 == 1) {
						plus.nativeUI.showWaiting('加载中 ...', { width: '100px', height: '80px' }); //显示等待框

						mui.ajax(serverUrl + '/api/mall/storeinfo', { //加载部分详情
							data: { store_id: storeId },
							dataType: 'json',
							type: 'post',
							timeout: 10000,
							headers: { "token": oldToken },
							success: function(data, type, xhr) {
								$('#storeName').html(data.data.store_name);
								$('#title2').html(data.data.secondary_name);
								
								//						$('#floorName').html(data.data.store_name);
								if(data.data.logo == '' || data.data.logo == null) {
									$('#storeLogo').attr('src', "../../img/theList/storeLogo.png");
								} else {
									$('#storeLogo').attr('src', serverimgUrl + data.data.pic);
								}
								mui('#storeLogo')[0].style = 'block';
								if(data.data.pic == '' || data.data.pic == null) {
									$('#storeImg').attr('src', "../../img/theList/storeNo.jpg");
								} else {
									$('#storeImg').attr('src', data.data.pic);
								}
							},
							error: function(xhr, type, errorThrown) {}
						});
						mui.ajax(serverUrl + '/api/mall/mallgooodslist', { //加载推荐
							data: {
								currentPage: 1,
								numsPerPage: 5,
								recommend: 1,
								categoryid: '',
								differentiate: '',
								storeid: storeId,
								brand: '',
								keyword: '',
								order_type: 'create_time',
								desc: 'asc'
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型 
							timeout: 10000, //超时时间设置为10秒；	
							headers: { "token": oldToken },
							success: function(data) {
								console.log('推荐', data);
								if(data.errno == 0) {
									var dataobj = data.data.return.data;
									var recommendObj = {};
									recommendObj.myUrl = serverimgUrlE;
									recommendObj.recommendData = dataobj
									for(var m = 0; m < data.data.return.data.length; m++) {
										if(data.data.return.data[m].tag == '') {
											data.data.return.data[m].tag = null;
										} else {
											data.data.return.data[m].tag = eval("(" + data.data.return.data[m].tag + ")");
										}
									}
									document.getElementById("moll_recommend").innerHTML += template("recommendTpl", recommendObj);
									mui(".upload")[0].innerHTML = "";
									//上滑加载
									$(window).scroll(function() {　　
										var scrollTop = $(this).scrollTop();　　
										var scrollHeight = $(document).height();　　
										var windowHeight = $(this).height();　　
										if(scrollTop + windowHeight == scrollHeight) {
											if(Spagenum <= data.data.return.totalPages && Spagenum == Ypagenum + 1) { //当前页小于等于总页数时请求下一页
												mui("#upload")[0].innerHTML = "<img src='../../img/balls.svg' />";
												Ypagenum++; //满足加载情况,应到页数+1
												console.log('发起请求,实到' + Spagenum + '页');
												console.log('发起请求,应到' + Ypagenum + '页');
												mui.ajax(serverUrl + '/api/mall/mallgooodslist', {
													data: {
														currentPage: Spagenum,
														numsPerPage: 5,
														recommend: 1,
														categoryid: '',
														differentiate: '',
														storeid: storeId,
														brand: '',
														keyword: '',
														order_type: 'create_time',
														desc: 'asc'
													},
													dataType: 'json', //服务器返回json格式数据
													type: 'post', //HTTP请求类型 
													timeout: 10000, //超时时间设置为10秒；	
													headers: { "token": oldToken },
													success: function(data) {
														if(data.errno == 0) {
															var dataobj = data.data.return.data
															var recommendObj = {}
															recommendObj.myUrl = serverimgUrlE;
															recommendObj.recommendData = dataobj
															for(var m = 0; m < data.data.return.data.length; m++) {
																if(data.data.return.data[m].tag == '') {
																	data.data.return.data[m].tag = null;
																} else {
																	data.data.return.data[m].tag = eval("(" + data.data.return.data[m].tag + ")");
																}
															}
															document.getElementById("moll_recommend").innerHTML += template("recommendTpl", recommendObj);
														}
														mui("#upload")[0].innerHTML = " ";
														Spagenum++; //加载成功,当前页+1
														console.log('成功+1,实到' + Spagenum);
														console.log('成功+1,应到' + Spagenum);
													},
													error: function(xhr, type, errorThrown) {
														Ypagenum--; //失败是应到-1
														mui.toast("当前网络不好请重试");
														mui("#upload")[0].innerHTML = "";
													}
												});
											} else if(Spagenum == data.data.return.totalPages + 1) { //当前页不小于等于总页数时请求下一页
												mui("#upload")[0].innerHTML = "到底了";
											}　
										}
									}); //加载下一部分结束

								} else {
									mui('#nulldiv1')[0].style.display = 'block';
								}
								plus.nativeUI.closeWaiting(); //关闭等待框
							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting(); //关闭等待框
								mui("#upload")[0].innerHTML = "";
								mui('#nulldiv1')[0].style.display = 'block';
							}
						});
					}
				}

				//全部商品部分
				onetab.onclick = function() {
					mui('#tab2')[0].style.display = 'block';
					mui('#tab1')[0].style.display = mui('#shangjia_detail')[0].style.display = 'none';
					//获取全部商品列表
					flag2++;
					if(flag2 == 1) {
						plus.nativeUI.showWaiting('加载中 ...', { width: '100px', height: '80px' }); //显示等待框
						mui.ajax(serverUrl + '/api/mall/mallgooodslist', {
							data: {
								currentPage: 1,
								numsPerPage: 5,
								recommend: '',
								categoryid: '',
								differentiate: '',
								storeid: storeId,
								brand: '',
								keyword: '',
								order_type: 'create_time',
								desc: 'asc'
							},
							dataType: 'json',
							type: 'post',
							timeout: 10000,
							headers: { "token": oldToken },
							success: function(data1, type, xhr) {
								if(data1.errno == 0) {
									console.log('总页数', data1.data.return.totalPages);
									console.log('全部', data1);
									for(var m = 0; m < data1.data.return.data.length; m++) {
										if(data1.data.return.data[m].tag == '') {
											data1.data.return.data[m].tag = null;
										} else {
											data1.data.return.data[m].tag = eval("(" + data1.data.return.data[m].tag + ")");
										}
									}
									var alldata = {};
									alldata.list = data1.data.return.data;
									alldata.myurl = serverimgUrlE;
									var html = template("allGoods-detail", alldata);
									document.getElementById("allGoods").innerHTML = html;
									$(window).scroll(function() {　　
										var scrollTop = $(this).scrollTop();　　
										var scrollHeight = $(document).height();　　
										var windowHeight = $(this).height();　　
										if(scrollTop + windowHeight == scrollHeight) {
											if(Spagenum2 <= data1.data.return.totalPages && Spagenum2 == Ypagenum2 + 1) { //当前页小于等于总页数时请求下一页
												mui("#upload2")[0].innerHTML = "<img src='../../img/balls.svg' />";
												Ypagenum2++; //满足加载情况,应到页数+1
												console.log('发起请求,实到' + Spagenum2 + '页');
												console.log('发起请求,应到' + Ypagenum2 + '页');
												mui.ajax(serverUrl + '/api/mall/mallgooodslist', {
													data: {
														currentPage: Spagenum2,
														numsPerPage: 5,
														recommend: '',
														categoryid: '',
														differentiate: '',
														storeid: storeId,
														brand: '',
														keyword: '',
														order_type: 'create_time',
														desc: 'asc'
													},
													dataType: 'json', //服务器返回json格式数据
													type: 'post', //HTTP请求类型 
													timeout: 10000, //超时时间设置为10秒；	
													headers: { "token": oldToken },
													success: function(data1) {
														if(data1.errno == 0) {
															for(var m = 0; m < data1.data.return.data.length; m++) {
																if(data1.data.return.data[m].tag == '') {
																	data1.data.return.data[m].tag = null;
																} else {
																	data1.data.return.data[m].tag = eval("(" + data1.data.return.data[m].tag + ")");
																}
															}
															var alldata = {};
															alldata.list = data1.data.return.data;
															alldata.myurl = serverimgUrlE;
															var html = template("allGoods-detail", alldata);
															document.getElementById("allGoods").innerHTML += html;
														}
														Spagenum2++; //加载成功,当前页+1
														console.log('成功+1,实到' + Spagenum2);
														console.log('成功+1,应到' + Ypagenum2);
													},
													error: function(xhr, type, errorThrown) {
														Ypagenum2--; //失败是应到-1
														mui.toast("当前网络不好请重试");
														mui("#upload")[0].innerHTML = "";
													}
												});
											} else if(Spagenum2 == data1.data.return.totalPages + 1) { //当前页不小于等于总页数时请求下一页
												mui("#upload2")[0].innerHTML = "到底了";
											}
										}
									}); //加载下一部分结束
								} else {
									mui('#nulldiv2')[0].style.display = 'block';
								}

								plus.nativeUI.closeWaiting(); //关闭等待框
							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting(); //关闭等待框
								mui.toast('当前网络不好请重试');
								mui('#nulldiv2')[0].style.display = 'block';
							}
						});
					}
				}

				//店铺详情部分
				theretab.onclick = function() { 
					mui('#shangjia_detail')[0].style.display = 'block';
					mui('#tab1')[0].style.display = mui('#tab2')[0].style.display = 'none';
					//获取店铺详情\
					flag3++;
					if(flag3 == 1) {
						plus.nativeUI.showWaiting('加载中 ...', { width: '100px', height: '80px' }); //显示等待框
						mui.ajax(serverUrl + '/api/mall/storeinfo', {
							data: { store_id: storeId },
							dataType: 'json',
							type: 'post',
							timeout: 10000,
							headers: { "token": oldToken },
							success: function(data, type, xhr) {
								console.log("dd ",data)
								shoptype = data.data.shop_type;
								$('#storeName').html(data.data.store_name);
								$('#title2').html(data.data.secondary_name);
//								$('#floorName').html(data.data.store_name);
								$("#toshopAddress").html(data.data.since_address);
//								$("#delinfo").html(data.data.since_address);
								$('#doorNo').html(data.data.floor_name + "(" + data.data.door_no + ")");
								$('#businessH').html(data.data.business_hours);
								$('#tel').html(data.data.phone);
//								$('#addressS').html(data.data.address);
								$('#openStaus').html(data.data.op_status);
								$('#description').html(data.data.description);
								$('#description2').html(data.data.description);
								if(!data.data.floor_name){
									data.data.floor_name = '';
								}
								$('#addressS').html(data.data.floor_name);
								mui('#storeLogo')[0].style.display = 'block';
								if(data.data.logo == '' || data.data.logo == null) {
									$('#storeLogo').attr('src', "../../img/theList/storeLogo.png");
								} else {
									$('#storeLogo').attr('src', serverimgUrlE + data.data.logo);
									$('#storeLogo').error(function() {
										$('#storeLogo').attr('src', "../../img/theList/storeLogo.png");
									})
								}
								if(data.data.pic == '' || data.data.pic == null) {
									$('#storeImg').attr('src', "../../img/theList/storeNo.jpg");
								} else {
									$('#storeImg').attr('src', serverimgUrlE + data.data.pic);
									$('#storeImg').error(function() {
										$('#storeImg').attr('src', "../../img/theList/storeNo.jpg");
									})
								}
								
								plus.nativeUI.closeWaiting(); //关闭等待框
							},
							error: function(xhr, type, errorThrown) {
								mui.toast('当前网络不好');
								plus.webview.currentWebview().close();
							}
						});
					}
				}
				theretab.onclick(); //默认显示 
				if(!storeT){
				onetab.onclick(); //默认显示 
				}

				window.goInfo = function(goodsId) {
					openview({
						view: "mall-detail.html",
						create: true,
						extrasobj: { goodsId: goodsId, shoptype: shoptype }
					})
				}
			}); //read
		</script>

	</body>

</html>